.card{
    border: none;
    background-color: none !important;
    margin: 0 10px;
}
.card-main{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card img{
    height: 55px;
    filter: grayscale();
}
.card:hover img{
  filter: grayscale(0);
}

@media only screen and (max-width: 768px){

  .card-main{
      justify-content: space-evenly;
  }
  .card{

    margin: 5px 10px;
}

}
