.banner {
  background-size: cover;
  height: 450px;
  background-position: center center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.des-Name {
  font-family: "Cormorant Unicase", serif;
  letter-spacing: 3px;
  font-size: 45px;
}

.blogs a {
  text-decoration: none;
}
.blogs img {
  height: 200px;
  object-fit: cover;
  transition: all 0.5s ease 0s;
}
.blogs:hover img {
  transform: scale(1.1);
}
.blog-btn:hover {
  transition: all 0.8s ease 0s;
  background-color: transparent;
  color: #f68800;
}

.card-body{
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
