<section *ngFor="let faqs of allFaqs | slice: 5:6">
  <section
    class="banner text-center"
    [ngStyle]="{
      'background-image':
        'linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0 ,0 ,0, .5)) , url(' +
        faqs.thumb +
        ')'
    }"
  >
    <div class="container">
      <div class="head text-uppercase d-inline-block font-weight-bold pb-1">
        <h1>
          <span class="main-color des-Name font-weight-bold">
            {{ faqs.name }}</span
          >
        </h1>
      </div>
      <p class="mt-2"></p>
      <div class="contact-btns d-none d-sm-flex justify-content-center mt-3">
        <a href="" class="call-btn d-flex align-items-center">
          <span class="phone-icon"
            ><i class="fas fa-phone-alt main-color"></i
          ></span>
          <span class="phone-text text-dark"
            >{{"Call Us"|translate}}: <strong>+1(888) 513-5971</strong></span
          >
        </a>
      </div>
    </div>
  </section>
</section>
<section>
  <div class="container">
    <div  class="page-links py-2">
     <a class="hover-color" routerLink="/"> <span > {{"Home"|translate}} / </span>  </a>
     <a class="hover-color" routerLink="/{{desSlug}}"> <span > {{desName}} / </span>  </a>

      <span class="main-color">{{faName}}</span>  

    </div>
  </div>
</section>
<section class="py-4">
 <div class="container" >
   <div class="row">
     <div class="col-lg-9" >
       <div class="accordion-head-line">
          <h1 class="head-accordion">{{"Myths & Facts"|translate}}</h1>
       </div>
       <div >
        <accordion >
          <accordion-group  *ngFor="let faqs of faqsContainer; let i = index" >
            <a class="w-100 btn-main"   (click)="openPlus(i)"  accordion-heading>
               <div class="name">
                <h1 >{{faqs.type}}: {{faqs.faq_name}}</h1>
               </div> <div class="icon">
                <!-- <i class="fa" [ngClass]="!open[i] ? 'fa-plus': 'fa-minus'"></i> -->
                <i class="fas fa-sort-down"></i>
              <!-- <ng-template #!open>
                <i  Class="fas fa-minus"></i>
              </ng-template>   -->
            </div>
            </a>
            <div class="">
              <div class=" thumb">
                <img [src]="faqs.faq_thumb" class="img-fluid" [alt]="faqs.faq_thumb_alt">
              </div>
              <div class="type-name">
                <h1>{{faqs.type}}:</h1> 
                <h2>{{faqs.faq_name}}</h2>
              </div>
              <div class="cate-date  d-flex justify-content-between">
                <p>{{faqs.category_name}}</p> 
                <p class="">{{faqs.faq_created_at}}</p>
              </div>
              <div class="desc">
                <p [innerHTML]="faqs.faq_overview"></p>              
              </div>
              <div class="dir"></div>

             
            </div>
            
            
          </accordion-group>  
          
          
          
        </accordion>
       </div>
     
     </div>
     <div class="col-lg-3 review">
      <app-expert-reviews></app-expert-reviews>     
    </div>

   </div>
 
  <!-- <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header bg-transprant" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" (click)="openPlus()" type="button" data-icon-closed="_icon--plus" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">     
          Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left " type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Collapsible Group Item #2
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Some placeholder content for the second accordion panel. This panel is hidden by default.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" (click)="openPlus()" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div class="one">
              ahmed
            </div>
            <div class="two">
              <i class="fas fa-plus"></i>
            </div>
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
        </div>
      </div>
    </div>
  </div> -->
 </div>
  <!-- <div class="container">
    <div class="head-title text-center mb-5">
      <h2 class="font-weight-bold">{{ faqs_name }}</h2>
    </div>
    <div class="row">
      <div
        class="col-lg-4 col-md-6 col-sm-12 mb-4"
        *ngFor="let faqs of faqsContainer"
      >
        <div class="blogs overflow-hidden">
          <a
            routerLink="/{{ desSlug }}/facts-myths/{{ faqs.faq_slug }}"
            (click)="setId(faqs.faq_id)"
            class="text-dark"
          >
            <div class="card text-center">
              <img
                src="{{ faqs.faq_thumb }}"
                class="card-img-top"
                alt="{{ faqs.faq_thumb_alt }}"
              />
              <div class="card-body">
                <h3 class="card-title title-category">{{ faqs.faq_name }}</h3>
                <p class="card-text" [innerHTML]="faqs.faq_description"></p>
                <a
                  routerLink="/{{ desSlug }}/facts-myths/{{ faqs.faq_slug }}"
                  (click)="setId(faqs.faq_id)"
                  class="btn main-btn blog-btn w-75 m-auto"
                  >Read More</a
                >
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div> -->
</section>

<app-sponsorss></app-sponsorss>
