<section id="accomodation" class="accomodation my-3">
    <div class="container">
        <div class="head mb-4">
            <h2 class="font-weight-bold">Accommodation for 5 star deluxe package</h2>
        </div>
        <div class="row">
            <div *ngFor="let acc of accomodation.hotels" class="col-12 col-md-3 pt-2">
                <div class="card overflow-hidden">
                    <a routerLink="{{acc.slug}}">
                        <div class="row ">
                            <div class="col-sm-12 ">
                                <div class="acco-image">
                                    <img src="{{acc.thumb}}" alt="{{acc.thumb_alt}}" class="img-fluid " />
                                </div>
                            </div>
                            <div class="col-sm-12 text-center p-0">
                                <div class="card-body">
                                    <p class="text-dark mb-1  font-weight-bold">
                                     {{acc.name}}
                                    </p>
                                    <div class="mb-3">
                                        
                                        <rating [(ngModel)]="acc.rate"  [max]="max" [readonly]="isReadonly"
                                            (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                                            [titles]="['one','two','three']">
                                        </rating>
                                    </div>
                                    <div class="acco-link">
                                        <a href="#" class="main-btn">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>


    </div>
</section>