<section class="sec-banner text-center">
    <div class="container">
        <div class="head text-uppercase d-inline-block font-weight-bold pb-1">
            <h1><span class="main-color font-weight-bold">Egypt </span> Travel Guide
            </h1>
        </div>
        <p class="mt-2">Below you'll find the wide variety of attractions here in Egypt. Keep any of these in mind
            when planning your trip!</p>
        <div class="contact-btns d-none d-sm-flex justify-content-center mt-3">
            <a href="" class="main-btn mr-3">Read More <i class="fas fa-arrow-right"></i></a>
            <a href="" class="call-btn d-flex align-items-center">
                <span class="phone-icon"><i class="fas fa-phone-alt main-color"></i></span>
                <span class="phone-text text-dark">Call Us: <strong>+1(888) 513-5971</strong></span>
            </a>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="page-links py-2">
            <span>Home / </span>
            <span class="main-color">All Blogs</span>
        </div>
    </div>
</section>
<section class="sec-bg py-4">
    <div class="container">
        <div class="head-title text-center mb-4">
            <h2 class="font-weight-bold">Our Story</h2>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="assets/imgs/jordan.jpg" class="img-fluid" />
            </div>
            <div class="col-12 col-md-6">
                <div class="blog-content">
                    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book</p>
                    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book</p>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-5">
                <div class="blog-content">
                    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book</p>
                    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book</p>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-5">
                <img src="assets/imgs/jordan.jpg" class="img-fluid" />
            </div>
        </div>
    </div>
</section>