<section class="bg-white mt-3 px-3 py-4">
    <div class="head mb-2">
        <h3 class="font-weight-bolder">Travel Expert Reviews</h3>
    </div>
    <div class="">
        <ul class="p-0">
            <li class="list-group-item d-flex px-0 py-2 mb-2">
                <img src="assets/imgs/images (3).png" class="img-fluid">
            </li>
            <li class="list-group-item d-flex px-0 py-2 mb-2">
                <img src="assets/imgs/logo_review-centre.png" class="img-fluid">
            </li>
            <li class="list-group-item d-flex px-0 py-2 mb-2">
                <img src="assets/imgs/logo_review-centre.png" class="img-fluid">
            </li>
        </ul>
    </div>
</section>