<section class="my-5 tour-slider">
    <div class="container">
        <div class="head-title text-center mb-5">
            <p class="sat-font main-color mb-0">{{"Egypt Special" |translate}}</p>
            <h2 class="font-weight-bold">{{"Tour Packages" |translate}}</h2>
        </div>
        <carousel [cellsToShow]="cellsToShow" [height]="height" [arrowsOutside]="arrowsOutside">
            <div class="carousel-cell" *ngFor="let package of packagesContainer">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top img-fluid" src="{{package.thumb}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-dark">{{package.name}}</h5>
                            <div class="rate d-flex justify-content-between">
                                <span class="main-color">{{package.days}} Days</span>
                                <div class="rating">
                                    <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                                        (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                                        [titles]="['one','two','three']"></rating>
                                </div>
                            </div>
                            <div class="icons my-2">
                                <i class="fas fa-plane mr-2"></i>
                                <i class="fas fa-ship mr-2"></i>
                                <i class="fas fa-futbol mr-2"></i>
                            </div>
                            <p class="card-text" [innerHTML]="package.description"></p>
                            <p class="font-weight-bold text-dark">${{package.start_price}}</p>
                        </div>
                    </a>
                </div>
            </div>

            <!-- <div class="carousel-cell">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top img-fluid" src="assets/imgs/three-pyramids-egypt.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-dark">Red Sea Adventure</h5>
                            <div class="rate d-flex justify-content-between">
                                <span class="main-color">6 days</span>
                                <div class="rating">
                                    <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                                        (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                                        [titles]="['one','two','three']"></rating>
                                </div>
                            </div>
                            <div class="icons my-2">
                                <i class="fas fa-plane mr-2"></i>
                                <i class="fas fa-ship mr-2"></i>
                                <i class="fas fa-futbol mr-2"></i>
                            </div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <p class="font-weight-bold text-dark">$689.00</p>
                        </div>
                    </a>
                </div>
            </div> -->
            <!-- 
            <div class="carousel-cell">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top img-fluid" src="assets/imgs/2f3656381dd387eb872e07f1e118e477.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-dark">Red Sea Adventure</h5>
                            <div class="rate d-flex justify-content-between">
                                <span class="main-color">6 days</span>
                                <div class="rating">
                                    <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                                        (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                                        [titles]="['one','two','three']"></rating>
                                </div>
                            </div>
                            <div class="icons my-2">
                                <i class="fas fa-plane mr-2"></i>
                                <i class="fas fa-ship mr-2"></i>
                                <i class="fas fa-futbol mr-2"></i>
                            </div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <p class="font-weight-bold text-dark">$689.00</p>
                        </div>
                    </a>
                </div>
            </div> -->
            <!-- 
            <div class="carousel-cell">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top img-fluid" src="assets/imgs/110852_fa9cc670.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-dark">Red Sea Adventure</h5>
                            <div class="rate d-flex justify-content-between">
                                <span class="main-color">6 days</span>
                                <div class="rating">
                                    <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                                        (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                                        [titles]="['one','two','three']"></rating>
                                </div>
                            </div>
                            <div class="icons my-2">
                                <i class="fas fa-plane mr-2"></i>
                                <i class="fas fa-ship mr-2"></i>
                                <i class="fas fa-futbol mr-2"></i>
                            </div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <p class="font-weight-bold text-dark">$689.00</p>
                        </div>
                    </a>
                </div>
            </div> -->
            <!-- <div class="carousel-cell">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top img-fluid"
                            src="assets/imgs/the-best-10-river-nile-cruises-in-egypt.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-dark">Red Sea Adventure</h5>
                            <div class="rate d-flex justify-content-between">
                                <span class="main-color">6 days</span>
                                <div class="rating">
                                    <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                                        (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                                        [titles]="['one','two','three']"></rating>
                                </div>
                            </div>
                            <div class="icons my-2">
                                <i class="fas fa-plane mr-2"></i>
                                <i class="fas fa-ship mr-2"></i>
                                <i class="fas fa-futbol mr-2"></i>
                            </div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <p class="font-weight-bold text-dark">$689.00</p>
                        </div>
                    </a>
                </div>
            </div> -->
            <!-- <div class="carousel-cell">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top img-fluid" src="assets/imgs/three-pyramids-egypt.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-dark">Red Sea Adventure</h5>
                            <div class="rate d-flex justify-content-between">
                                <span class="main-color">6 days</span>
                                <div class="rating">
                                    <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                                        (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                                        [titles]="['one','two','three']"></rating>
                                </div>
                            </div>
                            <div class="icons my-2">
                                <i class="fas fa-plane mr-2"></i>
                                <i class="fas fa-ship mr-2"></i>
                                <i class="fas fa-futbol mr-2"></i>
                            </div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <p class="font-weight-bold text-dark">$689.00</p>
                        </div>
                    </a>
                </div>
            </div> -->
        </carousel>
    </div>
</section>