<section class="sec-banner text-center">
    <div class="container">
        <div class="head text-uppercase d-inline-block font-weight-bold pb-1">
            <h1><span class="main-color font-weight-bold">{{"All Destinations"|translate}}</span> {{"Travel Guide"|translate}}
            </h1>
        </div>
        <p class="mt-2">{{"Below you'll find the wide variety of attractions here in Egypt. Keep any of these in mind when planning your trip"|translate}}!</p>
        <div class="contact-btns d-none d-sm-flex justify-content-center mt-3">
            <a href="" class="call-btn d-flex align-items-center">
                <span class="phone-icon"><i class="fas fa-phone-alt main-color"></i></span>
                <span class="phone-text text-dark">{{"Call Us"|translate}}: <strong>+1(888) 513-5971</strong></span>
            </a>
        </div>
    </div>
</section>
<section>
    <div class="container">
      <div  class="page-links py-2">
       <a class="hover-color" routerLink="/"> <span > {{"Home"|translate}} / </span>  </a>
        <span class="main-color">{{"All Destinations"|translate}}</span>  
      </div>
    </div>
  </section> 
<section class="sec-bg py-4">
    <div class="container">
        <div class="head-title text-center">
            <p class="sat-font main-color mb-0">{{"Tour Countries"|translate}}</p>
            <h2 class="font-weight-bold">{{"All Destination"|translate}}</h2>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4" *ngFor="let des of destinationContainer">
                <div class="destination-details">
                    <a  routerLink="/{{des.slug}}" (click)="setId(des.id)">
                        <img src="{{des.thumb}}" class="img-fluid" alt="{{des.thumb_alt}}" />
                        <div class="overlay">
                            <a class="text-white" (click)="setId(des.id)" routerLink="/{{des.id}}">{{des.name}}</a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-sponsors-logo></app-sponsors-logo>
<app-sponsorss></app-sponsorss>