<section class="sec-banner ">
  <div class="text-center">
    <h3>EGYPT TRAVEL EXPERTS</h3>
    <h5>Guide to a Perfect trip in Egypt!</h5>
  </div>
</section>
<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h1>EGYPT TRAVEL EXPERTS</h1>
        <div class="descrip">
          <p>
            Ask Aladdin, is an international company specializing in travel advice for Egypt. No matter where you live, it is
            the leader of Egyptian travel information. Ask Aladdin provides Egyptian travel info and a full range of packages
            for tourists to choose from. Services and products provided by Egypt Travel Experts will initially include
            pre-arranged tours, custom packages according to clients specifications, travel consultation, and as time progresses
            making reservations for lodging amongst other related services
          </p>
          <img src="../../../assets/imgs/partnersu.gif" alt="" />
        </div>
        <div class="descrip">
          <p>
            Our travel packages will ensure that travelers are thoroughly satisfied at the end of their trip. Seeing to every
            customer's requests is also one of our utmost priorities; we cannot afford to delay our clients for whatever reason,
            as this will have a negative bearing on our image and reputation, including future business. As such, we need to be
            in constant contact with the client, including finding hotels and lodging, to ensure that we are constantly
            available to the client while exceeding their expectations.
          </p>
        </div>
        <div class="list">
          <ul class="">
            <li class="list-inline">
              Ask Aladdin - Egypt Travel Experts' success lie in effective market segmentation through the identification of
              several niche markets and implementation strategies. With our world travel partners, we intend to provide
              individual and group travel to leisure clients.
            </li>
            <li>
              The Products provided by AskAladdin, the Egypt Travel Experts, initially includes pre-arranged tours, custom
              packages according to clients' specifications, and travel consultation. Plus, making reservations alongside our
              other related services.
            </li>
            <li>
              We realize the importance of establishing and maintaining fruitful strategic alliances with various stakeholders,
              including hotels, lodges, and travel agencies, amongst others, to provide service to a constant flow of customers,
              fulfilling their needs at every opportunity.
            </li>
          </ul>
          <img src="../../../assets/imgs/per.jpg" class="ml-5" alt="" />
        </div>
        <h3>Our Business Strategy:</h3>
        <p>
          Our business strategy revolves around providing quality service to our various target customers and in the process
          fully satisfying their needs.
        </p>
        <p>
          This shall be undertaken through the recruitment of a professional team and the provision of good quality
          custom-designed travel packages, catering to each client's particular needs.
        </p>

        <div class="list">
          <h3>In summary, our objectives are:</h3>
          <ul class="">
            <li class="list-inline">Continuously provide enjoyable high-quality excursions/trips on time and on budget.</li>
            <li>Develop enthusiastically satisfied customers who leave with memorable experiences.</li>
            <li>Establish a strong market presence that assures short-term and long-term profitability.</li>
          </ul>
        </div>

        <h3>Growth and success:</h3>
        <p>We seek to differentiate ourselves as the premier travel company in the greater Cairo area.</p>
        <p>
          We seek fundamental respect for giving our customers great value, and for maintaining a healthy and congenial
          workplace whereas our team will be always focused and centered on our customers.
        </p>

        <br />
        <br />
        <hr />
      </div>
      <div class="col-lg-3"><app-expert-reviews></app-expert-reviews></div>
    </div>
  </div>
</section>
