.privacy-content p {
  font-size: 20px;
}
.banner{
  background-size: cover;
  height: 450px;
  background-position: center center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
