<section class="bg-white mt-3 px-2 py-4">
    <div class="container">
        <div class="head mb-4">
            <h3 class="font-weight-bold">Package Travel Experiences</h3>
        </div>
        <div class="">
            <ul class="list-group p-0">
                <li class="list-group-item d-flex px-0 py-2">
                    <img src="assets/imgs/dot.svg" class="img-fluid">
                    <span>If you want to capture the beautiful memories with your family members & friends then enjoy
                        your vacation by sightseeing scenario of Egypt trips.</span>
                </li>
                <li class="list-group-item d-flex px-0 py-2">
                    <img src="assets/imgs/dot.svg" class="img-fluid">
                    <span>Our private Egypt tours are designed that we understand that children (and adults!) need a mix
                        of included activities and downtime for rest and relaxation while they're on vacation..</span>
                </li>
                <li class="list-group-item d-flex px-0 py-2">
                    <img src="assets/imgs/dot.svg" class="img-fluid">
                    <span>Our Day-by-day itineraries are crafted with all ages in mind. On a Private and escorted Family
                        tour, all of your sightseeing arrangements are made in advance, so there's no chance that shows
                        will be sold out or you'll miss anything important.</span>
                </li>
                <li class="list-group-item d-flex px-0 py-2">
                    <img src="assets/imgs/dot.svg" class="img-fluid">
                    <span>Our Day-by-day itineraries are crafted with all ages in mind. On a Private and escorted Family
                        tour, all of your sightseeing arrangements are made in advance, so there's no chance that shows
                        will be sold out or you'll miss anything important. You don't need to worry about picking up
                        maps, figuring out directions or determining which attraction to visit first</span>
                </li>
                <li class="list-group-item d-flex px-0 py-2">
                    <img src="assets/imgs/dot.svg" class="img-fluid">
                    <span>We make every effort to ensure that all travel arrangements and services, connected with the
                        tour, will be carried out as specified All of our packages are private, which means that only
                        those who accompany you will be in your party.</span>
                </li>
                <li class="list-group-item d-flex px-0 py-2">
                    <img src="assets/imgs/dot.svg" class="img-fluid">
                    <span>NEVER will you be expected to join in with another group nor will others be expected to join
                        with you</span>
                </li>
            </ul>
        </div>
    </div>
</section>