<section class="sec-banner text-center"
    [ngStyle]="{'background-image':'linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0 ,0 ,0, .5)) , url(' + panner + ')' }">

    <div class="container">
        <div class="head text-uppercase d-inline-block font-weight-bold pb-1">
            <h1><span class="main-color font-weight-bold">{{hotel[0].name}} </span>
            </h1>
        </div>
        <p class="mt-2">{{pannerDescription}}</p>
        <!-- <div class="contact-btns d-none d-sm-flex justify-content-center mt-3">
            <a href="" class="main-btn mr-3">Read More <i class="fas fa-arrow-right"></i></a>
        <a class="call-btn d-flex align-items-center">
                <span class="phone-icon"><i class="fas fa-phone-alt main-color"></i></span>
                <span class="phone-text text-dark">Call Us: <strong>{{hotel[0]}}</strong></span>
            </a>
        </div> -->
    </div>
</section>
<!-- <section>
    <div class="container">
      <div *ngFor='let single of hotel' class="page-links py-2">
        <a class="hover-color" routerLink="/"> <span> Home / </span> </a>
        <a class="hover-color" routerLink="/{{desSlug}}"> <span> {{desName}} / </span> </a>
        <a class="hover-color" routerLink="/{{desSlug}}/facts-myths"> <span> {{faqName}} / </span> </a>
        <span class="main-color">{{single.name}}</span>
      </div>
    </div>
  </section> -->
<section class="sec-bg p-3 mb-5">
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 col-md-9">
                <section id="Itinerary" class="bg-white mt-3 px-2 py-4">
                    <div class="container">
                        <div class="" *ngFor="let hot of hotel">
                            <div class="d-flex ">
                                <h1 class="h3 font-weight-bold">{{hot?.name}}</h1>

                            </div>
                            <div class="pl-3 pt-1">
                                <rating [(ngModel)]="hot.rate" [max]="max" [readonly]="isReadonly">
                                </rating>
                            </div>
                            <p class="mt-3 " [innerHTML]="hot?.overview"></p>

                        </div>
                    </div>
                </section>
                <section id="Services" class="bg-white mt-3 px-2 py-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="head mb-4">
                                    <h4 class="font-weight-bold pt-2">{{"services"|translate}}</h4>
                                </div>
                                <div class="d-flex flex-wrap ">
                                    <div *ngFor='let hot of hotel[0].services' class=" list-group-item  px-0 py-2">


                                        <img src="assets/imgs/right.svg" class="ml-2 img-fluid">

                                        <span>{{hot?.content}}</span>

                                    </div>

                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="head mb-4">
                                    <h4 class="font-weight-bold pt-2 ">{{"Activities"|translate}}</h4>
                                </div>

                                <div class="d-flex flex-wrap ">
                                    <div *ngFor='let gg of hotel[0].activities' class=" list-group-item  px-0 py-2">


                                        <img src="assets/imgs/right.svg" class="ml-2 img-fluid">

                                        <span>{{gg?.content}}</span>

                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-12">
                                <div class="head mb-4">
                                    <h4 class="font-weight-bold pt-2">{{"Amenities"|translate}}</h4>
                                </div>

                                <div class="d-flex flex-wrap ">
                                    <div *ngFor='let gg of hotel[0].amenities' class=" list-group-item  px-0 py-2">


                                        <img src="assets/imgs/right.svg" class="ml-2 img-fluid">

                                        <span>{{gg?.content}}</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="Location" class="bg-white mt-3  py-2">
                    <div class="container">
                        <div class="head mb-4">
                            <h4 class="pl-2 mt-2 font-weight-bold">{{"Location"|translate}}</h4>
                        </div>
                        <div class=" pl-2 d-flex justify-content-between " *ngFor="let hot of hotel">
                            <h5 class="check">{{"Check In"|translate}} <span class="location">: </span>{{ hot?.checkin }}</h5>
                            <h5 class="check">{{"Check Out"|translate}} <span class="location">: </span> {{ hot?.checkout }}</h5>

                        </div>
                        <div class="col-sm-12">
                            <div class="map-details border mt-2">
                                <div class="embed-responsive" *ngFor="let hot of hotel">
                                    <iframe class="embed-responsive-item" [src]="hot?.location_map | map"
                                        allowfullscreen="">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="gallery" class="pt-3">
                    <div class="m-auto">
                        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery">
                        </ngx-gallery>
                    </div>

                </section>
            </div>
            <div class="col-12 col-md-3">
                <app-expert-reviews></app-expert-reviews>
                <app-tour-booking></app-tour-booking>
                <app-optional-experts></app-optional-experts>
            </div>
        </div>
    </div>
</section>
<app-sponsorss></app-sponsorss>