<section *ngFor="let single of singleFaq">
  <section
    class="banner text-center"
    [ngStyle]="{
      'background-image':
        'linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0 ,0 ,0, .5)) , url(' +
        single.banner +
        ')'
    }"
  >
    <div class="container">
      <div class="head text-uppercase d-inline-block font-weight-bold pb-1">
        <h1>
          <span class="main-color des-Name font-weight-bold">
            {{ single.name }}</span
          >
        </h1>
      </div>
      <p class="mt-2"></p>
      <div class="contact-btns d-none d-sm-flex justify-content-center mt-3">
        <a href="" class="call-btn d-flex align-items-center">
          <span class="phone-icon"
            ><i class="fas fa-phone-alt main-color"></i
          ></span>
          <span class="phone-text text-dark"
            >Call Us: <strong>+1(888) 513-5971</strong></span
          >
        </a>
      </div>
    </div>
  </section>
</section>
<section>
  <div class="container">
    <div *ngFor='let single of singleFaq'  class="page-links py-2">
     <a class="hover-color" routerLink="/"> <span > Home / </span>  </a>
     <a class="hover-color" routerLink="/{{desSlug}}"> <span > {{desName}} / </span>  </a>
     <a class="hover-color" routerLink="/{{desSlug}}/facts-myths"> <span > {{faqName}} / </span>  </a>
      <span class="main-color">{{single.name}}</span>  
    </div>
  </div>
</section>
<section class="sec-bg py-4">
  <div class="container-fluid px-5">
    <div *ngFor="let faq of singleFaq" class="row">
      <div class="col-lg-9 m-auto col-sm-12">
        <!-- <div class="mb-3">
                    <img [src]="blog.thumb" class="img-fluid" alt="{{blog.thumb_alt}}" />
                </div> -->
        <div class="head-title w-75 mb-2 d-flex justify-content-between">
          <h3 class="font-weight-bold">
            {{ faq.name }}
          </h3>
          <p class="font-weight-bold">{{ faq.created_at }}</p>
        </div>
        <div class="single-blog-content w-75 mb-5">
          <p [innerHTML]="faq.overview"></p>
        </div>

        <div class="text-center sec-bg">
          <h2 class="mb-5">Related Facts & MyThs</h2>

          <owl-carousel-o [options]="customOptions">
            <ng-template *ngFor="let faq of alldestinationCards" carouselSlide>
              <div class="slide">
                <div class="blogs overflow-hidden">
                  <a
                    href="/{{ desSlug }}/facts-myths/{{ faq.faq_slug }}"
                    (click)="setId(faq.faq_id)"
                  >
                    <div class="card main-card text-center">
                      <img
                        [src]="faq.faq_thumb"
                        class="img-slide"
                        alt="{{ faq.faq_thumb_alt }}"
                      />

                      <div class="card-body card-details des-antherCard">
                        <h3 class="card-title font-weight-bold">
                          {{ faq.faq_name }}
                        </h3>
                        <p
                          [innerHTML]="
                            faq.faq_description ? faq.faq_description : ''
                          "
                        ></p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
      <!-- <div class="col-12 col-md-3">
                <app-expert-reviews></app-expert-reviews>
            </div> -->
    </div>
  </div>
</section>
