<section *ngFor="let des of singleDestination">
  <section
    class="banner text-center"
    [ngStyle]="{
      'background-image':
        'linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0 ,0 ,0, .5)) , url(' +
        des.banner +
        ')'
    }"
  >
    <div class="container">
      <div class="head text-uppercase d-inline-block font-weight-bold pb-1">
        <h1>
          <span class="main-color des-Name font-weight-bold"
            >{{ des.name }}
          </span>
        </h1>
      </div>
      <p class="mt-2" [innerHTML]="des.description"></p>
      <div class="contact-btns d-none d-sm-flex justify-content-center mt-3">
        <a href="" class="main-btn mr-3"
          >Read More <i class="fas fa-arrow-right"></i
        ></a>
        <a href="" class="call-btn d-flex align-items-center">
          <span class="phone-icon"
            ><i class="fas fa-phone-alt main-color"></i
          ></span>
          <span class="phone-text text-dark"
            >Call Us: <strong>+1(888) 513-5971</strong></span
          >
        </a>
      </div>
    </div>
  </section>
</section>
<section>
  <div class="container">
    <div *ngFor="let des of singleDestination" class="page-links py-2">
      <span>Home / </span>
      <span class="main-color">{{ des.name }}</span>
    </div>
  </div>
</section>

<!-- End  descriptipon  for destination -->
<section class="sec-bg py-4">
  <div class="container">
    <div class="head-title text-center mb-4">
      <h2 class="font-weight-bold"></h2>
    </div>


        <div  class="row">
            <!-- Travel Guide  -->
            <div *ngFor='let content of singleDestinationContent|slice:0:1' class="col-12 col-md-4 mb-4" >
                <div class="blogs overflow-hidden">
                    <a  routerLink="/{{singleDestination[0].slug}}/{{content.slug}}" (click)="setSlug(content.id)" class="text-dark">
                        <div class="card main-card text-center">
                            <img [src]="content.thumb || image" class="img-fluid" alt=" {{content.thumb_alt}}">
                           
                            <div class="card-body card-details">
                                <h5 class="card-title ">{{singleDestination[0].name}} {{content.name}}  </h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            
           
          
        
      

      <!-- Travel Excursions  -->
      <div
        *ngFor="let content of singleDestinationContent | slice: 2:3"
        class="col-12 col-md-4 mb-4"
      >
        <div class="blogs overflow-hidden">
          <a
            routerLink="/{{ singleDestination[0].slug }}/travel-excursions"
            (click)="setSlug(content.slug)"
            class="text-dark"
          >
            <div class="card main-card text-center">
              <img
                [src]="content.thumb || image"
                class="img-fluid"
                alt=" {{ content.thumb_alt }}"
              />

              <div class="card-body card-details">
                <h5 class="card-title">
                  {{ singleDestination[0].name }} {{ content.name }}
                </h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- Travel Curs-->
      <div *ngFor='let content of singleDestinationContent|slice:3:4' class="col-12 col-md-4 mb-4" >
        <div class="blogs overflow-hidden">
            <a  routerLink="/{{singleDestination[0].slug}}/{{content.slug}}" (click)="setSlug(content.slug)" class="text-dark">
                <div class="card main-card text-center">
                    <img [src]="content.thumb || image" class="img-fluid" alt=" {{content.thumb_alt}}">
                   
                    <div class="card-body card-details">
                        <h5 class="card-title ">{{singleDestination[0].name}} {{content.name}}  </h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

      
      <!-- Travel Packages -->
      <div
        *ngFor="let content of singleDestinationContent | slice: 1:2"
        class="col-sm-12 mb-4"
      >
        <div class="blogs overflow-hidden">
          <a routerLink="/{{ singleDestination[0].slug }}/travel-package" (click)="setSlug(content.slug)"class="text-dark">
            <div class="card main-card text-center">
              <img
                [src]="content.thumb"
                class="img-fluid"
                alt="{{ content.thumb_alt }}"
              />

              <div class="card-body card-details">
                <h5 class="card-title">
                  {{ singleDestination[0].name }} {{ content.name }}
                </h5>
              </div>
            </div>
          </a>
        </div>
      </div>

      <!-- Travel Packages -->
      <div
        *ngFor="let content of singleDestinationContent | slice: 4:5"
        class="col-md-6 mb-4"
      >
        <div class="blogs overflow-hidden">
          <a
            routerLink="/{{singleDestination[0].slug}}/{{content.slug}}"
            (click)="setSlug(content.slug)"
            class="text-dark"
          >
            <div class="card main-card text-center">
              <img
                [src]="content.thumb"
                class="img-fluid"
                alt=" {{ content.thumb_alt }}"
              />

              <div class="card-body card-details">
                <h5 class="card-title">
                  {{ singleDestination[0].name }} {{ content.name }}
                </h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- Travel blogs  -->
      <div
        *ngFor="let content of singleDestinationContent | slice: 5:6"
        class="col-md-6 mb-4"
      >
        <div class="blogs overflow-hidden">
          <a routerLink="/{{singleDestination[0].slug}}/facts-myths"
            
            class="text-dark"
          >
            <div class="card main-card text-center">
              <img
                [src]="content.thumb"
                class="img-fluid"
                alt=" {{ content.thumb_alt }}"
              />

              <div class="card-body card-details">
                <h5 class="card-title">
                  {{ singleDestination[0].name }} {{ content.name }}
                </h5>
              </div>
            </div>
          </a>

        </div>
      </div>
      
        
  
  </div>
  </div>
</section>
<section class="sec-bg py-4 hotOffer">
  <div class="container">
    <div class="head-title mb-4">
      <h3 class="font-weight-bold">Hot Offers</h3>
    </div>

    <owl-carousel-o [options]="customOwl">
      <ng-template *ngFor="let pack of packageOffer" carouselSlide>
        <div class="slide">
          <div class="blogs overflow-hidden">
            <a routerLink="/" class="text-dark">
              <div class="card main-card text-center anotherCard offerCard">
                <div class="img">
                  <img src="../../../assets/imgs/hot4.png" class="top" alt="" />
                  <img
                    [src]="pack.thumb"
                    class="min-top"
                    alt="{{ pack.thumb_alt }}"
                  />
                </div>

                <div class="card-body card-details des-antherCard">
                  <h6 class="card-title">{{ pack.name }}</h6>
                </div>
              </div>
            </a>
          </div>
        </div>
      </ng-template>
      <ng-template *ngFor="let excurs of excursionsOffer" carouselSlide>
        <div class="slide">
          <div class="blogs overflow-hidden">
            <a routerLink="/" class="text-dark">
              <div class="card main-card text-center anotherCard offerCard">
                <div class="img">
                  <img src="../../../assets/imgs/hot4.png" class="top" alt="" />
                  <img
                    [src]="excurs.thumb"
                    class="min-top"
                    alt="{{ excurs.thumb_alt }}"
                  />
                </div>

                <div class="card-body card-details des-antherCard">
                  <h6 class="card-title">{{ excurs.name }}</h6>
                </div>
              </div>
            </a>
          </div>
        </div>
      </ng-template>
      <ng-template *ngFor="let curies of cruisesOffer" carouselSlide>
        <div class="slide">
          <div class="blogs overflow-hidden">
            <a routerLink="/" class="text-dark">
              <div class="card main-card text-center anotherCard offerCard">
                <div class="img">
                  <img src="../../../assets/imgs/hot4.png" class="top" alt="" />
                  <img
                    [src]="curies.thumb"
                    class="min-top"
                    alt="{{ curies.thumb_alt }}"
                  />
                </div>

                <div class="card-body card-details des-antherCard">
                  <h6 class="card-title">{{ curies.name }}</h6>
                </div>
              </div>
            </a>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<section class="py-4">
  <div class="container">
    <div class="head-title mb-4">
      <h3 class="font-weight-bold">Related Pages</h3>
    </div>

    <owl-carousel-o [options]="customOptions">
      <ng-template *ngFor="let page of relatedPages" carouselSlide>
        <div class="slide">
          <div class="blogs overflow-hidden">
            <a routerLink="/" class="text-dark">
              <div class="card main-card text-center anotherCard">
                <img
                  [src]="page.thumb"
                  class="img-fluid"
                  alt="{{ page.thumb_alt }}"
                />

                <div class="card-body card-details des-antherCard">
                  <h6 class="card-title">{{ page.name }}</h6>
                </div>
              </div>
            </a>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
<app-sponsors-logo></app-sponsors-logo>
<app-sponsorss></app-sponsorss>