
.banner{
    background-size: cover;
    height: 450px;
    background-position: center center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.des-Name{
    font-family: 'Cormorant Unicase', serif;
    letter-spacing: 3px;
    font-size: 45px;
}

.blogs{
    border-radius: 0;
}
.blogs a {
    text-decoration: none;
}
.blogs img {
    height: 300px;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s ease 0s;
}
.blogs:hover img {
    transform: scale(1.1);
    
    
    
}
.main-card{
    box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

}
.card-title{
    font-size: 16px;

}
.main-card:hover .card-details
{
   background-color: rgba(0,0,0,0.5);
   height: 100%;
   top: 0;
   
   color: #fff;
   
}
.main-card:hover .blog-btn
{
    display: block;
    opacity: 1;
}
.card-details{
    position: absolute;
    top: 85%;
    width: 100%;
    height: 50px;
    
    color: #f68800;
    background: rgba(0,0,0,0.8);
    transition: ease .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.anotherCard{

  

    height: 250px;
    width: 200px;
    margin: 10px;

    
}
.offerCard{
    position: relative;
    height: 250px;
    width: 250px;

}
.offerCard .top
{
    position: absolute;
    top: 0;
    
    width: 120px;
    height: 120px;
    z-index: 2;
   
}
.offerCard .main-top{
    position: absolute;
    top: 0;
    z-index: 1;
}

.des-antherCard{
    width: 100%;
    height: 50px;

}
.hover-color{
    color: #000;
    text-decoration: none;
}
.hover-color:hover{
    color: #f68800;
    text-decoration: none;
}
.main{
    background: linear-gradient(70deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%) ,url('../../../assets/imgs/doodle.jpg');
    background-position: center;
    padding:30px 0;
    overflow: hidden;
    border-bottom: 2px solid #f68800;
}

.category{
    width: 97%;
    margin-left: 10%;
}
.title-category{
    font-weight: 600;
    font-size: 1.2rem;
}
footer .shortcuts h6{
   font-size: 16px;

}
.list li::before{
    content: "\2022";
    color: #f68800;
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    margin-left: -1.2rem;
    font-size: 1.2rem;
}
footer .shortcuts a{
    font-size: 16px;
    
 }
.list li{
    margin-top: 7px;
}
.hover-color{
    color: #000;
    text-decoration: none;
}
.hover-color:hover li{
    color: #da7800;
    text-decoration: none;
}