<section class="sec-banner ">
  <div class="text-center">
    <h3>Egypt Package Deals</h3>
    <p>
      Land only packages, no international airfare included. Our tours runs on a daily and private basis, the best way to
      explore EGYPT
    </p>
  </div>
</section>
<section class=" container ">
  <div class="row">
    <div class="col-lg-2"><img class="img-fluid mt-4" src="../../../assets/imgs/contact-us.png" alt="" /></div>
    <div class="col-lg-7">
      <div class="w-100 m-auto">
        <div class="desc">
          <img routerLink="/" src="../../../assets/imgs/hanging_404.gif" class="img-fluid m-auto" alt="" />

          <h1>OooH , Looks Like You Got lost</h1>

          <div class="  m-auto "><a class="btn btn-dark w-100 mb-4 " routerLink="/">Go To Home</a></div>
          <p class="text-justify ">
            Explanation: The server says this is a "404" error, which means everything is working but the page you were looking
            for just isn't there. the page you are looking for might have been removed, had its name changed, It may be that the
            link you followed is outdated or it may have been spelled wrong. to see more click on Site Map Solution: You have
            several options to find the page you are looking for: You might try to use our Site search or try to browse the site
            with the help of the main navigation menu
          </p>
          <p>
            1. If you were looking for a page on a particular topic, your best option is probably to use search in the entire
            Site Map link or search box to enter some key words. You should see it at the top of the sidebar
          </p>
          <p>
            2. Failing this if it was a recent article, you might still find it on the homepage or listed to the right in the
            sidebar
          </p>
          <p>
            3. If you're not having much luck but really want to find something you're sure should be there, make Contact and
            I'll do my best to help.
          </p>
          <p>4. Use the navigation bars on the left and top of the page to find the links you are looking for.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3"><app-expert-reviews></app-expert-reviews></div>
  </div>
</section>
