.sec-banner{
    background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0 ,0 ,0, .5)) ,url('../../../assets/imgs/8.jpg');
}
.desc{
    background-color: #dadada;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px 3px #f68800;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.desc img{
    cursor: pointer;
}
.desc h1{
   font-size: 20px;
   text-align: center;
   padding: 3px;
}
.desc p
{
    text-align: justify;
    padding: 10px;
}