<section class="about my-5 py-5">
    <div class="container " *ngFor="let about of aboutContainer">
        <div class="head-title text-center mb-5">
            <p class="sat-font main-color mb-0">About Us</p>
            <h2 class="font-weight-bold text-white">{{about.title}}</h2>
        </div>
        <div class="about-more">
            <div class="row mr-0 ml-0">
                <ng-container >

                    <div class=" video col-lg-5 m-auto ">
                        <img class="img-fluid" src="../../../assets/imgs/oman.jpg" data-toggle="modal"
                            data-target=".bd-example-modal-lg" alt="">
                        <span *ngIf="hideIcon" data-toggle="modal"
                        data-target=".bd-example-modal-lg">
                            <i class="fas fa-play main-color"></i>
                        </span>
                         <div class="modal fade bd-example-modal-lg" #pause tabindex="-1" role="dialog"
                            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="video mt-1  mb-4" (click)="toggleVideo()">
                                        <div class="videoPlay">
                                            <div class="source">
                                                <video controls *ngIf="pause" src="{{about.video}}" #videoPlayer
                                                    type="video/mp4">
                                                    <source media="(min-width: )" src="{{about.video}}">
                                                </video>
                                            </div>
                                        </div>
                                        <span *ngIf="hideIcon">
                                            <i class="fas fa-play main-color"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div> 

                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 ">
                        <div class="about-text p-4">
                            <div class="about-title" [innerHtml]="about.title"></div>
                            <div class="about-des" [innerHtml]="about.description"></div>
                        </div>


                    </div>


                </ng-container>
            </div>
        </div>
    </div>
</section>