<section class="about my-5 py-5">
    <div class="container">
        <div class="head-title text-center mb-5">
            <p class="sat-font main-color mb-0">About Us</p>
            <h2 class="font-weight-bold text-white">{{"Why Ask Aladdin" |translate}}</h2>
        </div>
        <div class="about-more">
            <div class="row mr-0 ml-0">
                <ng-container *ngFor="let about of aboutContainer">
                    <div class="col-sm-12 m-auto ">
                        <div class="video  mx-auto mb-4" (click)="toggleVideo()">
                            <video  poster="../../../assets/imgs/oman.jpg" #videoPlayer>
                                <source src="{{about.video}}" type="video/mp4">
                            </video>
                            <span *ngIf="hideIcon">
                                <i class="fas fa-play main-color"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="about-text">
                            <div class="about-header ">
                                <h6>100% TAILOR MADE</h6>
                                <i class="fas fa-clipboard-check"></i>
                            </div>
                            <div class="about-des">
                                <ul>
                                    <li> <i class="fas fa-check"></i> <p>Your entire holiday is designed around your requirements.</p> </li>
                                    <li><i class="fas fa-check"></i><p>You can explore your interests at your own speed.</p></li>
                                    <li><i class="fas fa-check"></i><p>You Select your preferred style of accommodation.</p> </li>
                                    <li><i class="fas fa-check"></i><p>You Create the perfect trip with the help of our specialists.</p> </li>
                                </ul>
                            </div>
                        <div class="about-footer"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="about-text">
                            <div class="about-header ">
                                <h6 class="">EXPERT KNOWLEDGE</h6>
                                <i class="fas fa-glasses"></i>
                            </div>
                            <div class="about-des">
                                <ul>
                                    <li> <i class="fas fa-check"></i> <p>Your entire holiday is designed around your requirements.</p> </li>
                                    <li><i class="fas fa-check"></i><p>You can explore your interests at your own speed.</p></li>
                                    <li><i class="fas fa-check"></i><p>You Select your preferred style of accommodation.</p> </li>
                                    <li><i class="fas fa-check"></i><p>You Create the perfect trip with the help of our specialists.</p> </li>
                                </ul>
                            </div>
                            <div class="about-footer"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="about-text">
                            <div class="about-header ">
                                <h6>100% TAILOR MADE</h6>
                                <i class="fas fa-clipboard-check"></i>
                            </div>
                            <div class="about-des">
                                <ul>
                                    <li> <i class="fas fa-check"></i> <p>Your entire holiday is designed around your requirements.</p> </li>
                                    <li><i class="fas fa-check"></i><p>You can explore your interests at your own speed.</p></li>
                                    <li><i class="fas fa-check"></i><p>You Select your preferred style of accommodation.</p> </li>
                                    <li><i class="fas fa-check"></i><p>You Create the perfect trip with the help of our specialists.</p> </li>
                                </ul>
                            </div>
                            <div class="about-footer"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="about-text">
                            <div class="about-header ">
                                <h6>100% TAILOR MADE</h6>
                                <i class="fas fa-clipboard-check"></i>
                            </div>
                            <div class="about-des">
                                <ul>
                                    <li> <i class="fas fa-check"></i> <p>Your entire holiday is designed around your requirements.</p> </li>
                                    <li><i class="fas fa-check"></i><p>You can explore your interests at your own speed.</p></li>
                                    <li><i class="fas fa-check"></i><p>You Select your preferred style of accommodation.</p> </li>
                                    <li><i class="fas fa-check"></i><p>You Create the perfect trip with the help of our specialists.</p> </li>
                                </ul>
                            </div>
                            <div class="about-footer"></div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>