.about {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),url('../../../assets/imgs/slide-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 9rem;
}
.head-title p {
    font-family:  'Satisfy', cursive;
}
.video {
    height: 350px;
    width: 450px;
    position:relative;
}
.video img
{
    width: 100%;
    height: 100%;
}
.video video {
    width: 800px;
    height: 500px;
    border: 5px solid var(--white);
    border-radius: 5px;
    object-fit: cover;
}
.video span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    transition: all .2s;
}
.video span i {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    position: absolute;
    top: 57%;
    left: 60%;
    transform: translate(-50%, -50%);
    transition: all .2s;
}
.about-text {
    background-color: #fff;
    box-shadow: 0 0.2rem 1rem rgb(0 0 0 / 10%);
    border-radius: 10px;
}
.videoPlay{
    position: relative;
}
.videoPlay video{
    position: absolute;
    top: 0;
}
.videoPlay .pause
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;

}

.modal-dialog
{
    width: 1000px;
    display: flex;
    
}
.modal-header
{
    width: 50px;
    position: absolute;
    top: 0;
    right: 5px;
}
.modal-body{
    position: absolute;
    right: 1%;
    background-color: transparent;
    height: 800px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}


