.sponsors{
    position: relative;
}
/* ::ng-deep .owl-carousel .owl-theme .owl-loaded .owl-responsive{
    width: 100px;
    margin: auto;
}
::ng-deep .owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 20px !important;
    margin: 5px;
    padding: 10px;
    background: #0505052c;
    display: inline-block;
    cursor: pointer;
    border-radius: 25px;
}
::ng-deep .owl-theme .owl-prev{
position: absolute;
top: 10%;
left: -3%;
}
::ng-deep .owl-theme .owl-next{
    position: absolute;
    top: 10%;
    right: -3%;
    } */