.card{
    border: none;
    background-color: none !important;
}
.card img{
    height: 55px;
}

@media only screen and (max-width: 768px){
   
    .card img{
        width: 150px;
        margin: auto;
        padding-top: 5px;
    }
    
}