<section class="main-section d-flex justify-content-between">
    <ul class="d-none d-md-flex align-items-center p-0 m-0 ml-3">
        <li class="mr-4"><i class="fas fa-envelope main-color"></i>
            <span class="ml-3 text-white">info@askaladdin.com</span>
        </li>
        <li class="mr-4"><i class="fas fa-phone-alt main-color"></i>
            <span class="ml-3 text-white">+8(888) 213-555</span>
        </li>
        <li class=" mr-4"><i class="far fa-address-book main-color"></i>
            <span class="ml-3 text-white">{{"Building" |translate}} C 69, Cairo | Egypt
            </span>
        </li>
    </ul>
    <ul class="d-flex align-items-center p-0 m-0">
        <li class="d-flex align-items-center mr-4"><i class="fab fa-facebook-f text-white"></i>
        </li>
        <li class="d-flex align-items-center mr-4"><i class="fab fa-twitter text-white"></i>
        </li>
        <li class="d-flex align-items-center mr-4"><i class="fab fa-instagram text-white"></i>
        </li>
        <li class="d-flex align-items-center mr-4"><i class="fab fa-pinterest-p text-white"></i>
        </li>
        <li class=" align-items-center lang-btn">
            <div class="btn-group" dropdown>
                <a  id="button-basic" dropdownToggle class="main-btn text-white dropdown-toggle"
                    aria-controls="dropdown-basic">
                    {{textLang  || 'Languages'}} <img class="img-lang "  [src]="imgLang" alt="">  <span class="caret"></span>
                </a>
                <ul  id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <li *ngFor="let language of Languages|slice:0:1 "  class="list-dropdown"  role="menuitem">
                        <a #on (click)="changeCurrentLang('en', on) "  class="dropdown-item"  > <div ><h3> {{language.lnaguage}}</h3></div>  
                        <div ><img class="flag " [src]="language.image" /></div>
                    </a></li>
                    <li *ngFor="let language of Languages|slice:1:2" class="list-dropdown"  role="menuitem">
                        <a #on (click)="changeCurrentLang('fr', on) "  class="dropdown-item"  ><div ><h3> {{language.lnaguage}}</h3></div>  
                            <div ><img class="flag " [src]="language.image" /></div>
                    </a></li>
                    <li *ngFor="let language of Languages|slice:2:3" class="list-dropdown" role="menuitem">
                        <a #on (click)="changeCurrentLang('es', on) "  class="dropdown-item"  ><div ><h3> {{language.lnaguage}}</h3></div>  
                            <div ><img class="flag " [src]="language.image" /></div>
                    </a></li>
                    <li *ngFor="let language of Languages|slice:3:4" class="list-dropdown" role="menuitem">
                        <a #on (click)="changeCurrentLang('de', on) "  class="dropdown-item"  ><div ><h3> {{language.lnaguage}}</h3></div>  
                            <div ><img class="flag " [src]="language.image" /></div>
                    </a></li>
                    <li *ngFor="let language of Languages|slice:4:5" class="list-dropdown" role="menuitem">
                        <a #on (click)="changeCurrentLang('ru', on) "  class="dropdown-item"  ><div ><h3> {{language.lnaguage}}</h3></div>  
                            <div ><img class="flag " [src]="language.image" /></div>
                    </a></li>
                   



                </ul>
            </div>
        </li>
    </ul>

</section>