.main-section {
    background-color: #000000;
}
.main-section ul li i , .main-section ul li span {
    font-size: .9rem
}
.dropdown-menu {
    width: 75px !important;
    transform: translateX(-40px ) !important;
    z-index: 999999;
}
.dropdown-menu  a {
    display: flex;
    justify-content: space-between;
}
.a-various-dropdown
{
    display: none !important;
}

@media only screen and (max-width: 600px) {
.lang-btn {
    margin-left: 40px;
}
}

.flag , .img-lang
{
    width: 20px;

    margin-bottom: 10px;
     
    
}
.main-btn
{
    background-color: transparent;
}


.list-dropdown h3 {
    font-size: 14px;
}


.input-group i {
    padding: 10px;
    font-size: 16px;
    border-radius: 50%;
    margin-right:5px ;
    color: #fff;
    cursor: pointer;
    transition: all ease .5s;
}
.input-group i:hover {
    padding: 10px;
    background-color: #f68800;
    border-radius: 50%;
}

.searchTitle h2  {
    font-family: 'Goudy Bookletter 1911', serif;    
    color: #f68800;
    font-size: 2rem;
    text-align: left;
}
.searchTitle h2 a{
    color: #f68800;
    text-decoration: none;

}
.searchTitle h2 a:hover{
color: #fff;
}

.modal-dialog{
    width: 100%;
    max-width: 100%;
    
}


.modal
{
    padding-right: 0 !important;
      
}
.modal-header{
    border-bottom: none !important; 
}
.modal-body{
    /* background-color: transparent !important; */
        background-color: rgba(7, 4, 0, 0.9) !important;
        border-radius: 5px;

}
.modal-body input{
    background-color: transparent;
    color: #f68800;
    border-top: none ;
    border-left: none;
    border-right: none;
    padding: 20px 5px;
    border-radius: 0;
    width: 75%;
    margin: auto;
}
.labelSearch i{
transform: translatex(300px);
}
.modal-body input:focus{
    box-shadow: none;
    border-color: #f68800;
}
.modal-body input::before
{
    content: \f002;
    width: 100px;
    color: #f68800;
    background-color: #f68800;
}
.close span {
    font-size: 45px;
    font-weight: 100;
    position: absolute;
    right: 3%;
    color: #ffffff;
    transition: all ease .5s;
}

.close span:hover {
    transform: rotate(360deg);
    color: #f68800;
}



.modal-content
{
    background: none !important;
}
hr{
    color: #f68800;
}
/* card for search style */
.blogs{
    border-radius: 0;
}
.blogs a {
    text-decoration: none;
}
.blogs img {
    height: 300px;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s ease 0s;
}
.blogs:hover img {
    transform: scale(1.1);
    
    
    
}
.main-card{
    box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

}
.card-title{
    font-size: 16px;

}
.main-card:hover .card-details
{
   background-color: rgba(0,0,0,0.5);
   height: 100%;
   top: 0;
   
   color: #fff;
   
}
h4 img {
    height: 20px;
    margin-top: 3px;
}

.card-details{
    position: absolute;
    top: 85%;
    width: 100%;
    height: 50px;
    
    color: #f68800;
    background: rgba(0,0,0,0.8);
    transition: ease .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.anotherCard{

  

    height: 250px;
    width: 200px;
    margin: 10px;

    
}
.blogCard .card-details{
    top: 70%;
    height: 100px;
}

.link-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social i{
   color: #fff;
   font-size: .7rem !important;
}
.fb:hover i
{
    color: rgb(3, 30, 185);
}
.ins:hover i
{
    color: rgb(172, 12, 187);
}
.twt:hover i , .lin:hover i
{
    color: rgb(6, 126, 238);
}
.pain:hover i , .yout:hover i
{
    color: rgb(238, 6, 6);
}

@media only screen and (max-width: 500px){
    .contacts{
        width: 100%;
    }
 
 }

