.main-section {
    background-color: #000000;
}
.main-section ul li i , .main-section ul li span {
    font-size: .9rem
}
.dropdown-menu {
    width: 75px !important;
    transform: translateX(-20px ) !important;
    z-index: 999999;
}
.dropdown-menu a {
    display: flex;
    justify-content: space-between;
}
.a-various-dropdown
{
    display: none !important;
}

@media only screen and (max-width: 600px) {
.lang-btn {
    margin-left: 40px;
}
}

.flag , .img-lang
{
    width: 20px;
    margin-bottom: 10px;
     
    
}


.list-dropdown h3 {
    font-size: 14px;
}