<section class="main-section d-flex justify-content-between">
  <ul class="d-none d-md-flex align-items-center p-0 m-0 ml-3">
    <li class="mr-4"><i class="fas fa-envelope main-color"></i>
      <span class="ml-3 text-white">info@askaladdin.com</span>
    </li>
    <li class="mr-4"><i class="fas fa-phone-alt main-color"></i>
      <span class="ml-3 text-white">+8(888) 213-555</span>
    </li>
    <li>
      <div class=" link-social   " *ngFor="let social of socialsContainer">

       
  
  
  
        <a class="fb " href="{{social.facebook}}">
          <li class="mr-2 social "> <i class="fab fa-facebook-f"></i></li>
        </a>
        <a class="twt" href="{{social.twitter}}">
          <li class="mr-2 social"><i class="fab fa-twitter"></i></li>
        </a>
        <a class="pain" href="{{social.pinterest}}">
          <li class="mr-2 social"><i class="fab fa-pinterest-p"></i></li>
        </a>
        <a class="fli" href="{{social.flickr}}">
          <li class="mr-2 social"><i class="fab fa-flickr"></i></li>
        </a>
        <a class="lin" href="{{social.linkedin}}">
          <li class="mr-2 social"><i class="fab fa-linkedin-in"></i></li>
        </a>
        <a class="ins" href="{{social.instagram}}">
          <li class="mr-2 social"><i class="fab fa-instagram"></i></li>
        </a>
        <a class="yout" href="{{social.youtube}}">
          <li class="mr-2 social"><i class="fab fa-youtube"></i></li>
        </a>
  
  
  
      </div>
    </li>
  </ul>
  <ul class="d-flex align-items-center justify-content-between contacts p-0 m-0">
    <li>
      <div class="input-group  m-auto">
        <!-- <input type="search" class="form-control w-50 mt-1 rounded" placeholder="Search"
                    aria-label="Search" aria-describedby="search-addon" data-toggle="modal" data-target="#exampleModal" /> -->
        <i class="fas fa-search" data-toggle="modal" data-target="#exampleModal"></i>


      </div>
    </li>
    
    <li class=" align-items-center lang-btn">
      <div class="btn-group" dropdown>
        <a id="button-basic" dropdownToggle class="main-btn text-white dropdown-toggle" aria-controls="dropdown-basic">
          {{'English' |translate}} <img class="img-lang " [src]="imgLang" alt=""> <span class="caret"></span>
        </a>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">

          <div *ngIf="en">

            <li *ngFor="let language of Languages|slice:0:1 " class="list-dropdown" role="menuitem">
              <a #on (click)="changeCurrentLang('en', on) " class="dropdown-item">
                <div>
                  <h3> {{language.lnaguage}}</h3>
                </div>
                <div><img class="flag " [src]="language.image" /></div>
              </a>
            </li>
          </div>
          <div *ngIf="fr">

            <li *ngFor="let language of Languages|slice:1:2" class="list-dropdown" role="menuitem">
              <a #on (click)="changeCurrentLang('fr', on) " class="dropdown-item">
                <div>
                  <h3> {{language.lnaguage}}</h3>
                </div>
                <div><img class="flag " [src]="language.image" /></div>
              </a>
            </li>
          </div>
          <div *ngIf="sp">

            <li *ngFor="let language of Languages|slice:2:3" class="list-dropdown" role="menuitem">
              <a #on (click)="changeCurrentLang('es', on) " class="dropdown-item">
                <div>
                  <h3> {{language.lnaguage}}</h3>
                </div>
                <div><img class="flag " [src]="language.image" /></div>
              </a>
            </li>
          </div>
          <div *ngIf="ger">

            <li *ngFor="let language of Languages|slice:3:4" class="list-dropdown" role="menuitem">
              <a #on (click)="changeCurrentLang('de', on) " class="dropdown-item">
                <div>
                  <h3> {{language.lnaguage}}</h3>
                </div>
                <div><img class="flag " [src]="language.image" /></div>
              </a>
            </li>
          </div>

          <div *ngIf="ru">
            <li *ngFor="let language of Languages|slice:4:5" class="list-dropdown" role="menuitem">
              <a #on (click)="changeCurrentLang('ru', on) " class="dropdown-item">

                <div>
                  <h3> {{language.lnaguage}}</h3>
                </div>
                <div><img class="flag  " [src]="language.image" /></div>

              </a>
            </li>
          </div>






        </ul>
      </div>
    </li>
   
  </ul>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h4 class="modal-title text-center " id="exampleModalLabel">search</h4> -->
          <div class="modal-body ">
            <label class="labelSearch w-100 d-flex" for="">

              <input type="search mt-5" [(ngModel)]="term" (keyup)="termS(term)" class="form-control  mt-1 "
                placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            </label>



            <div class="searchTitle">
              <h2 *ngIf="destinations.length>0" class="mt-2"> <a href="/all-destinations">Destinations </a> </h2>
              <div class="row">

                <div *ngFor="let destination of destinations" class="d-flex flex-wrap">
                  <div class="blogs overflow-hidden">
                    <a href="/{{destination.slug}}" class="text-dark">
                      <div class="card main-card text-center anotherCard">
                        <img [src]="destination.thumb" class="img-fluid" alt="{{ destination.thumb_alt }}" />

                        <div class="card-body card-details des-antherCard">
                          <h6 class="card-title">{{ destination.name }}</h6>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>



              </div>
            </div>

            <div class="searchTitle">
              <h2 *ngIf="blogs.length>0" class="mt-2"> <a href="{{desSlug}}/blogs">Blog </a></h2>
              <div *ngFor="let destination of destinations" class="row">
                <div *ngFor="let blog of blogs" class="d-flex flex-wrap">
                  <div class="blogs overflow-hidden">
                    <a href="/{{destination.slug}}/blogs/{{blog.slug}}" class="text-dark">
                      <div class="card main-card text-center blogCard anotherCard">
                        <img [src]="blog.thumb" class="img-fluid" alt="{{ blog.thumb_alt }}" />

                        <div class="card-body card-details des-antherCard">
                          <h6 class="card-title">{{ blog.name }}</h6>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>



              </div>
            </div>
            <hr>

            <div class="searchTitle ">
              <h2 *ngIf="package.length>0" class="mt-2"> <a href="/all-Packages">Packages </a></h2>
              <div *ngFor="let destination of destinations" class="row">

                <div *ngFor="let packag of package" class="d-flex flex-wrap">
                  <div class="blogs overflow-hidden">
                    <a href="/{{destination.slug}}/travel-package/{{packag.slug}}" class="text-dark">
                      <div class="card main-card text-center blogCard anotherCard">
                        <img [src]="packag.thumb=='1'?img: packag.thumb" class="img-fluid"
                          alt="{{ packag.thumb_alt }}" />

                        <div class="card-body card-details des-antherCard">
                          <h6 class="card-title">{{ packag.name }}</h6>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>



              </div>
            </div>

            <div class="searchTitle">
              <h2 *ngIf="cruise.length>0" class="mt-2"> <a href="{{desSlug}}/travel-cruises">Travel Cruise </a> </h2>
              <div *ngFor="let destination of destinations" class="row">

                <div *ngFor="let blog of cruise" class="d-flex flex-wrap">
                  <div class="blogs overflow-hidden">
                    <a href="/{{destination.slug}}/single-cruises/{{blog.slug}}" class="text-dark">
                      <div class="card main-card text-center blogCard anotherCard">
                        <img [src]="blog.thumb" class="img-fluid" alt="{{ blog.thumb_alt }}" />

                        <div class="card-body card-details des-antherCard">
                          <h6 class="card-title">{{ blog.name }}</h6>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>



              </div>
            </div>

            <div class="searchTitle">
              <h2 *ngIf="excursion.length>0" class="mt-2"> <a href="{{desSlug}}/travel-excursions">Excursion </a></h2>
              <div *ngFor="let destination of destinations" class="row">

                <div *ngFor="let blog of excursion" class="d-flex flex-wrap">
                  <div class="blogs overflow-hidden">
                    <a href="/{{destination.slug}}/travel-excursions/{{blog.slug}}" class="text-dark">
                      <div class="card main-card text-center blogCard anotherCard">
                        <img [src]="blog.thumb" class="img-fluid" alt="{{ blog.thumb_alt }}" />

                        <div class="card-body card-details des-antherCard">
                          <h6 class="card-title">{{ blog.name }}</h6>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>



              </div>
            </div>
            <div class="searchTitle">
              <h2 *ngIf="category.length>0" class="mt-2"><a>Category </a></h2>
              <div *ngFor="let destination of destinations" class="row">

                <div *ngFor="let blog of category" class="d-flex flex-wrap">
                  <div class="blogs overflow-hidden">
                    <a href="/{{destination.slug}}/{{blog.slug}}" class="text-dark">
                      <div class="card main-card text-center blogCard anotherCard">
                        <img [src]="blog.thumb" class="img-fluid" alt="{{ blog.thumb_alt }}" />

                        <div class="card-body card-details des-antherCard">
                          <h6 class="card-title">{{ blog.name }}</h6>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>



              </div>
            </div>
            <div class="searchTitle">
              <h2 *ngIf="faq.length>0" class="mt-2"><a href="{{desSlug}}/facts-myths">Facts & Myths </a> </h2>
              <div *ngFor="let destination of destinations" class="row">

                <div *ngFor="let blog of faq" class="d-flex flex-wrap">
                  <div class="blogs overflow-hidden">
                    <a href="/{{destination.slug}}/facts-myths/{{blog.slug}}" class="text-dark">
                      <div class="card main-card text-center blogCard anotherCard">
                        <img [src]="blog.thumb" class="img-fluid" alt="{{ blog.thumb_alt }}" />

                        <div class="card-body card-details des-antherCard">
                          <h6 class="card-title">{{ blog.name }}</h6>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>



              </div>
            </div>
            <div class="searchTitle">
              <h2 *ngIf="hotel.length>0" class="mt-2">Hotel</h2>
              <div *ngFor="let destination of destinations" class="row">

                <div *ngFor="let blog of hotel" class="d-flex flex-wrap">
                  <div class="blogs overflow-hidden">
                    <a href="/{{destination.slug}}/{{blog.slug}}" class="text-dark">
                      <div class="card main-card text-center blogCard anotherCard">
                        <img [src]="blog.thumb" class="img-fluid" alt="{{ blog.thumb_alt }}" />

                        <div class="card-body card-details des-antherCard">
                          <h6 class="card-title">{{ blog.name }}</h6>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>



              </div>
            </div>

            <div class="searchTitle">
              <h2 *ngIf="page.length>0" class="mt-2"><a href="/page">Pages</a></h2>
              <div *ngFor="let destination of destinations" class="row">

                <div *ngFor="let blog of page" class="d-flex flex-wrap">
                  <div class="blogs overflow-hidden">
                    <!-- <a href="/{{destination.slug}}/{{blog.slug}}" class="text-dark"> -->
                    <div class="card main-card text-center blogCard anotherCard">
                      <img [src]="blog.thumb" class="img-fluid" alt="{{ blog.thumb_alt }}" />

                      <div class="card-body card-details des-antherCard">
                        <h6 class="card-title">{{ blog.name }}</h6>
                      </div>
                    </div>
                    <!-- </a> -->
                  </div>
                </div>



              </div>
            </div>

            <div>
              <h2 *ngIf="travel_guide.length>0" class="mt-2"><a href="{{desSlug}}/travel-guides">Travel Guides</a></h2>
              <div *ngFor="let destination of destinations" class="row">
                <div *ngFor="let blog of travel_guide" class="d-flex flex-wrap">
                  <div class="blogs overflow-hidden">
                    <a href="/{{destination.slug}}/travel-guides/{{blog.slug}}" class="text-dark">
                      <div class="card main-card text-center blogCard anotherCard">
                        <img [src]="blog.thumb" class="img-fluid" alt="{{ blog.thumb_alt }}" />

                        <div class="card-body card-details des-antherCard">
                          <h6 class="card-title">{{ blog.name }}</h6>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>



              </div>
            </div>





          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>


        </div>



      </div>
    </div>
  </div>

</section>