<section class="alaadin-banner text-center">
  <ngx-slick-carousel class="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
  >
<div ngxSlickItem #imge *ngFor="let img of image|slice:1" class="slide" >
  <div class=" banner banner-2" [ngStyle]="{'background-image':'linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0 ,0 ,0, .5)) , url(' + img.img }">


      <div class="animated carousel-cap delay-1s">
        <img class="img-png m-auto" src="../../../../assets/imgs/trustpilot.png" alt="">
          <h1 class="h3-responsive">{{img.title}}</h1>
          <p>{{img.small_text}}</p>
      </div>

  </div>

</div>

</ngx-slick-carousel>
<a *ngIf="!imgCondation" class="btn-next" (click)="next()"><i class="fas fa-chevron-right"></i></a>
<a  *ngIf="!imgCondation" #imge class="btn-prev" (click)="prev()"><i class="fas fa-chevron-left"></i></a>

 <div class="private" *ngFor="let video of videos|slice:1" >

      <div id="video" class="videos w-100">
          <video class="vid w-100" autoplay [muted]="true"  loop   [src]="video.video" >
              <source c  [src]="video.video">
          </video>
      </div>


        <div class="layout">

          <div class="carousel-caption">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active " *ngFor="let slide of slides|slice:0:1">
                  <div class="animated carousel-cap delay-1s">
                    <img class="img-png m-auto"  src="../../../../assets/imgs/trustpilot.png" alt="">
                      <h1 class="h3-responsive">{{slide.title}}</h1>
                      <p [innerHtml]="slide.small_text"></p>
                  </div>
                </div>
                <div class="carousel-item  " *ngFor="let slide of slides|slice:1:5">
                  <div class="animated carousel-cap delay-1s">
                    <img class="img-png m-auto" src="../../../../assets/imgs/trustpilot.png" alt="">
                      <h1 class="h3-responsive">{{slide.title}}</h1>
                      <p [innerHtml]="slide.small_text"></p>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
                <!-- <div class="animated delay-1s w-75 m-auto">
                  <img class="img-fluid" src="../../../assets/imgs/trustpilot.png" alt="" >
                  <h1 class="h3-responsive">{{"EGYPT TRAVEL EXPERTS"|translate}}  </h1>
                  <p></p>
                    </div> -->

            </div>


        </div>
  </div>
</section>
