<section class="container-fluid categorey mx-auto w-75">
    <div class="row">
        <div class="col-lg-2">
            <ul class="list">
                <h3 class="font-weight-bold">Egypt</h3>
                <li>one</li>
                <li>one</li>
                <li>one</li>
                <li>one</li>
            </ul>  
        </div>
        <div class="col-lg-2">
            <ul class="list">
                <h3>Egypt</h3>
                <li>one</li>
                <li>one</li>
                <li>one</li>
                <li>one</li>
            </ul>  
        </div>
        <div class="col-lg-2">
            <ul class="list">
                <h3>Egypt</h3>
                <li>one</li>
                <li>one</li>
                <li>one</li>
                <li>one</li>
            </ul>  
        </div>
        <div class="col-lg-2">
            <ul class="list">
                <h3>Egypt</h3>
                <li>one</li>
                <li>one</li>
                <li>one</li>
                <li>one</li>
            </ul>  
        </div>
        <div class="col-lg-2">
            <ul class="list">
                <h3>Egypt</h3>
                <li>one</li>
                <li>one</li>
                <li>one</li>
                <li>one</li>
            </ul>  
        </div>
        <div class="col-lg-2">
            <ul class="list">
                <h3>Egypt</h3>
                <li>one</li>
                <li>one</li>
                <li>one</li>
                <li>one</li>
            </ul>  
        </div>
    </div>
</section>