.categorey h3::after{
    content: "";
    width: 25px;
    height: 2px;
    background-color: #f8da22;
    position: absolute;
    top: 10%;
    margin-left: 10px;
}
.list li{

}
.list li::before{
    content: "\2022";
    color: #f68800;
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    margin-left: -1.2rem;
    font-size: 1.2rem;
} 