<section class="my-5">
    <div class="container">
        <div class="head-title text-center">
            <h2 class="font-weight-bold">{{"Destinations Tours" |translate}}</h2>
            
        </div>
        <div class="tour-package mt-5">
            <div class="row">
                <ng-container *ngFor="let package of packageContainer; let i = index">
                    <div class="col-12 col-md-3 mb-3" *ngIf="i == 0 || i == 7 || i == 8 ">
                        <div class="package overflow-hidden rounded-img position-relative">
                            <a href="#">
                                <img class="img-fluid" src="{{package.thumb}}" alt="{{package.thumb_alt}}" />
                                <div class="overlay">
                                    <div class="tour-info">
                                        <h6 class="title text-center text-white">{{package.name}}</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-3" *ngIf="i > 0 && i != 7 && i != 8">
                        <div class="package overflow-hidden position-relative">
                            <a href="#">
                                <img class="img-fluid" src="{{package.thumb}}" alt="{{package.thumb_alt}}" />
                                <div class="overlay">
                                    <div class="tour-info">
                                        <h6 class="font-weight-bold text-white">{{package.name}}</h6>
                                        <div class="rate d-flex justify-content-between my-1">
                                            <p class="text-white"><i class="far fa-star"></i>7.2 superb</p>
                                            <p class="main-color font-weight-bold">${{package.start_price}}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </ng-container>

            </div>
            <!-- <div class="row mt-4">
                <div class="col-12 col-md-3">
                    <div class="package overflow-hidden position-relative">
                        <a href="#">
                            <img class="img-fluid"
                                src="assets/imgs/cozumel-mexico-reef-snorkeling-fish-shore-excursions.jpg" />
                            <div class="overlay">
                                <div class="tour-info">
                                    <h6 class="font-weight-bold text-white">Cruise packages</h6>
                                    <div class="rate d-flex justify-content-between my-1">
                                        <p class="text-white"><i class="far fa-star"></i>7.2 superb</p>
                                        <p class="main-color font-weight-bold">$480</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="package overflow-hidden position-relative">
                        <a href="#">
                            <img class="img-fluid" src="assets/imgs/15351670530Best-Egypt-Nile-cruise-12.jpg" />
                            <div class="overlay">
                                <div class="tour-info">
                                    <h6 class="font-weight-bold text-white">Cruise packages</h6>
                                    <div class="rate d-flex justify-content-between my-1">
                                        <p class="text-white"><i class="far fa-star"></i>7.2 superb</p>
                                        <p class="main-color font-weight-bold">$480</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="package overflow-hidden position-relative">
                        <a href="#">
                            <img class="img-fluid" src="assets/imgs/Bungee-Jumping-in-India.jpg" />
                            <div class="overlay">
                                <div class="tour-info">
                                    <h6 class="font-weight-bold text-white">Cruise packages</h6>
                                    <div class="rate d-flex justify-content-between my-1">
                                        <p class="text-white"><i class="far fa-star"></i>7.2 superb</p>
                                        <p class="main-color font-weight-bold">$480</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="package  overflow-hidden rounded-img position-relative">
                        <a href="#">
                            <img class="img-fluid" src="assets/imgs/camping-hero_0_0.jpg" />
                            <div class="overlay">
                                <div class="tour-info">
                                    <h6 class="title text-center text-white">Adventure Trips</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div> -->
            <!-- <div class="row mt-4">
                <div class="col-12 col-md-3">
                    <div class="package overflow-hidden rounded-img position-relative">
                        <a href="#">
                            <img class="img-fluid" src="assets/imgs/5b14a68e3de5a.jpg" />
                            <div class="overlay">
                                <div class="tour-info">
                                    <h6 class="title text-center text-white">Travel Package</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="package overflow-hidden position-relative">
                        <a href="#">
                            <img class="img-fluid" src="assets/imgs/flight-tickets.jpg" />
                            <div class="overlay">
                                <div class="tour-info">
                                    <h6 class="font-weight-bold text-white">Cruise packages</h6>
                                    <div class="rate d-flex justify-content-between my-1">
                                        <p class="text-white"><i class="far fa-star"></i>7.2 superb</p>
                                        <p class="main-color font-weight-bold">$480</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="package overflow-hidden position-relative">
                        <a href="#">
                            <img class="img-fluid" src="assets/imgs/cover.jpg" />
                            <div class="overlay">
                                <div class="tour-info">
                                    <h6 class="font-weight-bold text-white">Cruise packages</h6>
                                    <div class="rate d-flex justify-content-between my-1">
                                        <p class="text-white"><i class="far fa-star"></i>7.2 superb</p>
                                        <p class="main-color font-weight-bold">$480</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="package overflow-hidden position-relative">
                        <a href="#">
                            <img class="img-fluid" src="assets/imgs/HRF-2008-Giza.jpg" />
                            <div class="overlay">
                                <div class="tour-info">
                                    <h6 class="font-weight-bold text-white">Cruise packages</h6>
                                    <div class="rate d-flex justify-content-between my-1">
                                        <p class="text-white"><i class="far fa-star"></i>7.2 superb</p>
                                        <p class="main-color font-weight-bold">$480</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>