<app-home-slider></app-home-slider>
<app-top-destination></app-top-destination>
<app-register></app-register>
<app-login></app-login>
<app-why-ask></app-why-ask>
<app-verfied-agent></app-verfied-agent>
<app-blog></app-blog>
<app-egypt-tour></app-egypt-tour>
<!-- <app-tour-slider></app-tour-slider> -->
<div class="sec-bg">
    <app-sponsors-logo></app-sponsors-logo>
</div>

<app-sponsorss></app-sponsorss>

<form>
    <span>
      <label for="minText">Min value</label>
      <input type="number" id="minText" value="0" onchange="equalizeMin(this.value)" min="0" />
    </span>
    <span>
      <label for="maxText">Max value</label>
      <input type="number" id="maxText" value="100" onchange="equalizeMax(this.value)" min="0" />
    </span>
    <div class="range">
      <input type="range" min="0" max="1000" value="0" id="minRange" onchange="equalizeMin(this.value)">
      <input type="range" min="0" max="1000" value="100" id="maxRange" onchange="equalizeMax(this.value)">
     </div>
    <br>
    <div class="average">
      <span>
        <label for="avgText">New value</label>
        <input type="number" id="avgText" value="50" onchange="equalizeAvg(this.value)" />
      </span>
      <input type="range" min="0" max="1000" value="50" id="avgRange" onchange="equalizeAvg(this.value)" />
    </div>
  </form>