#reviews .card-body{
    background-image: url(../../../../assets/imgs/doodle.jpg);
}
#reviews .card-body .layer{
    background-color: rgba(255, 255, 255, .8);
}
.rev{
    color: #f68800;
}
.revimg{
    height: 65px;
    /* width:200px; */
    /* border: solid 1px #f68800; */
    border-radius:50%;
}
h4 img {
    height: 20px;
    margin-top: 2px;
}

.limitTextHeight {
    height: 20px;
    overflow: hidden;
}
