<section class="mb-5 sec-bg p-3">
    <div class="container">
        <app-tags></app-tags>
        <div class="site-guide bg-white p-4 mt-4">
            <div class="head-title text-center mb-5">
                <h3 class="font-weight-bold">Site Guide</h3>
                <p>Below you'll find the wide variety of attractions here in Egypt. Keep any of these in mind when
                    planning
                    your trip!</p>
            </div>
            <div class="site-content" >
                <h4 class="mb-4 font-weight-bold">Visit Egypt</h4>
                <div class="row mr-0 ml-0" >
                    <div class="col-12 col-md-6 px-0">
                        <div class="first-part">
                            <div class="site-details with-border d-flex pt-4 pr-3 pb-3">
                                <div class="site-icon mr-3">
                                    <i class="far fa-calendar-alt main-color"></i>
                                </div>
                                <div class="site-text">
                                    <h6>Know Before You Go</h6>
                                    <p>Know Before You Go</p>
                                    <div class="text-right">
                                        <a href="#" class="main-color font-weight-bold">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="first-part">
                            <div class="site-details with-border d-flex pt-4 pr-3 pb-3">
                                <div class="site-icon mr-3">
                                    <i class="far fa-lightbulb main-color"></i>
                                </div>
                                <div class="site-text">
                                    <h6>Know Before You Go</h6>
                                    <p>Before you embark on your Egypt travel plans, read up on the unique culture of
                                        the
                                        country. Many travelers, who have visited the majority of the world’s countries,
                                        find that their “I’ve been everywhere so I know all there is to know” is called
                                        into
                                        question once they arrive here. Why? Well, let us see if we can explain. Egypt
                                        is an
                                        Islamic country, though about 15-20% of the population is non-Muslim, with
                                        Coptic
                                        Christians making up the majority. Throughout the world, Muslims are regarded as
                                        people who do not drink alcohol and are all virtually non-smokers … until you
                                        come
                                        to Egypt.</p>
                                    <div class="text-right">
                                        <a href="#" class="main-color font-weight-bold">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="first-part">
                            <div class="site-details with-border  d-flex pt-4 pr-3 pb-3">
                                <div class="site-icon mr-3">
                                    <i class="far fa-star main-color"></i>
                                </div>
                                <div class="site-text">
                                    <h6>Egypt Facts & Figures</h6>
                                    <p>Occupying the northeast corner of the African continent, Egypt is bisected by the
                                        highly fertile Nile valley, where the most economic activity takes place.
                                        Egypt's
                                        economy was highly centralized during the rule of former President Gamal Abdel
                                        Nasser but opened up considerably under former Presidents Anwar el-Sadat and
                                        Mohamed
                                        Hosni Mubarak. Cairo, from 2004 to 2008, aggressively pursued economic reforms
                                        to
                                        attract foreign investment and facilitate GDP growth. The global financial
                                        crisis
                                        slowed the reform efforts.</p>
                                    <div class="text-right">
                                        <a href="#" class="main-color font-weight-bold">Read More</a>
                                    </div>
                                </div>
                            </div>
                         </div>
                         <div class="first-part">
                            <div class="site-details border-bottom-0 with-border d-flex pt-4 pr-3 pb-3">
                                <div class="site-icon mr-3">
                                    <i class="fas fa-shopping-cart main-color"></i>
                                </div>
                                <div class="site-text">
                                    <h6>Egypt Facts & Figures</h6>
                                    <p>Occupying the northeast corner of the African continent, Egypt is bisected by the
                                        highly fertile Nile valley, where the most economic activity takes place.
                                        Egypt's
                                        economy was highly centralized during the rule of former President Gamal Abdel
                                        Nasser but opened up considerably under former Presidents Anwar el-Sadat and
                                        Mohamed
                                        Hosni Mubarak. Cairo, from 2004 to 2008, aggressively pursued economic reforms
                                        to
                                        attract foreign investment and facilitate GDP growth. The global financial
                                        crisis
                                        slowed the reform efforts.</p>
                                    <div class="text-right">
                                        <a href="#" class="main-color font-weight-bold">Read More</a>
                                    </div>
                                </div>
                            </div>
                         </div>
                         </div>
                         <div class="col-12 col-md-6 px-0">
                         <div class="second-part">
                            <div class="site-details d-flex pt-4 pr-3 pb-3">
                                <div class="site-icon mr-3 pl-3">
                                    <i class="fas fa-bus main-color"></i>
                                </div>
                                <div class="site-text">
                                    <h6>Egypt Facts & Figures</h6>
                                    <p>For anyone interested in visiting Egypt, know that the best time to come is from
                                        October to May. Though this is when most travelers arrive, the temperatures are
                                        much
                                        more palpable for those unaccustomed to the heat. Within these 8 months, there
                                        are 2
                                        periods known as “High Season” (the Christmas / New Year period and the Easter
                                        Period) when hotels and cruises hike their prices, though you will find that
                                        special
                                        events like Gala Dinners are also available for customers..</p>
                                    <div class="text-right">
                                        <a href="#" class="main-color font-weight-bold">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="site-details d-flex pt-4 pr-3 pb-3">
                                <div class="site-icon mr-3 pl-3">
                                    <i class="far fa-snowflake main-color"></i>
                                </div>
                                <div class="site-text">
                                    <h6>Weather</h6>
                                    <p>The Egyptian summer is hot and dry in most of the country, and humid in the Delta
                                        and
                                        along the Mediterranean Coast. In recent years the humidity has spread to Cairo,
                                        and
                                        the city swelters in August! Winter is mild with some rain, but usually, it is
                                        bright, sunny days with cold nights. During the summertime, sun protection is
                                        the
                                        most important single consideration for an Egypt trip, especially for the
                                        fair-skinned. Wearing a sunhat is essential. Cheap, and pure cotton, sunhats are
                                        made locally and available everywhere. Travel clothing should be light and
                                        comfortable.</p>
                                    <div class="text-right">
                                        <a href="#" class="main-color font-weight-bold">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="site-details d-flex pt-4 pr-3 pb-3">
                                <div class="site-icon mr-3 pl-3">
                                    <i class="fas fa-first-aid main-color"></i>
                                </div>
                                <div class="site-text">
                                    <h6>Health Advice</h6>
                                    <p>When traveling to any new destination internationally, visiting a personal
                                        physician
                                        or health clinic, at least four weeks before departure, is always recommended.
                                        This
                                        can allow you to understand the common ailments that may be at your destination,
                                        plus, get vaccinations and immunization to ensure you do not catch any infection
                                        or
                                        illnesses that commonly prevail in the country or the place you are traveling.
                                        Traveling to a new destination can be very relaxing and enjoyable if we follow
                                        some
                                        common sense steps</p>
                                    <div class="text-right">
                                        <a href="#" class="main-color font-weight-bold">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="site-details border-bottom-0 d-flex pt-4 pr-3 pb-3">
                                <div class="site-icon mr-3 pl-3">
                                    <i class="fas fa-atlas main-color"></i>
                                </div>
                                <div class="site-text">
                                    <h6>Entertainment</h6>
                                    <p>About a decade ago, entertainment options in Egypt, especially outside Cairo,
                                        were
                                        rather limited. However, today touristic cities like Alexandria, Luxor, Aswan,
                                        Sharm
                                        El Sheikh, Dahab, Hurghada, and Marsa Alam offer a wide range of entertainment
                                        means
                                        for travelers of all ages. Away from the common bars, restaurants, discos, and
                                        cafès
                                        that tourists can find almost everywhere around the Nile, especially in larger
                                        cities, are some other entertainment options that would interest tourists
                                        visiting
                                        Egypt from all regions of the world.</p>
                                    <div class="text-right">
                                        <a href="#" class="main-color font-weight-bold">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>