<section class="container-fluid my-3"> 
    <div class="container">
        <div class="row">
            <div *ngFor="let page of pagesContent" class="col-lg-4 col-md-6 col-sm-12">
                <a routerLink="/{{page.destination_slug}}/page/{{page.category_slug}}/{{page.slug}}">
                <div class="card" >
                    <img class="card-img-top img-fluid" [src]="page.thumb" [alt]="page.thumb_alt">
                    <div  class="card-body">
                      <h3 class="card-text title-category font-weight-light text-center">{{page.name}}</h3>
                    </div>
                    <div  class="card-layout">
                        <h3 class="card-text text-center">View Page...</h3>
                      </div>
                  </div>
                </a>
            </div>
        </div>
    </div>

</section>
<app-sponsorss></app-sponsorss>