.table th{
    background-color: #f68800;
}
.time-group img{
    height: 15px;
    margin-right: 5px;
}
.period-details {
    background-color: #f4f5f9;
    border-radius: 5px;
    padding: 1rem 1.5rem;
}
.details h4 {
    width: 90%;
    font-size: 0.9rem;
    padding: 0.4rem 0;
    top: -1.6rem;
    border-radius: 5px;
}
.details p {
    font-size: 0.9rem;
    color: #757575;
    margin-bottom: 0.6rem;
}
.list-group-item img {
    height: 15px;
    margin-top: 6px;
}
.list-group-item{
    border: 0px;
}
.list-group-item span {
    font-size: 1rem;
    margin-left: 0.6rem;
    color: #707070;
    line-height: 1.6rem;
}
.nav-item{
    background-color: black;
}
.nav-tabs .nav-link
{
    color: rgb(255, 255, 255);
}
.nav-tabs .nav-item
{
    background-color: rgba(0,0,0,0.7);
    width: 25%;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{
    background-color: #f68800;
    

}
@media only screen and(max-width:480px){
    .nav-tabs .nav-item
{
    width: 100%;
}
h1 img {
    height: 20px;
    margin-top: 3px;
}


.table thead tr th{
    font-size: 10px;
}
ul li a{
    font-size: 10px;
}
}
h1 img {
    height: 20px;
    margin-top: 3px;
}


.table thead tr th{
    font-size: 10px;
}
ul li a{
    font-size: 10px;
}

