.banner{
    background-size: cover;
    height: 450px;
    background-size: cover ;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.des-Name{
    font-family: 'Cormorant Unicase', serif;
    letter-spacing: 3px;
    font-size: 45px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}
.reviews{
    font-size: .9rem !important;
}
.tags .tag {
    padding: 0.3rem 0.8rem;
    text-align: center;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}
.info {
    padding: 0.6rem 0.8rem;
    border-radius: 5px;
    font-size: 1rem;
}
.info span {
    color: #fffa66;
}
.data-box {
    border-radius: 5px;
}
.pricing {
    padding: 0.7rem 0.5rem;
    border-radius: 5px;
}
.price {
    font-size: 1.1rem;
    word-spacing: 0.3rem;
}
.pricing a {
    font-size: .7rem;
}
.book {
    color: #f68800;
}
.pricing p {
    font-size: 0.9rem;
}
.pricing h4 {
    font-size: 1rem;
}
.data-box .package-content h5{
    font-size: 1.1rem;
}
.package-content span ,.package-content .package-text{
    color: #9c9c9c;
    font-size: 1rem;
}
.package-content .hashtag {
    font-size: .9rem;
}
.package-content .advatnage{
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    background-color: #fafbfc;
    display: flex;
    padding: 0.8rem 0.6rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.package-content .advatnage span {
    font-size: 0.8rem;
}
.package-img {
    height: 280px;
    object-fit: cover;
}
.map-details {
    border-radius: 5px;
}
.embed-responsive{
    height: 6.25rem;
}
.details p {
    font-size: 0.7rem;
    display: flex;
    color: #9c9c9c;

}
.rate{
    font-size: 1.5rem !important;
}
.tour i{
    color: #f68800;
    }
    .tour{
        margin-bottom: 10px;
    }
/* .pack-icons{
    margin-top: 80px;
} */
.package-text{
    height: 70%;
}
@media only  screen and (max-width:480px) {
    .pack-icons{
        margin-top: 20px;
    }
    .card-title{
        margin-top: 30px;
        text-align: center !important;
    }
    .day-night{
        text-align: center !important;
    }
    
    .package-text{
        height: 35%;
    }
}

.affe{
    position: absolute;
    top: 1rem;
    left: 0;
    font-size: 0.7rem;
    -webkit-clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
    clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
    border: 1px solid white;
    background-color: #ff5948;
}
.offerr{

    color: white;
    text-align: center;
    font-size: 0.7rem;
    display: inline-block;
    width: 100%;
    padding: 0.1rem 1.5rem;
    background-color: #ff5948;
}
.top-sale{
    position: absolute;
    top: 2.6rem;
    left: 0;
    font-size: 0.7rem;
    -webkit-clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
    clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
    border: 1px solid white;
 
}
.sale{
    color: white;
    text-align: center;
    font-size: 0.7rem;
    display: inline-block;
    width: 100%;
    padding: 0.1rem 1.5rem;
    background-color:#7fcb35;

}
.orang{
    position: absolute;
    top: 12rem;
    left: 0;
    font-size: 0.7rem;
    -webkit-clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
    clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
    border: 1px solid white;
    /* height: 25px; */
}
.orang-sale{
    color: white;
    text-align: center;
    font-size: 0.7rem;
    display: inline-block;
    width: 100%;
    padding: 0.1rem 1.5rem;
    background-color:#f68800;
}

