<section *ngFor='let ex of exContent |slice:2:3' >
    <section class="banner text-center"
        [ngStyle]="{'background-image':'linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0 ,0 ,0, .5)) , url(' + ex.thumb + ')' }">
        <div class="container">
            <div class="head text-uppercase d-inline-block font-weight-bold pb-1">

                <h1><span class="main-color des-Name font-weight-bold"> {{ex.name}}</span>  </h1>

            </div>
            <p class="mt-2"></p>
            <div class="contact-btns d-none d-sm-flex justify-content-center mt-3">
                <a href="" class="call-btn d-flex align-items-center">
                    <span class="phone-icon"><i class="fas fa-phone-alt main-color"></i></span>
                    <span class="phone-text text-dark">Call Us: <strong>+1(888) 513-5971</strong></span>
                </a>
            </div>
        </div>
    </section>

</section>
<app-page-links></app-page-links>


<section class="sec-bg p-3 mb-5">
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 col-md-3">
                <app-filter-by></app-filter-by>
            </div>
            <!-- travel-excursions -->
            <div class="col-12 col-md-9">
                <section>


                    <h2 class="info main-bg text-white font-weight-bold"> {{name?.destination_name}} travel-excursions
                        with <span>756 Reviews</span></h2>





                    <ng-container *ngFor="let ex of getDestinationExcursions">
                        <div class="data-box bg-white mt-3 p-2">
                            <div class="row mx-0">
                                <div class="col-xl-10">
                                    <div class="card border-0">
                                        <div class="row px-0">
                                            <div class="col-md-5 px-0">

                                                <img src="{{ex.excursion_thumb}}" alt="{{ex.excursion_thumb_alt}}"
                                                    class="img-fluid package-img">
                                                <div class="map-details border mt-2">
                                                    <div class="row mx-0 px-0">
                                                        <div class="col-12 px-0">
                                                            <div class="embed-responsive">
                                                                <iframe class="embed-responsive-item"
                                                                    [src]="ex.location_map|safe"
                                                                    allowfullscreen=""></iframe>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7 px-0">

                                                <div
                                                    class="card-body package-content pt-0 pb-1 h-100  d-flex flex-column justify-content-between">
                                                    <h5 class="card-title font-weight-bold mb-2 mt-3">
                                                        {{ex.excursion_name}}
                                                    </h5>

                                                    <p class="package-text pb-3" [innerHTML]="ex.excursion_description">
                                                    </p>



                                                    <div class="row  pack-icons ">
                                                        <div class="col-6 col-sm-4 px-0">
                                                            <div class="advatnage">
                                                                <i class="fas fa-highlighter main-color"></i>
                                                                <span class="text-center ml-1">Location</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 col-sm-4 px-0">
                                                            <div class="advatnage">
                                                                <i class="fas fa-clipboard-list main-color"></i>
                                                                <span class="text-center ml-1">Itinerary</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 col-sm-4 px-0">
                                                            <div class="advatnage">

                                                                <i class="fas fa-dollar-sign main-color"></i>
                                                                <span class="text-center ml-1">Prices</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 col-sm-4 px-0">
                                                            <div class="advatnage">

                                                                <i class="fas fa-coins main-color"></i>
                                                                <span class="text-center ml-1">offers</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 col-sm-4 px-0">
                                                            <div class="advatnage">

                                                                
                                                                <i class="fas fa-camera main-color"></i>
                                                                <span class="text-center ml-1">gallery</span>
                                                            </div>
                                                        </div>

                                                        <div class="col-6 col-sm-4 px-0">
                                                            <div class="advatnage">
                                                                <i class="fas fa-question main-color"></i>
                                                                <span class="text-center ml-1">Included</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xl-2 px-0">

                                    <div class="pricing text-center pt-4 h-100 sec-bg">
                                        <span>Pricing</span>
                                        <h4 class="font-weight-bold mb-2">Start From</h4>
                                        <span class="price main-color font-weight-bold">{{ex.start_price}}USD</span>



                                        <p class="text-center my-2 mb-3">{{ex?.duration}} hours</p>


                                        <a class="main-btn p-2 d-block mb-2 font-weight-bold py-2"
                                            (click)="setId(ex.excursion__id , ex.start_price)"
                                            routerLink="/{{ex.destination_slug}}/travel-excursions/{{ex.excursion_slug}}">View
                                            Tour Details</a>

                                            <a class="main-btn book bg-white p-2 d-block font-weight-bold pt-2"
                                            (click)="openVerticallyCentered(content)">Booking Inquiry</a>
                                    </div>

                                    <ng-template #content let-modal>
                                        <!-- <div class="modal-header">
                                          <h4 class="modal-title">Tour Booking</h4>
                                          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div> -->
                                        <!-- tour-booking -->
                                        <div class="modal-body">



                                            <section class="bg-white mt-3 px-3 py-4 booking">
                                                <div class="head mb-2">
                                                    <h3 class="font-weight-bolder">Excursion Booking</h3>
                                                </div>
                                                <form class="mt-4">
                                                    <div class="starting-date">
                                                        <h6>Preferred starting Date</h6>
                                                        <div class="form-row text-center">
                                                            <div class="col">
                                                                <input class="form-control" type="text">
                                                                <span class="text-center">MM</span>
                                                            </div>
                                                            <div class="col">
                                                                <input class="form-control" type="text">
                                                                <span class="text-center">DD</span>
                                                            </div>
                                                            <div class="col">
                                                                <input class="form-control" type="text">
                                                                <span class="text-center">YY</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="select-package mt-3">
                                                        <h5>Select Your Tour Package</h5>
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <select class="form-control">
                                                                    <option>Select Your Tour Package</option>
                                                                    <option>Test</option>
                                                                    <option>Test</option>
                                                                    <option>Test</option>
                                                                    <option>Test</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="select-package mt-3">
                                                        <h5>Total number of Travelers</h5>
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <select class="form-control">
                                                                    <option></option>
                                                                    <option>Test</option>
                                                                    <option>Test</option>
                                                                    <option>Test</option>
                                                                    <option>Test</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="informations mt-3">
                                                        <h5>Your Information</h5>
                                                        <div class="form-row">
                                                            <div class="col-12 mb-3">
                                                                <label for="email">Your E-mail</label>
                                                                <input type="text" class="form-control">
                                                            </div>
                                                            <div class="col">
                                                                <label>Your Name</label>

                                                                <input type="text" class="form-control"
                                                                    placeholder="First Name">
                                                            </div>
                                                            <div class="col">
                                                                <label>Last Name</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Last Name">
                                                            </div>
                                                            <div class="col-12 mt-3">
                                                                <label>Any additional request to add?</label>
                                                                <textarea class="form-control" rows="5"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <button type="submit" class="main-btn w-100 mt-3">Send Your
                                                        Enquiry</button>
                                                </form>
                                            </section>

                                        </div>
                                        <!-- <div class="modal-footer">
                                          <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                                        </div> -->

                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </section>
            </div>
            <!-- End travel-excursions -->
        </div>
    </div>
</section>


<app-destination-blog></app-destination-blog>
<app-sponsorss></app-sponsorss>