<section id="included" class="bg-white mt-3 px-2 py-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7">
                <div class="head mb-4">
                    <h5 class="font-weight-bold">{{"What's Included"|translate}}</h5>
                </div>
                <div class="">
                    <ul class="list-group p-0">
                        <li *ngFor='let in of includ.included' class="list-group-item d-flex px-0 py-2">
                            <img src="assets/imgs/right.svg" class="img-fluid">
                            <span>{{in.content}}</span>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div class="head mb-4">
                    <h5 class="font-weight-bold">{{"What's Not Included"|translate}}</h5>
                </div>
                <div class="">
                    <ul class="p-0">
                        <li *ngFor='let in of includ.excluded' class="list-group-item d-flex px-0 py-2">
                            <img src="assets/imgs/wrong.svg" class="img-fluid">
                            <span>{{in.content}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>