<div class="services text-center bg-white d-flex justify-content-between rounded mt-3">
    <div class="services-content">
       <a (click)="Itinerary()"> 

        <i class="far fa-lightbulb"></i>
        <p class="d-none d-sm-block mb-0">{{"Itinerary"|translate}}</p></a>
    </div>

    <div class="services-content">

        <a (click)="highlights()"> <i class="fas fa-map-marked-alt"></i> 
         <p class="d-none d-sm-block mb-0">{{"Location"|translate}}</p></a>
     </div>


     <div class="services-content">
        <a (click)="Included()"><i class="fas fa-plus-circle"></i>
        <p class="d-none d-sm-block mb-0">{{"What's Included"|translate}}</p></a>
    </div>

    <div class="services-content">
        <a (click)="prices()"> <i class="fas fa-dollar-sign"></i>
         <p class="d-none d-sm-block mb-0">{{"Prices&Dates"|translate}}</p></a>
     </div>

    <div class="services-content">

       <a (click)="gallery()"> <i class="far fa-images"></i>
        <p class="d-none d-sm-block mb-0">{{"Gallery"|translate}}</p></a>
    </div>
    <div class="services-content">

        <a (click)="reviews()"> <i class="fas fa-star-half-alt"></i>
         <p class="d-none d-sm-block mb-0">{{"Reviews"|translate}}</p></a>
     </div>
</div>