<div class="services text-center bg-white d-flex justify-content-between rounded mt-3">
    <div class="services-content">
       <a (click)="Itinerary()"> 

        <i class="far fa-lightbulb"></i>
        <p class="d-none d-sm-block mb-0">{{"Itinerary"|translate}}</p></a>
    </div>

    <div class="services-content">

        <a (click)="highlights()"> <i class="fas fa-map-marked-alt"></i> 
         <p class="d-none d-sm-block mb-0">{{"Location"|translate}}</p></a>
     </div>


     <div class="services-content">
        <a (click)="Included()"><i class="fas fa-plus-circle"></i>
        <p class="d-none d-sm-block mb-0">{{"What's Included"|translate}}</p></a>
    </div>

    <div class="services-content">
        <a (click)="prices()"> <i class="fas fa-dollar-sign"></i>
         <p class="d-none d-sm-block mb-0">{{"Prices&Dates"|translate}}</p></a>
     </div>


    <div class="services-content">

       <a (click)="gallery()"> <i class="far fa-images"></i>
        <p class="d-none d-sm-block mb-0">{{"gallery"|translate}}</p></a>
    </div>






    <!-- <div class="services-content">
        <a (click)="accomodation()">
            <i class="fas fa-bed"></i>
       <p class="d-none d-sm-block mb-0">Accomodation</p></a>
    </div>

    <div class="services-content">
        <a (click)="videos()"> <i class="far fa-play-circle"></i>
         <p class="d-none d-sm-block mb-0">Videos</p></a>

     </div> -->
    <!-- <div class="services-content">
        <a href=""> <i class="fas fa-shopping-basket font-weight-bold"></i>
        <p class="d-none d-sm-block mb-0">Shops</p></a>
    </div>
    <div class="services-content">
        <a href=""><i class="fas fa-plane font-weight-bold"></i>
        <p class="d-none d-sm-block mb-0">Flights</p></a> 
    </div>

   <div class="services-content">
       <a (click)="toItinerary()"> <i class="fas fa-hotel font-weight-bold"></i>
        <p class="d-none d-sm-block mb-0">Hotels</p></a>
    </div>

-->

    
</div>