<section *ngFor='let ex of exContent |slice:2:3' >
  <section class="banner text-center"
      [ngStyle]="{'background-image':'linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0 ,0 ,0, .5)) , url(' + ex.thumb + ')' }">
      <div class="container">
          <div class="head text-uppercase d-inline-block font-weight-bold pb-1">

              <h1><span class="main-color des-Name font-weight-bold"> {{ex.name}}</span>  </h1>

          </div>
          <p class="mt-2"></p>
          <div class="contact-btns d-none d-sm-flex justify-content-center mt-3">
              <a class="call-btn d-flex align-items-center">
                  <span class="phone-icon"><i class="fas fa-phone-alt main-color"></i></span>
                  <span class="phone-text text-dark">{{"Call Us"|translate}}: <strong>{{phone}}</strong></span>
              </a>
          </div>
      </div>
  </section>

</section>
<section>
  <div class="container">
    <div  class="page-links py-2">
     <a class="hover-color" routerLink="/"> <span > {{"Home"|translate}}/ </span>  </a>
     <a class="hover-color" routerLink="/{{desSlug}}/destination"> <span >{{desName}} / </span>  </a>
      <span class="main-color">{{exName}}</span>
    </div>
  </div>
</section>

<section class="sec-bg p-3 mb-5">
  <div class="container">
      <div class="row mt-4">
          <div class="col-12 col-md-3">
              <!-- <app-filter-by></app-filter-by> -->
              <section class="bg-white px-2 py-2">
                <div class="head mb-2">
                    <h3 class="font-weight-bolder">{{ "Filter By" | translate }}</h3>
                  </div>
              <form >

                <div class="filter-content border-bottom">
                  <a class="filter d-flex justify-content-between align-items-center sec-bg p-3 text-dark font-weight-bold text-uppercase"
                    (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                    aria-controls="collapseBasic">
                    <div class=""><i class="fas far fa-calendar-alt mr-2"></i>{{ "Duration" | translate }}</div>
                    <i class="fas" [ngClass]="{ 'fa-angle-down': isCollapsed, 'fa-angle-up': !isCollapsed }"></i>
                  </a>

                  <div id="collapseBasic" class="sec-bg p-3 pt-2" [collapse]="isCollapsed" [isAnimated]="true">




                  <div class="form">
                    <span>
                      <label for="minText"><span class="main-color line">Min </span> Hours </label>
                      <input class="input-filter" #min="ngModel" type="number" ngModel  disabled id="minTextDays" name="min" [value]="rangeSDay"
                        [(ngModel)]="rangeSDay" placeholder="1"  />
                    </span>

                    <span>
                      <label for="maxText"><span class="main-color line">Max </span> Hours </label>
                      <input class="input-filter" #max="ngModel" type="number" ngModel disabled id="maxText" name="max" [value]="rangeMDay"
                        [(ngModel)]="rangeMDay" placeholder="24" />
                    </span>

                    <div class="range">
                      <input type="range" #minD min="1" max="24" value="1" step="1" id="minRange"
                        (change)="rangeStartDay(minD)" />

                      <input type="range" #maxD min="1" max="24" value="30" id="maxRange"
                        (change)="rangeEndDay(maxD)" />
                    </div>
                  </div>
                  </div>


                </div>
                <!-- --------------------- -->
                <div class="filter-content border-bottom">
                  <a class="filter d-flex justify-content-between align-items-center sec-bg p-3 text-dark font-weight-bold text-uppercase"
                    (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2"
                    aria-controls="collapseBasic">
                    <div class=""><i class="fas fa-dollar-sign"></i> {{ "Prices" | translate }}</div>

                    <i class="fas" [ngClass]="{ 'fa-angle-down': isCollapsed2, 'fa-angle-up': !isCollapsed2 }"></i>
                  </a>

                  <div id="collapseBasic" class="sec-bg p-3 pt-2" [collapse]="isCollapsed2" [isAnimated]="true">

                    <div class="form">
                      <span>
                        <label for="minText"><span class="main-color line">Min </span> value</label>
                        <input class="input-filter" type="number" ngModel #min="ngModel" disabled id="minText" name="min" [value]="rangePric"
                          [(ngModel)]="rangePric" placeholder="0" #val3 />
                      </span>
                      <span>
                        <label for="maxText"><span class="main-color line">Max </span> value</label>
                        <input class="input-filter" type="number" ngModel #max="ngModel" disabled id="maxText" name="max" [value]="rangePrice"
                          [(ngModel)]="rangePrice" placeholder="5000" />
                      </span>
                      <div class="range">
                        <input type="range" #val min="0" max="5000" value="0" step="10" id="minRange"
                          (change)="rangePri1(val)" />
                        <input type="range" #val2 min="0" max="5000" value="5000" id="maxRange"
                          (change)="rangePri2(val2)" />
                      </div>
                    </div>
                  </div>
                </div>


                <div class="filter-content border-bottom">
                  <a class="filter d-flex justify-content-between align-items-center sec-bg p-3 text-dark font-weight-bold text-uppercase"
                    (click)="isCollapsed4 = !isCollapsed4" [attr.aria-expanded]="!isCollapsed4"
                    aria-controls="collapseBasic">
                    <div class=""><i class=" fas far fa-star"></i> city</div>

                    <i class="fas" [ngClass]="{ 'fa-angle-down': isCollapsed4, 'fa-angle-up': !isCollapsed4 }"></i>
                  </a>
                  <div id="collapseBasic" class="raat sec-bg pb-1 pt-1" [collapse]="isCollapsed4" [isAnimated]="true">
                    <div class="cont">
                      <div class="stars">

                        <!-- <div class="radioo" *ngFor="let city of cities ">
                          <input class="checkmark"  type="radio" [value]="city" [name]="city"(change)='citiesEX(val)'>
                            <span class="ml-1" >{{city}}</span>
                        </div> -->



                      </div>


                    </div>
                  </div>
                </div>


              </form>
              </section>
          </div>
          <!-- travel-excursions -->
          <div class="col-12 col-md-9">
              <section>
                  <h2 class="info main-bg text-white font-weight-bold">{{count}}  {{name?.destination_name}} {{"travel-excursions"|translate}}
               </h2>
                  <ng-container *ngFor="let ex of Filter">
                      <div class="data-box bg-white mt-3 p-2">
                          <div class="row mx-0">
                              <div class="col-xl-10">
                                  <div class="card border-0">
                                      <div class="row px-0">
                                          <div class="col-md-5 px-0">
                                              <img src="{{ex.excursion_thumb}}" alt="{{ex.excursion_thumb_alt}}"
                                                  class="img-fluid package-img">

                                                  <p *ngIf="ex.hot_offer" class="affe">
                                                      <span class="offerr">
                                                          {{"Hot Offer"|translate}}
                                                      </span>
                                                  </p>

                                                  <p *ngIf="ex.best_sale" class="top-sale">
                                                      <span class="sale ">
                                                          {{"Best Sale"|translate}}
                                                      </span>
                                                  </p>

                                                  <p *ngIf="ex.discount" class="orang">
                                                      <span  *ngIf="ex.discount!==null" class="orang-sale ">

                                                              {{ex.discount + "% off"}}
                                                      </span>
                                                  </p>
                                              <div class="map-details border mt-2">
                                                  <div class="row mx-0 px-0">
                                                      <div class="col-12 px-0">
                                                          <div *ngIf="ex?.location_map !== null " class="embed-responsive">
                                                              <iframe class="embed-responsive-item"
                                                                  [src]="ex.location_map|safe"
                                                                  allowfullscreen=""></iframe>
                                                          </div>
                                                      </div>

                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-md-7 px-0">

                                              <div
                                                  class="card-body package-content pt-0 pb-1 h-100  d-flex flex-column justify-content-between">
                                                  <h5 class="card-title font-weight-bold mb-2 mt-3">
                                                      {{ex.excursion_name}}
                                                  </h5>

                                                      <div class="rate" >
                                                          <rating [(ngModel)]="ex.rate" [max]="maxx" [readonly]="readonly">
                                                          </rating>
                                                          <span class="reviews"> of
                                                            <!-- {{ex.reviews}} -->
                                                             {{"Reviews"|translate}}</span>

                                                      </div>

                                                  <p class="package-text pt-1" [innerHTML]="ex.excursion_description">
                                                  </p>



                                                      <div class="  pl-1  tour "> {{"Number Of Travellers"|translate}}: <i class="fas fa-suitcase-rolling"></i> {{ex.travellers}} </div>


                                                  <div class="row  pack-icons ">
                                                      <div class="col-6 col-sm-6 px-0">
                                                          <div class="advatnage">
                                                              <i class="fas fa-utensils main-color"></i>
                                                              <span class="text-center ml-1">{{ex.meals}} {{" meals"|translate}}</span>
                                                          </div>
                                                      </div>
                                                      <div class="col-6 col-sm-6 px-0">
                                                          <div class="advatnage">
                                                              <i class="fas fa-wifi main-color"></i>
                                                              <span class="text-center ml-1">{{ex.services_number}}{{" Services"|translate}}</span>
                                                          </div>
                                                      </div>
                                                      <div class="col-6 col-sm-6 px-0">
                                                          <div class="advatnage">

                                                              <i class="fas fa-snowboarding main-color"></i>
                                                              <span class="text-center ml-1">{{ex.activities_number}}{{" Activities"|translate}}</span>
                                                          </div>
                                                      </div>
                                                      <div class="col-6 col-sm-6 px-0">
                                                          <div class="advatnage">

                                                              <i class="fab fa-guilded main-color"></i>
                                                              <span class="text-center ml-1">{{ex.guide_tour}}{{" Guided Tour"|translate}}</span>
                                                          </div>
                                                      </div>

                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="col-xl-2 px-0">

                                  <div class="pricing text-center pt-4 h-100 sec-bg">
                                      <span>{{"Pricing"|translate}}</span>
                                      <h4 class="font-weight-bold mb-2">{{"Start From"|translate}}</h4>
                                      <span class="price main-color font-weight-bold">${{ex.start_price}} USD</span>



                                      <p class="text-center my-2 mb-3">{{ex?.duration}} {{"hours"|translate}}</p>


                                      <a class="main-btn p-2 d-block mb-2 font-weight-bold py-2"
                                          (click)="setId(ex.start_price)"
                                          routerLink="/{{ex.destination_slug}}/travel-excursions/{{ex.excursion_slug}}">{{"View Tour Details"|translate}}</a>

                                          <a class="main-btn book bg-white p-2 d-block font-weight-bold pt-2"
                                          (click)="openVerticallyCentered(content)">{{"Booking Inquiry"|translate}}</a>
                                  </div>

                                  <ng-template #content let-modal>

                                      <div class="modal-body">



                                          <section class="bg-white mt-3 px-3 py-4 booking">
                                              <div class="head mb-2">
                                                  <h3 class="font-weight-bolder">{{"Excursion Booking"|translate}}</h3>
                                              </div>
                                              <iframe onload="javascript:parent.scrollTo(0,0);" height="1300" allowTransparency="true" scrolling="no" frameborder="0" style="width:100%;border:none" src="https://ask-aladdin.com/machform/embed.php?id=4" title="AskAladdin Tour Booking Center:"><a href="https://ask-aladdin.com/machform/view.php?id=4" title="AskAladdin Tour Booking Center:">AskAladdin Tour Booking Center:</a></iframe>
                                          </section>

                                      </div>


                                  </ng-template>
                              </div>
                          </div>
                      </div>
                  </ng-container>
              </section>
          </div>
          <!-- End travel-excursions -->
      </div>
  </div>
</section>


<app-sponsors></app-sponsors>
