<app-second-banner></app-second-banner>
<app-page-links></app-page-links>
<section class="sec-bg p-3 mb-5">
    <div class="container">
        <!-- <app-tags></app-tags> -->
        <div class="row mt-4">
            <div class="col-12 col-md-9">
                <app-egypt-splendor></app-egypt-splendor>    
            </div>
            <div class="col-12 col-md-3">
                <app-aside></app-aside>
            </div>
        </div>
    </div>
</section>  
<app-sponsors-logo></app-sponsors-logo>
<app-sponsorss></app-sponsorss>