<!-- <section class="sec-banner text-center" [ngStyle]="{'background-image':'linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0 ,0 ,0, .5)) , url(' + banener.banner + ')' }">

    <div class="container">
        <div class="head text-uppercase d-inline-block font-weight-bold pb-1">
            <h1><span class="main-color font-weight-bold">{{banener.name}} </span> 
            </h1>
        </div>
        <p class="mt-2">{{banener.description}}</p>
        <div class="contact-btns d-none d-sm-flex justify-content-center mt-3">
            <a href="" class="main-btn mr-3">Read More <i class="fas fa-arrow-right"></i></a> 
           
               
           
            <a  class="call-btn d-flex align-items-center">
                <span class="phone-icon"><i class="fas fa-phone-alt main-color"></i></span>
                <span class="phone-text text-dark">Call Us: <strong>{{contact.phone1}}</strong></span>
            </a>
        </div>
     </div>
    
</section>   -->
<app-page-links></app-page-links>

<section class="sec-bg p-3 mb-5">
    <div class="container">
        <app-tags-excursions></app-tags-excursions>


        <div class="row mt-4">
            <div class="col-12 col-md-9">
                <!-- egypt splendor -->

                <app-excursions-splendor></app-excursions-splendor>



                <!-- end egypt-splendor -->


                <!-- hightlightes -->
                <section id="highlights" class="bg-white mt-3 px-2 py-4">
                    <div class="container">
                        <div class="head mb-4">
                            <h3 class=" pl-2 font-weight-bold">Location</h3>

                        </div>

                        <div class="pl-2 font-weight-bold">
                            <h3 class="">Arrive Location : {{included.arrive_location}}</h3>
                            <h3 class="">Departure Location : {{included.departure_location}}</h3>
                        </div>
                        <p class=" pl-2 text-muted">{{included.location_description}}</p>

                        <div class="col-sm-12">
                            <div class="map-details border mt-2">
                                <div class="embed-responsive">
                                    <iframe class="embed-responsive-item" [src]="included?.map_url|map"
                                        allowfullscreen="">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

                <!-- end hightlightes -->

                <!-- included -->

                <section id="included" class="bg-white mt-3 px-2 py-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-7">
                                <div class="head mb-4">
                                    <h5 class="font-weight-bold">What's Included</h5>
                                </div>
                                <div class="">
                                    <ul class="list-group p-0">
                                        <li *ngFor='let ex of included.included'
                                            class="list-group-item d-flex px-0 py-2">
                                            <img src="assets/imgs/right.svg" class="img-fluid">
                                            <span>{{ex?.content}}</span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-5">
                                <div class="head mb-4">
                                    <h5 class="font-weight-bold">What's Not Included</h5>
                                </div>
                                <div class="">
                                    <ul class="p-0">
                                        <li *ngFor='let ex of included.excluded'
                                            class="list-group-item d-flex px-0 py-2">
                                            <img src="assets/imgs/wrong.svg" class="img-fluid">
                                            <span>{{ex?.content}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end included -->

                <!-- prices-dates -->
                <!-- <app-prices-dates></app-prices-dates> -->

                <div class="tab">


                    <div class="time-group pt-3">
                        <p class="d-flex align-items-center mb-4">
                            <img src="assets/imgs/dot.svg" class="img-fluid">
                            <span class="font-weight-bold"> Prices </span>
                        </p>

                    </div>
                    <div class="tab-content table   " id="myTabConten">
                        <div #home class="tab-pane  fade show active" id="home" role="tabpane"
                            aria-labelledby="home-tab">

                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr class="text-center">
                                        <th scope="col">One Person</th>
                                        <th scope="col"> 2-3 Persons</th>
                                        <th scope="col">4-6 Persons</th>
                                        <th scope="col">7-10 Persons</th>
                                        <th scope="col">+11 Persons</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center ">
                                        <td>{{prices.price_1}} $</td>
                                        <td>{{prices.price_2_3}} $</td>
                                        <td>{{prices.price_4_6}} $</td>
                                        <td>{{prices.price_7_10}} $</td>
                                        <td>{{prices.price_11}} $</td>
                                    </tr>

                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>

                <!-- End prices-dates -->
                <!-- <app-trav-exp></app-trav-exp> -->


                <div id="gallery" class="container gallery pb-4">
                    <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
                        
                        <mdb-carousel-item  *ngFor="let img of included.gallery" class="gallery">
                            
                            <img  class="d-block w-100" src="{{img}}"alt="First slide">
                           
                        </mdb-carousel-item>
                        
                    </mdb-carousel>
                </div>



            </div>
            <div class="col-12 col-md-3">
                <app-starting-from></app-starting-from>
                <app-expert-reviews></app-expert-reviews>
                <app-tour-booking></app-tour-booking>



                <section class="bg-white mt-3 px-3 py-4">
                    <div class="head mb-2">
                        <h3 class="font-weight-bolder">Related Excursions </h3>
                    </div>
                <ul class="p-0">
                    <li *ngFor='let ex of included.related_excursions'
                        class="list-group-items d-flex px-0 py-3 mb-2 overflow-hidden">
                        <div class="row mx-0">
                            <div class="col-md-5 px-0 overflow-hidden">
                                <a routerLink="">
                                    <img src="{{ex.thumb}}" alt="{{ex.thumb_alt}}" class="img-fluid" />
                                </a>
                            </div>
                            <div class="col-md-7 px-0">
                                <div class="card-body">
                                    <h5 class="card-title">{{ex.name}}</h5>
                                    <!-- <p class="card-text">Trip By Flight</p> -->
                                    <a class="main-btn d-block" href="">Explain More</a>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
                </section>

            </div>
        </div>
    </div>
</section>

<section id="gallery">

</section>


<app-sponsors-logo></app-sponsors-logo>
<app-sponsorss></app-sponsorss>