<section class="sec-bg py-4">
    <div class="container">
        <div class="head-title text-center">
            <p class="sat-font main-color mb-0">{{"Tour Countries" |translate}}</p>
            <h2 class="">{{"Top Destinations" |translate}}</h2>
        </div>
        <div class="destination-package mt-4">
            <div class="row">
                <div class="col-12 col-md-4 mb-4" *ngFor="let des of destinationContainer|slice:1:2">
                    <div class="destination-details">
                        <a routerLink="/{{des.slug}}">
                            <img src="{{des.thumb}}" class="img-fluid" alt="{{des.thumb_alt}}" />
                            <div class="overlay">
                                <a class="text-white" routerLink="/{{des.slug}}"
                                    (click)="setId(des.id)">{{des.name}}</a>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-8" *ngFor="let des of destinationContainer|slice:0:1">
                    <div class="destination-details">
                        <a routerLink="/{{des.slug}}">
                            <img src="{{des.thumb}}" class="img-fluid w-100" alt="{{des.thumb_alt}}" />
                            <div class="overlay">
                                <a class="text-white" routerLink="/{{des.slug}}"
                                    (click)="setId(des.id)">{{des.name}}</a>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-9" *ngFor="let des of destinationContainer|slice:2:3">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="destination-details">
                                <a routerLink="/{{des.slug}}">
                                    <img src="{{des.thumb}}" class="img-fluid w-100" alt="{{des.thumb_alt}}" />
                                    <div class="overlay">
                                        <a routerLink="/{{des.slug}}" (click)="setId(des.id)"
                                            class="text-white">{{des.name}}</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6" *ngFor="let des of destinationContainer|slice:3:4">
                            <div class="destination-details">
                                <a routerLink="/{{des.slug}}">
                                    <img src="{{des.thumb}}" class="img-fluid w-100" alt="{{des.thumb_alt}}" />
                                    <div class="overlay">
                                        <a class="text-white" (click)="setId(des.id)"
                                            routerLink="/{{des.slug}}">{{des.name}}</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" *ngFor="let des of destinationContainer|slice:4:5">
                            <div class="destination-details">
                                <a routerLink="/{{des.slug}}">
                                    <img src="{{des.thumb}}" class="img-fluid w-100" alt="{{des.thumb_alt}}" />
                                    <div class="overlay">
                                        <a class="text-white" (click)="setId(des.id)"
                                            routerLink="/{{des.slug}}">{{des.name}}</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3" *ngFor="let des of destinationContainer|slice:5:6">
                    <div class="destination-details">
                        <a routerLink="/{{des.slug}}">
                            <img src="{{des.thumb}}" class="img-fluid w-100 turkey" />
                            <div class="overlay">
                                <a class="text-white" routerLink="/{{des.slug}}"
                                    (click)="setId(des.id)">{{des.name}}</a>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>