<section *ngFor='let single of singleBlog ' >
    <section class="banner text-center"
        [ngStyle]="{'background-image':'linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0 ,0 ,0, .5)) , url(' + single.banner + ')' }">
        <div class="container">
            <div class="head text-uppercase d-inline-block font-weight-bold pb-1">

                <h1><span class="main-color des-Name font-weight-bold"> {{single.name}}</span>  </h1>
            </div>
            <p class="mt-2"></p>
            <div class="contact-btns d-none d-sm-flex justify-content-center mt-3">
                <a href="" class="call-btn d-flex align-items-center">
                    <span class="phone-icon"><i class="fas fa-phone-alt main-color"></i></span>
                    <span class="phone-text text-dark">{{"Call Us"|translate}}: <strong>+1(888) 513-5971</strong></span>
                </a>
            </div>
        </div>
    </section>

</section>
<section>
    <div class="container">
      <div *ngFor='let single of singleBlog '  class="page-links py-2">
       <a class="hover-color" routerLink="/"> <span >{{"Home"|translate}} / </span>  </a>
       <a class="hover-color" routerLink="/{{desSlug}}/destination"> <span > {{desName}} / </span>  </a>
       <a class="hover-color" routerLink="/{{desSlug}}/blogs"> <span > {{blogName}} / </span>  </a>
        <span class="main-color">{{single.name}}</span>  
      </div>
    </div>
  </section>
<section class="sec-bg py-4">
    <div class="container px-5">
        <div  *ngFor="let blog of singleBlog" class="row " >
            <div class="col-lg-9 col-sm-12">
                <!-- <div class="mb-3">
                    <img [src]="blog.thumb" class="img-fluid" alt="{{blog.thumb_alt}}" />
                </div> -->
                <div class="head-title w-75 mb-2 d-flex justify-content-between">
                    <h3 class="font-weight-bold">
                        {{blog.name}}
                    </h3>
                    <p class="font-weight-bold">{{blog.created_at}}</p>
                </div>
                <div class="single-blog-content w-75 mb-5">
                    <p [innerHtml]="blog.overview|safe :'html'"></p>
                  
                </div>

                <div class=" text-center sec-bg">
                    <h2 class=" mb-5">{{"Related Blogs"|translate}}</h2>

                        <!-- <div *ngFor="let blog of alldestinationCards" class="col-lg-4 col-md-6 col-sm-12">
                            <div class="blogs overflow-hidden">
                                <a class="text-dark">
                                    <div class="card text-center">
                                        <img src="{{blog.blog_thumb}}" class="card-img-top" alt="{{blog.blog_thumb_alt}}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{blog.blog_name}}</h5>
                                            <p class="card-text" [innerHTML]="blog.blog_description"></p>
                                            <a   (click)="setId(blog.blog_id)" class="btn main-btn blog-btn">Read More</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div> -->
                        <owl-carousel-o [options]="customOptions">
                            <ng-template *ngFor="let blog of alldestinationCards"  carouselSlide>
                                <div class="slide">                                    

                                    <div class="blogs overflow-hidden">
                                        <a href="/{{desSlug}}/blogs/{{blog.blog_slug}}" (click)="setId(blog.blog_id)">
                                            <div class="card main-card text-center ">
                                                <img [src]="blog.blog_thumb" class=" img-slide" alt="{{blog.blog_thumb_alt}}">
                                               
                                                <div class="card-body  card-details des-antherCard">
                                                    <h3 class="card-title font-weight-bold"> {{blog.blog_name}} </h3>
                                                    <p  [innerHTML]="blog.blog_description?blog.blog_description:''"></p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>                               

                                </div>
                            </ng-template>
                            
                            
                             
                        </owl-carousel-o>
                        
                </div>
            </div>
            <div class="col-12 col-md-3">
                <app-expert-reviews></app-expert-reviews>
            </div>
            
        </div>
    </div>
   
    
</section>