<section class="sec-banner text-center">
    <div class="container">
        <div class="head text-uppercase d-inline-block font-weight-bold pb-1">
            <h1><span class="main-color font-weight-bold">Egypt </span> Travel Guide
            </h1>
        </div>
        <p class="mt-2">Below you'll find the wide variety of attractions here in Egypt. Keep any of these in mind
            when planning your trip!</p>
        <div class="contact-btns d-none d-sm-flex justify-content-center mt-3">
            <a href="" class="main-btn mr-3">Read More <i class="fas fa-arrow-right"></i></a>
            <a href="" class="call-btn d-flex align-items-center">
                <span class="phone-icon"><i class="fas fa-phone-alt main-color"></i></span>
                <span class="phone-text text-dark">Call Us: <strong>+1(888) 513-5971</strong></span>
            </a>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="page-links py-2">
            <span>Home / </span>
            <span class="main-color">single-blog</span>
        </div>
    </div>
</section>
<section class="sec-bg py-4">
    <div class="container">
        <div  *ngFor="let blog of singleBlog" class="row" >
            <div class="col-lg-9 col-sm-12">
                <div class="mb-3">
                    <img [src]="blog.banner" class="img-fluid" alt="{{blog.banner_alt}}" />
                </div>
                <div class="head-title mb-2 d-flex justify-content-between">
                    <h3 class="font-weight-bold">
                        {{blog.name}}
                    </h3>
                    <p class="font-weight-bold">{{blog.created_at}}</p>
                </div>
                <div class="single-blog-content mb-5">
                    <p [innerHTML]="blog.content"></p>
                  
                </div>

                <div class=" text-center sec-bg">
                    <h2 class=" mb-5">Related Destination</h2>
                    <div  class="row">
                        <div *ngFor="let blog of alldestinationCards" class="col-lg-4 col-md-6 col-sm-12">
                            <div class="blogs overflow-hidden">
                                <a routerLink="/destination/blogs/{{blog.blog_slug}}" class="text-dark">
                                    <div class="card text-center">
                                        <img src="{{blog.blog_thumb}}" class="card-img-top" alt="{{blog.blog_thumb_alt}}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{blog.blog_name}}</h5>
                                            <p class="card-text" [innerHTML]="blog.blog_content|slice:0:100"></p>
                                            <a routerLink="/destination/blogs/{{blog.blog_slug}}"   (click)="setId(blog.blog_id)" class="btn main-btn blog-btn">Read More</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
            </div>
            <app-aside></app-aside>
        </div>
    </div>
   
    
</section>

