<section class="mb-5 sec-bg p-3">
    <div class="container">
        <div class="row "  >
            <!-- <div class="col-12 col-md-3">
                <a href="#">
                    <div class="logo-img">
                        <img src="assets/imgs/logo.png" class=" feelo mt-5" />
                    </div>
                </a>
            </div> -->
            <div class="col-12 col-md-3" *ngFor="let spon of logo|slice:2:6">
                <a href="{{spon.link}}">
                    <div class="logo-img">
                        <img [src]="spon.large_image" class="img-fluid " />
                    </div>
                </a>
            </div>
            <!-- <div class="col-12 col-md-3">
                <a href="#">
                    <div class="logo-img">
                        <img src="assets/imgs/ask-aladdin_bottom_banner_trustpilot.jpg" class="img-fluid " />
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-3">
                <a href="#">
                    <div class="logo-img">
                        <img src="assets/imgs/ask-aladdin_bottom_banner_tripadvisior.jpg" class="img-fluid " />
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</section>