<section class="mb-5 sec-bg p-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <a href="#">
                    <div class="logo-img">
                        <img src="assets/imgs/ask-aladdin_bottom_banner_reviewcenter.jpg" class="img-fluid w-75 p-3" />
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a href="#">
                    <div class="logo-img">
                        <img src="assets/imgs/ask-aladdin_bottom_banner_trustpilot.jpg" class="img-fluid w-75 p-3" />
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a href="#">
                    <div class="logo-img">
                        <img src="assets/imgs/ask-aladdin_bottom_banner_tripadvisior.jpg" class="img-fluid w-75 p-3" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>