<section class="sec-bg p-3 mb-5">
  <div class="container">
    <div class="">
      <div class="row mt-4">
        <div class="col-md-3 col-sm-12">
          <section class="bg-white px-3 py-4">
            <div class="head mb-2">
              <h3 class="font-weight-bolder">{{ "Filter By" | translate }}</h3>
            </div>
            <form >

              <div class="filter-content border-bottom">
                <a class="filter d-flex justify-content-between align-items-center sec-bg p-3 text-dark font-weight-bold text-uppercase"
                  (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                  aria-controls="collapseBasic">
                  <div class=""><i class="fas far fa-calendar-alt mr-2"></i>{{ "Duration" | translate }}</div>
                  <i class="fas" [ngClass]="{ 'fa-angle-down': isCollapsed, 'fa-angle-up': !isCollapsed }"></i>
                </a>

                <div id="collapseBasic" class="sec-bg p-3 pt-2" [collapse]="isCollapsed" [isAnimated]="true">


            <!-- Days -->
                <div class="form">
                  <span>
                    <label for="minText"><span class="main-color line">Min </span> Days</label>
                    <input type="number" ngModel  #mini="ngModel" disabled id="minTextDays" name="mini" [value]="rangeSDay"
                      [(ngModel)]="rangeSDay" placeholder="1"/>
                  </span>

                  <span>
                    <label for="maxText"><span class="main-color line">Max </span> Days</label>
                    <input type="number" #maxx="ngModel" ngModel disabled id="maxText" name="maxx" [value]="rangeMDay"
                      [(ngModel)]="rangeMDay" placeholder="30" />
                  </span>

                  <div class="range">
                    <input type="range" #minD min="1" max="30" value="1" step="2" id="minRange"
                      (change)="rangeStartDay(minD)" />

                    <input type="range" #maxD min="1" max="30" value="30" id="maxRange"
                      (change)="rangeEndDay(maxD)" />
                  </div>
                </div>
                </div>
              </div>
              <!-- --------------------- -->

            <!-- Prices -->
              <div class="filter-content border-bottom">
                <a class="filter d-flex justify-content-between align-items-center sec-bg p-3 text-dark font-weight-bold text-uppercase"
                  (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2"
                  aria-controls="collapseBasic">
                  <div class=""><i class="fas fa-dollar-sign"></i> {{ "Prices" | translate }}</div>

                  <i class="fas" [ngClass]="{ 'fa-angle-down': isCollapsed2, 'fa-angle-up': !isCollapsed2 }"></i>
                </a>

                <div id="collapseBasic" class="sec-bg p-3 pt-2" [collapse]="isCollapsed2" [isAnimated]="true">

                  <div class="form">
                    <span>
                      <label for="minText"><span class="main-color line">Min </span> value</label>
                      <input type="number" ngModel #min="ngModel" disabled id="minText" name="min" [value]="rangePric"
                        [(ngModel)]="rangePric" placeholder="0" #val3 />
                    </span>
                    <span>
                      <label for="maxText"><span class="main-color line">Max </span> value</label>
                      <input type="number" ngModel #max="ngModel" disabled id="maxText" name="max" [value]="rangePrice"
                        [(ngModel)]="rangePrice" placeholder="10000" />
                    </span>
                    <div class="range">
                      <input type="range" #val min="0" max="10000" value="0" step="400" id="minRange"
                        (change)="rangePri1(val)" />
                      <input type="range" #val2 min="0" max="10000" value="10000" id="maxRange"
                        (change)="rangePri2(val2)" />
                    </div>
                  </div>
                </div>
              </div>
              <!-- Tour Type -->

              <div class="filter-content border-bottom">
                <a class="filter d-flex justify-content-between align-items-center sec-bg p-3 text-dark font-weight-bold text-uppercase"
                  (click)="isCollapsed3 = !isCollapsed3" [attr.aria-expanded]="!isCollapsed3"
                  aria-controls="collapseBasic">
                  <div class=""><i class="fas fa-plane-departure mr-2"></i>{{ "Tour Type" | translate }}</div>
                  <i class="fas" [ngClass]="{ 'fa-angle-down': isCollapsed3, 'fa-angle-up': !isCollapsed3 }"></i>
                </a>
                <div id="collapseBasic" class="sec-bg p-3 pt-2" [collapse]="isCollapsed3" [isAnimated]="true">
                   <div *ngFor="let tour of tourType; let i = index" class="divBox">
                    <input type="checkbox" value="{{i}}" id="{{i}}"[name]="tour[i]" />
                    <label for="{{i}}">{{ tour }}</label>
                  </div>
                </div>
              </div>
              <!-- End Tour Type -->

            </form>
          </section>
        </div>
        <section class="col-12 col-md-9 mt-2">
          <div class="tags ">
            <span *ngFor="let Pack of categoryPack; let i = index" class="tag text-dark bg-white font-weight-bold">
              <a class="cat-pack" routerLink="/{{ desSlug }}/travel-package/{{ i + 1 }}/category"> {{ Pack.name }} </a>
            </span>

          </div>
          <h2 class="info main-bg text-white font-weight-bold">
            {{ count }} {{ nameCountry }} {{ "Tour Packages" | translate }}
          </h2>

          <div>
            <ng-container *ngFor="let singleDes of Filter">
              <div class="data-box   bg-white mt-3 p-2">
                <div id="pack" class="row mx-0 ">
                  <div class="col-xl-10 ">
                    <div class="card border-0">
                      <div class="row px-0 ">
                        <div class="col-md-5 px-0">
                          <img class="img-fluid package-img"
                            src="{{ singleDes.package_thumb == '1' ? image : singleDes.package_thumb }}" />
                          <p *ngIf="singleDes.hot_offer" class="affe">
                            <span class="offerr"> {{ "Hot Offer" | translate }} </span>
                          </p>

                          <p *ngIf="singleDes.top_sale" class="top-sale">
                            <span class="sale "> {{ "Best Sale" | translate }} </span>
                          </p>
                          <p *ngIf="singleDes.discount" class="orang">
                            <span *ngIf="singleDes.discount !== null" class="orang-sale ">
                              {{ singleDes.discount + "% off" }}
                            </span>
                          </p>
                          <div class="map-details border mt-2">
                            <div class="row mx-0 px-0">
                              <div class="col-12 px-0">
                                <div *ngIf="singleDes?.location_package_map !== null " class="embed-responsive">

                                  <iframe  class="embed-responsive-item" [src]="singleDes?.location_package_map | safe"
                                    allowfullscreen="">
                                  </iframe>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-7 px-0">
                          <div
                            class="card-body  package-content pt-0 pb-1 h-100  d-flex flex-column justify-content-between">
                            <h5 class="card-title font-weight-bold mb-2 mt-3">{{ singleDes.package_name }}</h5>
                            <div>
                              <div>
                                <rating class="rate" [(ngModel)]="singleDes.rate" [readonly]="isReadonly"> </rating>

                                <span class="reviews">  of {{ "Reviews" | translate }}</span>
                              </div>
                            </div>

                            <p class="package-text" [innerHTML]="singleDes.package_description"></p>

                            <div class="tour">
                              <div class="  font-weight-bold pl-2  d-flex justify-content-between ">
                                {{ "Tour Type" | translate }}:
                              </div>
                              <div class="pl-2 " *ngFor="let x of singleDes.tour_type">
                                <img src="../../../../../assets/imgs/dot.svg" class="dot" /> {{ x }}
                              </div>
                            </div>

                            <div class="row mt-2 px-0">
                              <div class="col-6 col-sm-4 px-0">
                                <div class="advatnage">
                                  <i class="fas fa-eye main-color"></i>
                                  <span class="text-center ml-1">{{ singleDes?.number_highlights }} {{ "Highlights" |
                                    translate }}
                                  </span>
                                </div>
                              </div>
                              <div class="col-6 col-sm-4 px-0">
                                <div class="advatnage">
                                  <i class="fas fa-clipboard-list main-color"></i>
                                  <span class="text-center ml-1">{{ singleDes?.itinerary }} {{ "Days" | translate
                                    }}</span>
                                </div>
                              </div>
                              <div class="col-6 col-sm-4 px-0">
                                <div class="advatnage">
                                  <i class="fas fa-hotel main-color"></i>
                                  <span class="text-center ml-1">{{ singleDes?.accommodations }} {{ "Hotels" | translate
                                    }}</span>
                                </div>
                              </div>
                              <div class="col-6 col-sm-4 px-0">
                                <div class="advatnage">
                                  <i class="fas fa-utensils main-color"></i>
                                  <span class="text-center ml-1">{{ singleDes?.meals }} {{ "Meals" | translate }}</span>
                                </div>
                              </div>
                              <div class="col-6 col-sm-4 px-0">
                                <div class="advatnage">
                                  <i class="fas fa-plane main-color"></i>
                                  <span class="text-center ml-1">{{ singleDes?.flights }} {{ "Flights" | translate
                                    }}</span>
                                </div>
                              </div>

                              <div class="col-6 col-sm-4 px-0">
                                <div class="advatnage">
                                  <i class="fab fa-guilded main-color"></i>
                                  <span class="text-center ml-1">{{ singleDes?.guid_tour }} {{ "Guided Tour" | translate
                                    }}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-2 px-0 ">
                    <div class="pricing text-center h-100 sec-bg">
                      <div class="mt-3 ">
                        <span class="mt-3">{{ "Pricing" | translate }}</span>
                        <h4 class="font-weight-bold mb-2 mt-2">{{ "Start From" | translate }}</h4>
                        <span class="price main-color font-weight-bold">${{ singleDes.start_price }} USD</span>
                        <h6 class="text-center my-2 mb-3 mt-2 night">
                          {{ singleDes.duration_in_days }} {{ "Days" | translate }}/{{ singleDes.duration_in_days - x }}
                          {{ "Nights" | translate }}
                        </h6>
                        <a class="main-btn p-2 view d-block mb-2 mt-3 font-weight-bold"
                          routerLink="/{{ singleDes.destination_slug }}/travel-package/{{ singleDes.package_slug }}">{{
                          "View Tour Details" | translate }}</a>

                        <a class="main-btn book bg-white p-2 d-block mt-3 font-weight-bold pt-2"
                          (click)="openVerticallyCentered(content)">{{ "Booking Inquiry" | translate }}
                        </a>
                      </div>
                    </div>
                    <ng-template #content let-modal>
                      <div class="modal-body">
                        <section class="bg-white mt-3 px-3 py-4 booking">
                          <div class="head mb-2">
                            <h3 class="font-weight-bolder">{{ "Package Booking" | translate }}</h3>
                          </div>

                          <iframe onload="javascript:parent.scrollTo(0,0);" height="1300" allowTransparency="true" scrolling="no" frameborder="0" style="width:100%;border:none" src="https://ask-aladdin.com/machform/embed.php?id=4" title="AskAladdin Tour Booking Center:"><a href="https://ask-aladdin.com/machform/view.php?id=4" title="AskAladdin Tour Booking Center:">AskAladdin Tour Booking Center:</a></iframe>
                        </section>
                      </div>
                    </ng-template>

                  </div>

                </div>
              </div>
            </ng-container>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
