<section *ngFor='let guide of allGuides|slice:0:1' >
    <section class="banner text-center"
        [ngStyle]="{'background-image':'linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0 ,0 ,0, .5)) , url(' + guide.thumb + ')' }">
        <div class="container">
            <div class="head text-uppercase d-inline-block font-weight-bold pb-1">

                <h1><span class="main-color des-Name font-weight-bold"> {{guide.name}}</span>  </h1>
            </div>
            <p class="mt-2"></p>
            <div class="contact-btns d-none d-sm-flex justify-content-center mt-3">
                <a href="" class="call-btn d-flex align-items-center">
                    <span class="phone-icon"><i class="fas fa-phone-alt main-color"></i></span>
                    <span class="phone-text text-dark">Call Us: <strong>+1(888) 513-5971</strong></span>
                </a>
            </div>
        </div>
    </section>

</section>
<section>
    <div class="container">
      <div  class="page-links py-2">
       <a class="hover-color" routerLink="/"> <span > Home / </span>  </a>
       <a class="hover-color" routerLink="/{{desSlug}}"> <span > {{desName}} / </span>  </a>
        <span class="main-color">{{guide_name}}</span>  
      </div>
    </div>
  </section>
<section class="sec-bg py-4">
    <div class="container">
        <div class="head-title text-center mb-5">
            <h2 class="font-weight-bold">{{guide_name}}</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let guide of guidesContainer">
                <div class="blogs overflow-hidden">
                    <a routerLink="/{{desSlug}}/travel-guides/{{guide.travel_guide_slug}}" (click)="setId(guide.travel_guide__id)"  class="text-dark">
                        <div class="card text-center">
                            <img src="{{guide.travel_guide_thumb}}" class="card-img-top" alt="{{guide.travel_guide_thumb_alt}}">
                            <div class="card-body">
                                <h3 class="card-title">{{guide.travel_guide_name}}</h3>
                                <p class="card-text" [innerHTML]="guide.travel_guide_description"></p>
                                <a routerLink="/{{desSlug}}/travel-guides/{{guide.travel_guide_slug}}"   (click)="setId(guide.travel_guide__id)" class="btn w-75 m-auto main-btn blog-btn">Read More</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-sponsorss></app-sponsorss>