<section class="my-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="blog-video position-relative">
                    <video poster="assets/imgs/2018-Egypt-Luxor-temples-124.jpg">
                        <source src="assets/imgs/blog-video.mp4" type="video/mp4">
                        <span><i class="fas fa-play"></i></span>
                    </video>
                </div>
            </div>
            <div class="col-12 col-md-7">
                <div class="blog-section">
                    <div class="blog-title">
                        <h2 class="font-weight-bold">From Our Blog</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aene an commodo dolor. Aenean Massa.
                            Cum sociis the</p>
                    </div>
                   

                    <div class="blog-content border-bottom py-3" *ngFor="let blog of blogContainer">
                        <a routerLink="/{{desSlug}}/{{category}}/{{blog.blog_slug}} " (click)="setId(blog.blog_id)">
                        <div class="row">
                            <div class="col-3">
                                <img src="{{blog.blog_thumb}}" class="img-fluid " alt="{{blog.blog_thumb_alt}}" />
                            </div>
                            <div class="col-9">
                                <div class="blog-details">
                                    <h5 class="font-weight-bold">{{blog.blog_name}}</h5>
                                    <p class="" [innerHTML]="blog.blog_content"></p>
                                    <span class="mr-2">{{blog.blog_created_at}}</span>
                                    <!-- <span class="ml-2"><i class="far fa-comment mr-2"></i>1 Comment</span> -->
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                

                </div>
            </div>
        </div>
    </div>
</section>