<section class="bg-white mt-3 px-3 py-4">
    <div class="head mb-2">
        <h3 class="font-weight-bolder">Starting from <span class="main-color">$1300 USD</span></h3>
        <p class="mb-1">per person in a double room</p>
    </div>
    <div class="">
        <ul class="p-0">
            <li class="list-group-item d-flex px-0 py-2">
                <img src="assets/imgs/right.svg" class="img-fluid">
                <span>07 Nights / 08 Days</span>
            </li>
            <li class="list-group-item d-flex px-0 py-2">
                <img src="assets/imgs/right.svg" class="img-fluid">
                <span>03 Nights in Cairo + 04 Nights Nile Cruise</span>
            </li>
            <li class="list-group-item d-flex px-0 py-2">
                <img src="assets/imgs/right.svg" class="img-fluid">
                <span>Including Transportation,</span>
            </li>
            <li class="list-group-item d-flex px-0 py-2">
                <img src="assets/imgs/right.svg" class="img-fluid">
                <span>Sightseeing,</span>
            </li>
            <li class="list-group-item d-flex px-0 py-2">
                <img src="assets/imgs/right.svg" class="img-fluid">
                <span>Domestic Flights</span>
            </li>
            <li class="list-group-item d-flex px-0 py-2">
                <img src="assets/imgs/right.svg" class="img-fluid">
                <span>Private Egyptologist tour guide as per program's itinerary.</span>
            </li>
        </ul>
    </div>
</section>