section {
    border-radius: 8px;
}
.head h3 {
    font-size: 1.1rem;
    margin-bottom: 0.1rem;
}
.head p {
    font-size: 0.8rem;
    color: #ababab;
}
.list-group-item img {
    height: 15px;
    margin-top: 2px;
}
.list-group-item{
    border: 0px;
}
.list-group-item span {
    font-size: .75rem;
    margin-left: 0.2rem;
    color: #707070;
}
.cover img
{
    width: 255px;
    height: 150px;
}