<section *ngFor='let pack of packageContent |slice:1:2' >
    <section class="banner text-center"
        [ngStyle]="{'background-image':'linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0 ,0 ,0, .5)) , url(' + pack.thumb + ')' }">
        <div class="container">
            <div class="head text-uppercase d-inline-block font-weight-bold pb-1">

                <h1><span class="main-color des-Name font-weight-bold"> {{pack.name}}</span>  </h1>
            </div>
            <p class="mt-2"></p>
            <div class="contact-btns d-none d-sm-flex justify-content-center mt-3">
                <a class="call-btn d-flex align-items-center">
                    <span class="phone-icon"><i class="fas fa-phone-alt main-color"></i></span>
                    <span class="phone-text text-dark">{{"Call Us"|translate}}: <strong>{{phone}}</strong></span>
                </a>
            </div>
        </div>
    </section>

</section>


<section>
    <div class="container">
      <div   class="page-links py-2">
       <a class="hover-color" routerLink="/"> <span >{{"Home"|translate}} / </span>  </a>
       <a class="hover-color" routerLink="/{{desSlug}}"> <span > {{desName}} / </span>  </a>
        <span class="main-color">{{packName}}</span>  
      </div>
    </div>
  </section>    
<section class="sec-bg p-3 mb-5">
    <div class="container">
        <!-- <div class="row mt-4"> -->
            <!-- <div class="col-12 col-md-3">
                <app-filter-by></app-filter-by>
            </div> -->
            <div class="">
               <app-package-details></app-package-details>
            </div>
        </div>
    <!-- </div> -->
</section>
<app-destination-blog></app-destination-blog>
<!-- <app-sponsors-logo></app-sponsors-logo> -->
<app-sponsorss></app-sponsorss>
 