<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="count text-center position-relative sec-bg pt-5 pb-2 mt-3">
                    <span class="d-inline-block position-absolute count-circle main-bg">
                        <img src="assets/imgs/tour-listed.svg" class="img-fluid" />
                    </span>
                    <h5 class="font-weight-bold">Tour Listed</h5>
                    <span class="text font-weight-bold sec-color">76</span>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="count text-center position-relative sec-bg pt-5 pb-2 mt-3">
                    <span class="d-inline-block position-absolute count-circle main-bg">
                        <img src="assets/imgs/verified.svg" class="img-fluid" />
                    </span>
                    <h5 class="font-weight-bold">Verified Agent</h5>
                    <span class="text font-weight-bold sec-color">233 </span>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="count text-center position-relative sec-bg pt-5 pb-2 mt-3">
                    <span class="d-inline-block position-absolute count-circle main-bg">
                        <img src="assets/imgs/satisfied.svg" class="img-fluid" />
                    </span>
                    <h5 class="font-weight-bold">Satisfied Customer</h5>
                    <span class="text font-weight-bold sec-color">43563</span>
                </div>
            </div>
        </div>
    </div>
</section>