<section class="bg-white px-3 py-4">
    <div class="head mb-2">
        <h3 class="font-weight-bolder">{{"Filter By"|translate}}</h3>
    </div>
    <div class="filter-content border-bottom">
        <a class="filter d-flex justify-content-between align-items-center sec-bg p-3 text-dark font-weight-bold text-uppercase"
            (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
            <div class="">
                <i class="far fa-calendar-alt mr-2"></i>Departure
                Date
            </div>
            <i class="fas" [ngClass]="{'fa-angle-down': isCollapsed, 'fa-angle-up': !isCollapsed}"></i>
        </a>
        <div id="collapseBasic" class="sec-bg p-3 pt-2" [collapse]="isCollapsed" [isAnimated]="true">
            <div class="form-check mb-2 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Nov 2019
                </label>
            </div>
            <div class="form-check mb-2 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Dec 2019
                </label>
            </div>
            <div class="form-check mb-2 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Jan 2019
                </label>
            </div>
            <div class="form-check mb-2 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Feb 2019
                </label>
            </div>
            <div class="form-check mb-2 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Mar 2019
                </label>
            </div>
        </div>
    </div>
    <div class="filter-content border-bottom">
        <a class="filter d-flex justify-content-between align-items-center sec-bg p-3 text-dark font-weight-bold text-uppercase"
            (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseBasic">
            <div class="">
                <i class="fas fa-map-marker-alt mr-2"></i>{{"Prices"|translate}}
            </div>

            <i class="fas" [ngClass]="{'fa-angle-down': isCollapsed2, 'fa-angle-up': !isCollapsed2}"></i>
        </a>
        <div id="collapseBasic" class="sec-bg p-3 pt-2" [collapse]="isCollapsed2" [isAnimated]="true">



            
            <!-- <div class="form-check mb-2 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Reykjavik
                </label>
            </div>
            <div class="form-check mb-2 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    South Coast
                </label>
            </div>
            <div class="form-check mb-2 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Golden Circle
                </label>
            </div>
            <div class="form-check mb-2 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Thingvellir National Parl
                </label>
            </div>
            <div class="form-check mb-2 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Landmannalaugar
                </label>
            </div> -->
        </div>
    </div>
    <div class="filter-content border-bottom">
        <a class="filter d-flex justify-content-between align-items-center sec-bg p-3 text-dark font-weight-bold text-uppercase"
            (click)="isCollapsed3 = !isCollapsed3" [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseBasic">
            <div class="">
                <i class="fas fa-plane-departure mr-2"></i>{{"Tour Type"|translate}}
            </div>

            <i class="fas" [ngClass]="{'fa-angle-down': isCollapsed3, 'fa-angle-up': !isCollapsed3}"></i>
        </a>
        <div id="collapseBasic" class="sec-bg p-3 pt-2" [collapse]="isCollapsed3" [isAnimated]="true">
            <div class="form-check mb-2 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Day Tours
                </label>
            </div>
            <div class="form-check mb-2 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Multiday Tours
                </label>
            </div>
            <div class="form-check mb-2 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Group Tours
                </label>
            </div>
            <div class="form-check mb-2 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Private Tours
                </label>
            </div>
            <div class="form-check mb-2 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Self-Guided Tours
                </label>
            </div>
        </div>
    </div>
    <!-- <div class="filter-content border-bottom">
        <a class="filter d-flex justify-content-between align-items-center sec-bg p-3 text-dark font-weight-bold text-uppercase"
            (click)="isCollapsed4 = !isCollapsed4" [attr.aria-expanded]="!isCollapsed4" aria-controls="collapseBasic">
            <div class="">
                <i class="fas fa-skating mr-2"></i>Activities
            </div>

            <i class="fas" [ngClass]="{'fa-angle-down': isCollapsed4, 'fa-angle-up': !isCollapsed4}"></i>
        </a>
        <div id="collapseBasic" class="sec-bg p-3 pt-2" [collapse]="isCollapsed4" [isAnimated]="true">
        </div>
    </div> -->
    <!-- <div class="filter-content border-bottom">
        <a class="filter d-flex justify-content-between align-items-center sec-bg p-3 text-dark font-weight-bold text-uppercase"
            (click)="isCollapsed5 = !isCollapsed5" [attr.aria-expanded]="!isCollapsed5" aria-controls="collapseBasic">
            <div class="">
                <i class="fas fa-user-plus mr-2"></i>Age Range
            </div>

            <i class="fas" [ngClass]="{'fa-angle-down': isCollapsed5, 'fa-angle-up': !isCollapsed5}"></i>
        </a>
        <div id="collapseBasic" class="sec-bg p-3 pt-2" [collapse]="isCollapsed5" [isAnimated]="true">
        </div>
    </div>
    <div class="filter-content border-bottom">
        <a class="filter d-flex justify-content-between align-items-center sec-bg p-3 text-dark font-weight-bold text-uppercase"
            (click)="isCollapsed6 = !isCollapsed6" [attr.aria-expanded]="!isCollapsed6" aria-controls="collapseBasic">
            <div class="">
                <i class="fas fa-user-plus mr-2"></i>Tour Operator
            </div>

            <i class="fas" [ngClass]="{'fa-angle-down': isCollapsed6, 'fa-angle-up': !isCollapsed6}"></i>
        </a>
        <div id="collapseBasic" class="sec-bg p-3 pt-2" [collapse]="isCollapsed6" [isAnimated]="true">
        </div>
    </div> -->
</section>
