<div class="services text-center bg-white d-flex justify-content-between rounded mt-3">
    <div class="services-content">
       <a (click)="Itinerary()"> 
        <i class="fas fa-map-marked-alt"></i>
        <p class="d-none d-sm-block mb-0">Itinerary</p></a>
    </div>

    <div class="services-content">
        <a (click)="highlights()"> <i class="far fa-lightbulb"></i>
         <p class="d-none d-sm-block mb-0">Highlights</p></a>
     </div>


     <div class="services-content">
        <a (click)="Included()"><i class="fas fa-plus-circle"></i>
        <p class="d-none d-sm-block mb-0">What's Included</p></a>
    </div>

    <div class="services-content">
        <a (click)="prices()"> <i class="fas fa-dollar-sign"></i>
         <p class="d-none d-sm-block mb-0">Prices&Dates</p></a>
     </div>


    <div class="services-content">
       <a (click)="trav()"> <i class="fas fa-globe-americas"></i>
        <p class="d-none d-sm-block mb-0">Travel Experiences</p></a>
    </div>



    <div class="services-content">
        <a (click)="videos()"> <i class="far fa-play-circle"></i>
         <p class="d-none d-sm-block mb-0">Videos</p></a>
     </div>

    <div class="services-content">
        <a (click)="accomodation()">
            <i class="fas fa-bed"></i>
       <p class="d-none d-sm-block mb-0">Accomodation</p></a>
    </div>
    <div class="services-content">

        <a (click)="reviews()"> <i class="fas fa-star-half-alt"></i>
         <p class="d-none d-sm-block mb-0">{{"Reviews"|translate}}</p></a>
     </div>
</div>