<div class="services text-center bg-white d-flex justify-content-between rounded mt-3">
    <div class="services-content">
       <a (click)="Itinerary()"> <i class="far fa-eye font-weight-bold"></i>
        <p class="d-none d-sm-block mb-0">Itinerary</p></a>
    </div>
    <div class="services-content">
       <a (click)="toItinerary()"> <i class="fas fa-hotel font-weight-bold"></i>
        <p class="d-none d-sm-block mb-0">Hotels</p></a>
    </div>
    <div class="services-content">
       <a (click)="prices()"> <i class="fas fa-tags font-weight-bold"></i>
        <p class="d-none d-sm-block mb-0">Things To Do</p></a>
    </div>
    <div class="services-content">
        <a (click)="trav()"><i class="fas fa-utensils font-weight-bold"></i>
        <p class="d-none d-sm-block mb-0">Restaurants</p></a>
    </div>
    <div class="services-content">
        <a (click)="accomodation()"><i class="fas fa-glass-cheers font-weight-bold"></i>
       <p class="d-none d-sm-block mb-0">accomodation</p></a>
    </div>
    <!-- <div class="services-content">
        <a href=""> <i class="fas fa-shopping-basket font-weight-bold"></i>
        <p class="d-none d-sm-block mb-0">Shops</p></a>
    </div>
    <div class="services-content">
        <a href=""><i class="fas fa-plane font-weight-bold"></i>
        <p class="d-none d-sm-block mb-0">Flights</p></a> 
    </div> -->
</div>