<section class="sec-bg my-5 py-5">
    <div class="container">
            <div class="row">
                    <div class="col-md-3">
                        <div class="about-text">
                            <div class="about-header ">
                                <h6>100% TAILOR MADE</h6>
                                <img src="../../../assets/imgs/book-icon.png" class="img-fluid" alt="book-icon">
                            </div>
                            <div class="about-des">
                                <ul>
                                    <li> <img src="../../../assets/imgs/success.png" alt=""> <p>Your entire holiday is designed around your requirements.</p> </li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>You can explore your interests at your own speed.</p></li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>You Select your preferred style of accommodation.</p> </li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>You Create the perfect trip with the help of our specialists.</p> </li>
                                </ul>
                            </div>
                        <div class="about-footer"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="about-text">
                            <div class="about-header ">
                                <h6 class="">EXPERT KNOWLEDGE</h6>
                                <img src="../../../assets/imgs/glasses-icon.png" class="img-fluid" alt="book-icon">
                            </div>
                            <div class="about-des">
                                <ul>
                                    <li> <img src="../../../assets/imgs/success.png" alt=""> <p>Expert knowledge to make your trip successful & hassle-free.</p> </li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>We hire the best Expert Egyptologists in the market.</p></li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>We give you full pre-trip Information.</p> </li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>We know our destination tips and tricks.</p> </li>
                                </ul>
                            </div>
                            <div class="about-footer"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="about-text">
                            <div class="about-header ">
                                <h6>THE BEST GUIDES</h6>
                                <img src="../../../assets/imgs/guide-icon.png" class="img-fluid" alt="book-icon">
                            </div>
                            <div class="about-des">
                                <ul>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>Your Guides are certified Egyptologist.</p></li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>Private guides for you throughout your entire trip.</p></li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>Explore your interests at your own speed.</p> </li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>Personalized attention from your guide.</p> </li>
                                </ul>
                            </div>
                            <div class="about-footer"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="about-text">
                            <div class="about-header ">
                                <h6>FULLY PROTECTED</h6>
                                <img src="../../../assets/imgs/star-icon.png" class="img-fluid" alt="book-icon">
                            </div>
                            <div class="about-des">
                                <ul>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>You are fully protected through our advanced payment system </p> </li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>We care about data privacy and protection.</p></li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>100% financial protection in case of force major.</p> </li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>Money Back Guarantee.</p> </li>
                                </ul>
                            </div>
                            <div class="about-footer"></div>
                        </div>
                    </div>
                </div>
    </div>
</section>