<section class="sec-bg my-5 py-5">
    <div class="container">
            <div class="row">
                    <div class="col-md-3">
                        <div class="about-text">
                            <div class="about-header ">
                                <h6>100% {{"TAILOR MADE"|translate}}TAILOR MADE</h6>
                                <img src="../../../assets/imgs/book-icon.png" class="img-fluid" alt="book-icon">
                            </div>
                            <div class="about-des">
                                <ul>
                                    <li> <img src="../../../assets/imgs/success.png" alt=""> <p>{{"Your entire holiday is designed around your requirements"|translate}}.</p> </li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>{{"You can explore your interests at your own speed"|translate}}.</p></li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>{{"You Select your preferred style of accommodation"|translate}}.</p> </li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>{{"You Create the perfect trip with the help of our specialists"|translate}}.</p> </li>
                                </ul>
                            </div>
                        <div class="about-footer"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="about-text">
                            <div class="about-header ">
                                <h6 class="">{{"EXPERT KNOWLEDGE"|translate}}</h6>
                                <img src="../../../assets/imgs/glasses-icon.png" class="img-fluid" alt="book-icon">
                            </div>
                            <div class="about-des">
                                <ul>
                                    <li> <img src="../../../assets/imgs/success.png" alt=""> <p>{{"Expert knowledge to make your trip successful & hassle-free"|translate}}.</p> </li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>{{"We hire the best Expert Egyptologists in the market"|translate}}.</p></li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>{{"We give you full pre-trip Information"|translate}}.</p> </li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>{{"We know our destination tips and tricks"|translate}}.</p> </li>
                                </ul>
                            </div>
                            <div class="about-footer"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="about-text">
                            <div class="about-header ">
                                <h6>{{"THE BEST GUIDES"|translate}}</h6>
                                <img src="../../../assets/imgs/guide-icon.png" class="img-fluid" alt="book-icon">
                            </div>
                            <div class="about-des">
                                <ul>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>{{"Your Guides are certified Egyptologist"|translate}}.</p></li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>{{"Private guides for you throughout your entire trip"|translate}}.</p></li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>{{"Explore your interests at your own speed"|translate}}.</p> </li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>{{"Personalized attention from your guide"|translate}}.</p> </li>
                                </ul>
                            </div>
                            <div class="about-footer"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="about-text">
                            <div class="about-header ">
                                <h6>{{"FULLY PROTECTED"|translate}}</h6>
                                <img src="../../../assets/imgs/star-icon.png" class="img-fluid" alt="book-icon">
                            </div>
                            <div class="about-des">
                                <ul>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>{{"You are fully protected through our advanced payment system"|translate}} </p> </li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>{{"We care about data privacy and protection"|translate}}.</p></li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>{{"100% financial protection in case of force major"|translate}}.</p> </li>
                                    <li><img src="../../../assets/imgs/success.png" alt=""><p>{{"Money Back Guarantee"|translate}}.</p> </li>
                                </ul>
                            </div>
                            <div class="about-footer"></div>
                        </div>
                    </div>
                </div>
    </div>
</section>