.city-content .card img {
    height: 175px;
    object-fit: cover;
    transition: all 0.5s ease 0s;
}
.city-content .card:hover img {
    transform: scale(1.1)
}
.city-content .card:hover a ,.city-content .card:hover .card-body p {
    text-decoration: none;
    color: #f68800 !important;
    transition: all 0.5s ease 0s; 
}