<section class="my-5">
    <div class="container">
        <div class="head-title text-center mb-5">
            <h3 class="font-weight-bold">City Guide</h3>
        </div>
        <div class="city-content">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="card overflow-hidden">
                        <a href="">
                            <img src="assets/imgs/egypt_400-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center sec-bg">
                                <p class="card-text text-dark font-weight-bold">Egypt's Governorates</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card overflow-hidden">
                        <a href="">
                            <img src="assets/imgs/alexandria.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center sec-bg">
                                <p class="card-text text-dark font-weight-bold">Egypt Cities</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card overflow-hidden">
                        <a href="">
                            <img src="assets/imgs/Intrepid-Travel-Egypt-Cairo-pyramids-040.jpg" class="card-img-top"
                                alt="...">
                            <div class="card-body text-center sec-bg">
                                <p class="card-text text-dark font-weight-bold">Cairo Travel Guide</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card overflow-hidden">
                        <a href="">
                            <img src="assets/imgs/Luxor-Day-Tour-2.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center sec-bg">
                                <p class="card-text text-dark font-weight-bold">Egypt's Governorates</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-3">
                    <div class="card overflow-hidden">
                        <a href="">
                            <img src="assets/imgs/Feluccas sailing on the Nile-rev.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center sec-bg">
                                <p class="card-text text-dark font-weight-bold">Egypt's Governorates</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card overflow-hidden">
                        <a href="">
                            <img src="assets/imgs/20190501_112559.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center sec-bg">
                                <p class="card-text text-dark font-weight-bold">Egypt Cities</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card overflow-hidden">
                        <a href="">
                            <img src="assets/imgs/egyptian-oasis.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center sec-bg">
                                <p class="card-text text-dark font-weight-bold">Cairo Travel Guide</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card overflow-hidden">
                        <a href="">
                            <img src="assets/imgs/Intrepid-Travel-Egypt-Cairo-pyramids-040.jpg" class="card-img-top"
                                alt="...">
                            <div class="card-body text-center sec-bg">
                                <p class="card-text text-dark font-weight-bold">Egypt's Governorates</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>