<section class="sec-banne text-center"
    [ngStyle]="{'background-image':'linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0 ,0 ,0, .5)) , url(' + banener.banner + ')' }">
    <div class="container mt-5">
        <div class="head text-uppercase d-inline-block font-weight-bold pb-1 mt-4">
            <h1><span class="main-color font-weight-bold">{{banener.name}} </span> </h1>
        </div>
    </div>
    <div class="over_banner">
        <img src="{{overBanner}}" alt="" srcset="">
    </div>
    <p class=" mx-auto mt-3 w-50 ">{{banener.description}}</p>
</section>
<section>
    <div class="container">
        <div class="page-links py-2">
            <a class="hover-color" routerLink="/"> <span>{{"Home"|translate}} / </span> </a>
            <a class="hover-color" routerLink="/{{desSlug}}"> <span> {{ desName }} / </span> </a>
            <a class="hover-color" routerLink="/{{desSlug}}/travel-package"> <span> {{packName}} / </span> </a>
            <span class="main-color">{{banener?.name}}</span>
        </div>
    </div>
</section>
<section class="sec-bg p-3 mb-5">
    <div class="container">
        <app-tags></app-tags>
        <div class="row mt-4">
            <div class="col-12 col-md-9">
                <app-egypt-splendor></app-egypt-splendor>
                <app-hightlightes></app-hightlightes>
                <app-package-included></app-package-included>
                <app-prices-dates></app-prices-dates>
                <app-trav-exp></app-trav-exp>
                <section id="videos" class="bg-white mt-3 pl-2 ">
                    <div *ngIf="video.length > 0 ;else noData" class="row">
                        <div *ngFor="let vid of video" class="col-12  col-md-6 col-sm-12">
                        <youtube-player class="you" [videoId]="vid" [width]="300" [height]="250" (ready)="savePlayer($event)" >
                        </youtube-player>
                        </div>
                    </div>
                    <ng-template #noData >
                        <h1 class="h3 text-center  "> <img src="assets/imgs/dot.svg" class="img-fluid"> {{"No Videos Yet"|translate}} </h1>
                      </ng-template>
                </section>
            </div>
            <div class="col-12 col-md-3">
                <app-aside></app-aside>
            </div>
        </div>
    </div>
</section>
<app-accomodation></app-accomodation>


<section id="reviews" class="sec-bg p-3 mb-5">
<div   class="container">

<h1 class="h3"> Top <span class="rev">Reviews</span> </h1>
<div *ngIf="reviews?.length > 0 ;else reev" class="row">
    <div class="col-md-12 mt-2" *ngFor="let rev of reviews">
        <div class="card text-left">
          <div class="card-body">
              <div class="d-flex  align-items-center">
            <img class="card-img-top" src="{{rev.image=='1'?image: rev.image}}"  class="revimg img-fluid" alt="">
             <h4 class="ml-3 card-title">{{rev.name}}</h4>
           </div>
           <div class="mb-1">
                                        
            <rating [(ngModel)]="rev.rate"  [max]="max" [readonly]="isReadonly">
            </rating>
         </div>
         <h6 class="text-muted">Reviewed in {{ rev.date|date}}</h6>
        
            <p class="mt-2 card-text"[innerHTML]="rev.review"></p>
          </div>
        </div>


    </div>

</div>
</div>
</section >
<ng-template #reev >

    <h4 class=" text-center  ">  <img src="assets/imgs/dot.svg" class="img-fluid m-2">{{"No Reviews For This Item"|translate}} </h4>
  </ng-template>
<section class=".sec-bg">
    <app-reviews></app-reviews>
</section>
<!-- videos -->

<app-sponsorss></app-sponsorss>