<section class="sec-banne text-center" [ngStyle]="{'background-image':'linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0 ,0 ,0, .5)) , url(' + banener.banner + ')' }">

    <div class="container mt-5">
        <div class="head text-uppercase d-inline-block font-weight-bold pb-1 mt-4">
            <h1><span class="main-color font-weight-bold">{{banener.name}} </span> </h1>
        </div>
        <!-- <div class="contact-btns d-none d-sm-flex justify-content-center mt-3">
            <a href="" class="main-btn mr-3">Read More <i class="fas fa-arrow-right"></i></a> 
           
               
           
            <a  class="call-btn d-flex align-items-center">
                <span class="phone-icon"><i class="fas fa-phone-alt main-color"></i></span>
                <span class="phone-text text-dark">Call Us: <strong>{{contact.phone1}}</strong></span>
            </a>
        </div> -->
     </div>
    
     <div class="over_banner">
        <img src="{{overBanner}}" alt="" srcset="">
    </div>

    <p class=" mx-auto mt-3 w-50 ">{{banener.description}}</p>

</section>  

<section>
    <div class="container">
      <div class="page-links py-2">
       <a class="hover-color" routerLink="/"> <span > Home / </span>  </a>
       <a class="hover-color" routerLink="/{{desSlug}}"> <span > {{ desName }} / </span>  </a>
       <a class="hover-color" routerLink="/{{desSlug}}/travel-package"> <span > {{packName}} / </span>  </a>
        <span class="main-color">{{banener.name}}</span>  
      </div>
    </div>
  </section>
  <section class="sec-bg p-3 mb-5">
    <div class="container">
        <app-tags></app-tags>

        
        <div class="row mt-4">
            <div class="col-12 col-md-9">
                <!-- egypt splendor -->
                <app-egypt-splendor></app-egypt-splendor> 
 
                <!-- end egypt-splendor -->


                <!-- hightlightes -->
                <app-hightlightes></app-hightlightes>

                <!-- end hightlightes -->

                <!-- included -->

                <app-package-included></app-package-included>
                <!-- end included -->
 
                <app-prices-dates></app-prices-dates>

                <app-trav-exp></app-trav-exp>   
            </div>
            <div class="col-12 col-md-3">
                <app-aside></app-aside>
            </div>
        </div>
    </div>
</section>  
<app-accomodation></app-accomodation>

<!-- videos -->

<!-- <app-sponsors-logo></app-sponsors-logo> -->
<app-sponsorss></app-sponsorss>