<section class="bg-white mt-3 px-3 py-4">
    <div class="head mb-2">
        <h3 class="font-weight-bolder">Optional Trips & Exentions</h3>
    </div>
    <div class="">
        <ul class="p-0">
            <li class="list-group-item d-flex px-0 py-3 mb-2 overflow-hidden">
                <div class="row mx-0">
                    <div class="col-md-5 px-0 overflow-hidden">
                        <a href="">
                            <img src="assets/imgs/ph1_incusions.jpg" class="img-fluid" />
                        </a>
                    </div>
                    <div class="col-md-7 px-0">
                        <div class="card-body">
                            <h5 class="card-title">Abu Simbel</h5>
                            <p class="card-text">Trip By Flight</p>
                            <a class="main-btn d-block" href="">Explain More</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex px-0 py-3 mb-2 overflow-hidden">
                <div class="row mx-0">
                    <div class="col-md-5 px-0 overflow-hidden">
                        <a href="">
                            <img src="assets/imgs/ph2_incusions.jpg" class="img-fluid" />
                        </a>
                    </div>
                    <div class="col-md-7 px-0">
                        <div class="card-body">
                            <h5 class="card-title">Abu Simbel</h5>
                            <p class="card-text">Trip By Flight</p>
                            <a class="main-btn d-block" href="">Explain More</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex px-0 py-3 mb-2 overflow-hidden">
                <div class="row mx-0">
                    <div class="col-md-5 px-0 overflow-hidden">
                        <a href="">
                            <img src="assets/imgs/ph2_optional-tours.jpg" class="img-fluid" />
                        </a>
                    </div>
                    <div class="col-md-7 px-0">
                        <div class="card-body">
                            <h5 class="card-title">Abu Simbel</h5>
                            <p class="card-text">Trip By Flight</p>
                            <a class="main-btn d-block" href="">Explain More</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item border-0 d-flex px-0 py-3 mb-2 overflow-hidden">
                <div class="row mx-0">
                    <div class="col-md-5 px-0 overflow-hidden">
                        <a href="">
                            <img src="assets/imgs/ph6_optional-tours.jpg" class="img-fluid" />
                        </a>
                    </div>
                    <div class="col-md-7 px-0">
                        <div class="card-body">
                            <h5 class="card-title">Luxor</h5>
                            <p class="card-text">Over Day Trip</p>
                            <a class="main-btn d-block" href="">Explain More</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>