<div class="row mt-4">

    <div class="col-md-3 col-3">
        <!-- <app-filter-by></app-filter-by> -->
        <section class="bg-white px-3 py-4">
            <div class="head mb-2">
                <h3 class="font-weight-bolder">{{"Filter By"|translate}}</h3>
            </div>
            <form #form="ngForm"  action="" (ngSubmit)="allForm(form)">
            <div class="filter-content border-bottom">
                <a class="filter d-flex justify-content-between align-items-center sec-bg p-3 text-dark font-weight-bold text-uppercase"
                    (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
                    <div class="">
                        <i class="fas far fa-calendar-alt mr-2"></i>{{"Duration"|translate}}
                    </div>
                    <i class="fas" [ngClass]="{'fa-angle-down': isCollapsed, 'fa-angle-up': !isCollapsed}"></i>
                </a>
                <div id="collapseBasic" class="sec-bg p-3 pt-2" [collapse]="isCollapsed" [isAnimated]="true">

                    <ngx-slider [(value)]="minValueDays" [(highValue)]="maxValueDays" [options]="optionsDays"></ngx-slider>



                </div>
            </div>
            <div class="filter-content border-bottom">
                <a class="filter d-flex justify-content-between align-items-center sec-bg p-3 text-dark font-weight-bold text-uppercase"

                    (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseBasic">
                    <div class="">
                        <i class="fas fa-dollar-sign"></i> {{"Prices"|translate}}
                    </div>
        
                    <i class="fas" [ngClass]="{'fa-angle-down': isCollapsed2, 'fa-angle-up': !isCollapsed2}"></i>
                </a>
                <div id="collapseBasic" class="sec-bg p-3 pt-2" [collapse]="isCollapsed2" [isAnimated]="true">
                        
                    <!-- <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider> -->
                    <div class="form">
                        <span>
                          <label for="minText">Min value</label>
                          <input type="number"  ngModel #min="ngModel"  id="minText" name="min" [(ngModel)]="val.value" #val3      min="0" />
                        </span>
                        <span>
                          <label for="maxText">Max value</label>
                          <input type="number" ngModel #max="ngModel"  id="maxText" name="max" [(ngModel)]="val2.value"  min="10000" />
                        </span>
                        <div class="range">
                          <input type="range" #val min="0" max="10000" value="0" step="500"  id="minRange" (change)="rangePri1(val)"  >
                          <input type="range"   #val2  min="0" max="10000" value="10000" id="maxRange" (change)="rangePri2(val2)">
                         </div>
                        </div>

                </div>
            </div>
            
           
            <div class="filter-content border-bottom">
                <a class="filter d-flex justify-content-between align-items-center sec-bg p-3 text-dark font-weight-bold text-uppercase"
                    (click)="isCollapsed4 = !isCollapsed4" [attr.aria-expanded]="!isCollapsed4" aria-controls="collapseBasic">
                    <div class="">
                        <i class=" fas far fa-star"></i> Rating
                    </div>
        
                    <i class="fas" [ngClass]="{'fa-angle-down': isCollapsed4, 'fa-angle-up': !isCollapsed4}"></i>

                </a>
                <div id="collapseBasic" class="raat sec-bg p-3 pt-2" [collapse]="isCollapsed4" [isAnimated]="true">
                    <!-- <ngx-slider [(value)]="minValueRate" [(highValue)]="maxValueRate" [options]="optionsRate"></ngx-slider> -->
                    <input type="radio" name="" id="" value="checkedValue" class="custom-control-input">

                    <label class="form-check-label" for="exampleRadios1">
                        Default radio
                      </label>
                   


                </div>
            </div>
            <div class="filter-content border-bottom">
                <a class="filter d-flex justify-content-between align-items-center sec-bg p-3 text-dark font-weight-bold text-uppercase"
                    (click)="isCollapsed3 = !isCollapsed3" [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseBasic">
                    <div class="">
                        <i class="fas fa-plane-departure mr-2"></i>{{"Tour Type"|translate}}
                    </div>
        
                    <i class="fas" [ngClass]="{'fa-angle-down': isCollapsed3, 'fa-angle-up': !isCollapsed3}"></i>
                </a>
                <div id="collapseBasic" class="sec-bg p-3 pt-2" [collapse]="isCollapsed3" [isAnimated]="true">
                    <div *ngFor="let tour of tourType ; let i = index" class="form-check mb-2 d-flex align-items-center">
                        <input class="form-check-input"  #type  [value]="i+1" (change)="check(type)"  name="type" type="checkbox" value="" >
                        <label class="form-check-label" for="flexCheckDefault">
                            {{tour}}
                        </label>

                    </div>
                    <!-- <div class="form-check mb-2 d-flex align-items-center">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Group Tours
                        </label>
                    </div>
                    <div class="form-check mb-2 d-flex align-items-center">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Private Tours
                        </label>
                    </div>
                    <div class="form-check mb-2 d-flex align-items-center">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Self-Guided Tours
                        </label>
                    </div> -->
                </div>
                <button>add</button>
            </div>


            <!--  
            <div class="filter-content border-bottom">
                <a class="filter d-flex justify-content-between align-items-center sec-bg p-3 text-dark font-weight-bold text-uppercase"
                    (click)="isCollapsed5 = !isCollapsed5" [attr.aria-expanded]="!isCollapsed5" aria-controls="collapseBasic">
                    <div class="">
                        <i class="fas fa-user-plus mr-2"></i>Age Range
                    </div>
        
                    <i class="fas" [ngClass]="{'fa-angle-down': isCollapsed5, 'fa-angle-up': !isCollapsed5}"></i>
                </a>
                <div id="collapseBasic" class="sec-bg p-3 pt-2" [collapse]="isCollapsed5" [isAnimated]="true">
                </div>
            </div>
            <div class="filter-content border-bottom">
                <a class="filter d-flex justify-content-between align-items-center sec-bg p-3 text-dark font-weight-bold text-uppercase"
                    (click)="isCollapsed6 = !isCollapsed6" [attr.aria-expanded]="!isCollapsed6" aria-controls="collapseBasic">
                    <div class="">
                        <i class="fas fa-user-plus mr-2"></i>Tour Operator
                    </div>
        
                    <i class="fas" [ngClass]="{'fa-angle-down': isCollapsed6, 'fa-angle-up': !isCollapsed6}"></i>
                </a>
                <div id="collapseBasic" class="sec-bg p-3 pt-2" [collapse]="isCollapsed6" [isAnimated]="true">
                </div>
            </div> -->
        </form>

        </section>
    </div> 


<section  class="col-12 col-md-9">
    

    <h2 class="info main-bg text-white font-weight-bold">{{count}} {{nameCountry}} 
        {{"Tour Packages"|translate}}</h2>

    <div>

        <ng-container *ngFor="let singleDes of Filter">
            <div class="data-box   bg-white mt-3 p-2">
                <div id="pack" class="row mx-0 ">
                    <div class="col-xl-10 ">
                        <div class="card border-0">
                            <div class="row px-0 ">

                                <div class="col-md-5 px-0">
                                    <img class="img-fluid package-img"
                                        src="{{singleDes.package_thumb=='1'?image: singleDes.package_thumb}}">
                                    <p *ngIf="singleDes.hot_offer" class="affe">
                                        <span class="offerr">
                                            {{"Hot Offer"|translate}}
                                        </span>
                                    </p>

                                    <p *ngIf="singleDes.top_sale" class="top-sale">
                                        <span class="sale ">
                                            {{"Best Sale"|translate}}
                                        </span>
                                    </p>
                                    <p *ngIf="singleDes.discount" class="orang">
                                        <span  *ngIf="singleDes.discount!==null" class="orang-sale ">
                                            
                                                {{singleDes.discount + "% off"}}
                                        </span>
                                    </p>
                                    <div class="map-details border mt-2">
                                        <div class="row mx-0 px-0">
                                            <div class="col-12 px-0">
                                                <div class="embed-responsive">
                                                    <iframe class="embed-responsive-item"
                                                        [src]="singleDes.location_package_map|safe"
                                                        allowfullscreen=""></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 px-0">
                                    <div
                                        class="card-body  package-content pt-0 pb-1 h-100  d-flex flex-column justify-content-between">
                                        <h5 class="card-title font-weight-bold mb-2 mt-3">{{singleDes.package_name}}
                                        </h5>
                                        <div>
                                            <div>

                                                <rating class="rate" [(ngModel)]="singleDes.rate" 
                                                    [readonly]="isReadonly">

                                                </rating>
                                                <span class="reviews"> of  {{"Reviews"|translate}}</span>

                                            </div>

                                        </div>

                                        <p class="package-text" [innerHTML]="singleDes.package_description"></p>

                                        <div class="tour">
                                            <div class="  font-weight-bold pl-2  d-flex justify-content-between ">{{"Tour Type"|translate}}: </div>
                                            <div class="pl-2 " *ngFor="let x of singleDes.tour_type"> <img
                                                    src="../../../../../assets/imgs/dot.svg" class="dot"> {{ x}}
                                            </div>
                                        </div>

                                        <div class="row mt-2 px-0">
                                            <div class="col-6 col-sm-4 px-0">
                                                <div class="advatnage">
                                                    <i class="fas fa-eye main-color"></i>
                                                    <span class="text-center ml-1">{{singleDes?.number_highlights}}
                                                        {{"Highlights"|translate}} </span>
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-4 px-0">
                                                <div class="advatnage">
                                                    <i class="fas fa-clipboard-list main-color"></i>
                                                    <span class="text-center ml-1">{{singleDes?.itinerary}} {{"Days"|translate}}</span>

                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-4 px-0">
                                                <div class="advatnage">
                                                    <i class="fas fa-hotel main-color"></i>
                                                    <span class="text-center ml-1">{{singleDes?.accommodations}}
                                                        {{"Hotels"|translate}}</span>
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-4 px-0">
                                                <div class="advatnage">
                                                    <i class="fas fa-utensils main-color"></i>
                                                    <span class="text-center ml-1">{{singleDes?.meals}} {{"Meals"|translate}}</span>
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-4 px-0">
                                                <div class="advatnage">
                                                    <i class="fas fa-plane main-color"></i>
                                                    <span class="text-center ml-1">{{singleDes?.flights}} {{"Flights"|translate}}</span>
                                                </div>
                                            </div>

                                            <div class="col-6 col-sm-4 px-0">
                                                <div class="advatnage">
                                                    <i class="fab fa-guilded main-color"></i>
                                                    <span class="text-center ml-1">{{singleDes?.guid_tour}} {{"Guided Tour"|translate}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-2 px-0 ">
                        <div class="pricing text-center h-100 sec-bg">
                            <div class=" ">
                            <span>{{"Pricing"|translate}}</span>
                            <h4 class="font-weight-bold mb-2">{{"Start From"|translate}}</h4>
                            <span class="price main-color font-weight-bold">${{singleDes.start_price}} USD</span>
                            <p class="text-left my-2 mb-3">{{singleDes.duration_in_days}}
                                {{"Days"|translate}}/{{singleDes.duration_in_days -x}} {{"Nights"|translate}}
                            </p>
                            <a class="main-btn p-2 view d-block mb-2 font-weight-bold" 
                                routerLink="/{{singleDes.destination_slug}}/travel-package/{{singleDes.package_slug}}">{{"View Tour Details"|translate}}</a>

                            <a class="main-btn book bg-white p-2 d-block font-weight-bold pt-2"
                                (click)="openVerticallyCentered(content)">{{"Booking Inquiry"|translate}}</a>
                        </div>
                    </div>
                        <ng-template #content let-modal>
                            <div class="modal-body">


                                <section class="bg-white mt-3 px-3 py-4 booking">
                                    <div class="head mb-2">
                                        <h3 class="font-weight-bolder">{{"Package Booking"|translate}}</h3>
                                    </div>
                                    <form class="mt-4">
                                        <div class="starting-date">
                                            <h6>Preferred starting Date</h6>
                                            <div class="form-row text-center">
                                                <div class="col">
                                                    <input class="form-control" type="text">
                                                    <span class="text-center">MM</span>
                                                </div>
                                                <div class="col">
                                                    <input class="form-control" type="text">
                                                    <span class="text-center">DD</span>
                                                </div>
                                                <div class="col">
                                                    <input class="form-control" type="text">
                                                    <span class="text-center">YY</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="select-package mt-3">
                                            <h5>Select Your Tour Package</h5>
                                            <div class="form-row">
                                                <div class="col">
                                                    <select class="form-control">
                                                        <option>Select Your Tour Package</option>
                                                        <option>Test</option>
                                                        <option>Test</option>
                                                        <option>Test</option>
                                                        <option>Test</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="select-package mt-3">
                                            <h5>Total number of Travelers</h5>
                                            <div class="form-row">
                                                <div class="col">
                                                    <select class="form-control">
                                                        <option></option>
                                                        <option>Test</option>
                                                        <option>Test</option>
                                                        <option>Test</option>
                                                        <option>Test</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="informations mt-3">
                                            <h5>Your Information</h5>
                                            <div class="form-row">
                                                <div class="col-12 mb-3">
                                                    <label for="email">Your E-mail</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="col">
                                                    <label>Your Name</label>
                                                    <input type="text" class="form-control" placeholder="First Name">
                                                </div>
                                                <div class="col">
                                                    <label>Last Name</label>
                                                    <input type="text" class="form-control" placeholder="Last Name">
                                                </div>
                                                <div class="col-12 mt-3">
                                                    <label>Any additional request to add?</label>
                                                    <textarea class="form-control" rows="5"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="main-btn w-100 mt-3">
                                            {{"Send Your Enquiry"|translate}}</button>
                                    </form>
                                </section>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>


</section>

</div>



