<section>
   
    <h2 class="info main-bg text-white font-weight-bold">208 Egypt Tour Packages with <span>756 Reviews</span></h2>
    <ng-container *ngFor="let singleDes of destinationContainer">
        <div class="data-box bg-white mt-3 p-2">
            <div class="row mx-0">
                <div class="col-xl-10">
                    <div class="card border-0">
                        <div class="row px-0">
                            <div class="col-md-5 px-0">
                                <img src="{{singleDes.package_thumb}}" class="img-fluid package-img">
                                <div class="map-details border mt-2">
                                    <div class="row mx-0 px-0">
                                        <div class="col-12 px-0">
                                            <div class="embed-responsive">
                                                <iframe class="embed-responsive-item"
                                                    [src]="singleDes.location_package_map|safe"
                                                    allowfullscreen=""></iframe>
                                            </div>
                                        </div>
                                        <!-- <div class="col-5 px-0">
                                            <div class="details d-flex flex-column justify-content-center h-100 py-2 px-1">
                                                <p class="font-weight-bold d-flex align-items-center">Start
                                                    <span class="text-dark ml-2"> Cairo </span>
                                                </p>
                                                <p class="font-weight-bold d-flex align-items-center">Ends <span
                                                        class="text-dark ml-2">Nile Cruise</span></p>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 px-0">
                                <div class="card-body package-content pt-0 pb-1">
                                    <h5 class="card-title font-weight-bold mb-2">{{singleDes.package_name}}</h5>
                                    <div class="rating mb-1">
                                        <!-- <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                                            (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                                            [titles]="['one','two','three']"></rating> -->
                                        <span class="ml-2">of 2 reviews</span>
                                    </div>
                                    <p class="package-text" [innerHTML]="singleDes.destination_description"></p>
                                    <p class="text-dark hashtag"><span class="font-weight-bold text-dark">Tour Type :
                                        </span> Group
                                        Tour</p>
                                    <p class="text-dark hashtag"><span class="font-weight-bold text-dark">Accommodation:
                                            :
                                        </span>
                                        Guest House</p>
                                    <div class="row mt-2 px-0">
                                        <div class="col-6 col-sm-4 px-0">
                                            <div class="advatnage">
                                                <i class="fas fa-highlighter main-color"></i>
                                                <span class="text-center ml-1">Highlights</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-4 px-0">
                                            <div class="advatnage">
                                                <i class="fas fa-clipboard-list main-color"></i>
                                                <span class="text-center ml-1">Itinerary</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-4 px-0">
                                            <div class="advatnage">
                                                <i class="fas fa-hotel main-color"></i>
                                                <span class="text-center ml-1">Hotels</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-4 px-0">
                                            <div class="advatnage">
                                                <i class="fas fa-utensils main-color"></i>
                                                <span class="text-center ml-1">Meals</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-4 px-0">
                                            <div class="advatnage">
                                                <i class="fas fa-video main-color"></i>
                                                <span class="text-center ml-1">Videos</span>
                                            </div>
                                        </div>

                                        <div class="col-6 col-sm-4 px-0">
                                            <div class="advatnage">
                                                <i class="fas fa-question main-color"></i>
                                                <span class="text-center ml-1">Included</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-2 px-0">
                    <div class="pricing text-center h-100 sec-bg">
                        <span>Pricing</span>
                        <h4 class="font-weight-bold mb-2">Start From</h4>
                        <span class="price main-color font-weight-bold">{{singleDes.start_price}}USD</span>
                        <p class="text-left my-2 mb-3">{{singleDes.duration_in_days}} Nights / 08 Days 03 Nights in
                            Cairo + 04 Nights Nile Cruise
                        </p>
                        <a class="main-btn p-2 d-block mb-2 font-weight-bold" (click)="setId(singleDes.package__id)" 
                        routerLink="/{{singleDes.destination_slug}}/travel-package/{{singleDes.package_slug}}">View Tour Details</a>
                        <a class="main-btn book bg-white p-2 d-block font-weight-bold" href="#">Booking Inquiry</a>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</section>