<section *ngIf="side.length >0" class="bg-white mt-3  py-4">
    <div class="head mb-2 text-center">

        <h3 class="font-weight-bolder">{{"Travel Expert Reviews"|translate}}</h3>
    </div>
    <div class="">
        <ul *ngFor="let item of side" class="p-0">
            <li class=" list-group-item d-flex justify-content-center px-0 py-2 mb-2">
                <a target="_blank" href="{{item?.link}}"><img [src]="item?.image" alt="{{item?.image_alt}}" class="img-rev"></a>

            </li>
            
        </ul>
    </div>
</section>