<app-second-banner></app-second-banner>
<app-page-links></app-page-links>
<section class="sec-bg p-3 mb-5">
    <div class="container">
        <app-tags></app-tags>

        
        <div class="row mt-4">
            <div class="col-12 col-md-9">
                <!-- egypt splendor -->
                <app-egypt-splendor></app-egypt-splendor> 
 
                <!-- end egypt-splendor -->


                <!-- hightlightes -->
                <app-hightlightes></app-hightlightes>

                <!-- end hightlightes -->

                <!-- included -->

                <app-package-included></app-package-included>
                <!-- end included -->
 
                <app-prices-dates></app-prices-dates>

                <app-trav-exp></app-trav-exp>   
            </div>
            <div class="col-12 col-md-3">
                <app-aside></app-aside>
            </div>
        </div>
    </div>
</section>  
<app-accomodation></app-accomodation>

<!-- videos -->

<app-sponsors-logo></app-sponsors-logo>
<app-sponsorss></app-sponsorss>