

@font-face {
    font-family: satisfy;
    src: url("/assets/fonts/Satisfy-Regular.ttf") format("truetype");
}
* {
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif !important; */

}
.main-color {
    color: #f68800;
}
.main-bg{
    background-color: #f68800;
}
.sec-color {
    color: #7f7f89;
}
.sec-bg{
    background-color: #f4f4f9;
}
ul {
    list-style: none;
}
.main-btn {
    background-color: #f68800;
    color: #fff;
    padding: 10px 25px;
    cursor: pointer;
    transition: all .5s;
    border: 0px;
    border-radius: 5px;
}
.main-btn:hover {
    color: #fff;
    text-decoration: none;
}
.head-title h2 {
    font-size: 2.5rem;
    font-weight: 800;
}
.sat-font {
    font-family: satisfy, cursive;
    font-size: 1.5rem;
}
.bs-rating-star {
    color: #f68800 !important;
    font-size: 20px;
}
.sponsors .carousel-cell img {
    height: 62px !important;
    width: 132px !important;
    display: block;
    margin: auto;
    margin-top: 35px;
}
.tour-slider .carousel-cell img {
    height: 175px !important;
    object-fit: cover !important;
}
.alaadin-banner .carousel-cell img {
    height: 85vh;
    width: 100%;
} 
.head-title h2{
    font-size: 1.5rem;
    font-weight: 700;
}
h1
h2 {
    font-size: 1.5rem;
}
h3
.head-title p{
    font-size: 18px;
    font-weight: 300;
}
/* start second banner */
.sec-banner {
    height: 60vh;
    background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0 ,0 ,0, .5)) ,url('../src/assets/imgs/Best-Egypt-Jordan-9-min.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec-banner .head h1 {
    border-bottom: 1px solid rgba(255, 255, 255, .6);
}
.sec-banner p {
    font-size: .9rem;
}
.phone-icon {
    background-color: black;
    padding: 10px 25px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.phone-text{
    background-color: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px 25px;
}
/* end second banner */
/*start destination */

.destination-details img {
    height: 16rem;
    object-fit: cover;
    border-radius: 8px;
    transition: all 0.5s ease 0s;
}
.destination-details:hover img {
    transform: scale(1.1)
}
.destination-details {
    position: relative;
    margin-top: 1rem;
    border-radius: 8px;
    overflow: hidden;
}
.destination-details .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease 0s;
}
.destination-details .overlay a {
    background-color: rgba(0, 0, 0, .5);
    padding: .5rem 3rem;
    box-shadow: 0 0 0 4px rgb(255 255 255 / 40%);
    border-radius: 3px;
    font-size: 1.4rem;
    transition: all .3s;
    transition: all 0.2s ease 0s;
    visibility: hidden;
}
.destination-details:hover .overlay a {
    visibility: visible;
}
.card-title{
    font-size: 16px;
}
/* end destination */

html, body { height: 100%; }
body { margin: 0;     font-family: 'Poppins', sans-serif 
}

html, body { height: 100%; }
body { margin: 0;   font-family: 'Poppins', sans-serif !important;
}
@media only screen  and (max-width:767px){
    .head-title h2 {
        font-size: 2rem;
    }
    

}

.ngx-gallery { display: inline-block; margin-bottom: 20px; }

.hover-color{
    color: #000;
    text-decoration: none;
}
.hover-color:hover{
    color: #f68800;
    text-decoration: none;
}

/* font-family: 'Poppins', sans-serif !important; */

::ng-deep .owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 20px !important;
    margin: 5px;
    padding: 10px;
    background: #f68800;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}