<section id="Itinerary" class="bg-white mt-3 px-2 py-4">
    <div class="container">
        <div class=" head-title  mb-4">
            <div class="head mb-2">
                <h1 class="h5">{{guide.name}}</h1>
                <p [innerHTML]="guide.overview"></p>
            </div>
           

           
           <span class="font-weight-bold">  Included  </span>
                <span *ngFor='let x of guide.included'>
                    <span> {{x.content}} , </span>
                </span>
         
            </div>

    </div>
</section>