<section id="Itinerary" class="bg-white mt-3 px-2 py-4">
    <div class="container">
        <div class="splendor mb-4">
            <div class="head mb-2">
                <h3 class="font-weight-bold">{{guide.name}}</h3>
            </div>
           
            <h4 [innerHTML]="guide.description"></h4>
           <span class="font-weight-bold">  Included  </span>
                <span *ngFor='let x of guide.included'>
                    <span> {{x.content}} , </span>
                </span>
         
            </div>

    </div>
</section>