footer {
    background-image: url('../../../assets/imgs/customheader2.jpg');
    background-repeat: no-repeat;
    min-height: 485px;
    background-position: 100% 100%;
    position: relative;
    background-size: cover;
    overflow: hidden;

}
/* .accept img{
    width: 300% !important;

} */
.we{
    color: white;
}
.acc{
    background-color:#f68800 ;
}

footer .shortcuts{
    width: 80%;
    margin-left: 18%;
}
footer .shortcuts h6{
   font-size: 16px;
}
footer .shortcuts h6::after {
    content: "";
    width: 25px;
    height: 2px;
    background-color: #f8da22;
    position: absolute;
    top: 50%;
    margin-left: 10px;
}
footer .shortcuts li::before{
    content: "\2022";
    color: #f68800;
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    margin-left: -1.2rem;
    font-size: 1.2rem;
}
footer .shortcuts li a:hover {
    color: #f68800 !important;
    cursor: pointer;
    transition: all .3s ;
}
.contact p {
    font-size: 13px;
    line-height: 1.3;
}
.footer-links i {
    font-size: 25px;
}
.copyright
{
    transform: translateY(30px);
    color: #fff;
    display: flex;

    font-size: 14px;
    justify-content: space-between ;
}
.link-copyright a{
    color: black;
    transition: ease .5s;
}
.link-copyright a:hover {
    text-decoration: black;
    font-size: 13.5px;
}
footer .shortcuts li{
    box-sizing: content-box;
}
.link-social{
    display: flex;
    justify-content: center;
}
.social i{
   margin-left:5px ;
   color: #fff;
   font-size: 16px;
}
.fb:hover i
{
    color: rgb(3, 30, 185);
}
.ins:hover i
{
    color: rgb(172, 12, 187);
}
.twt:hover i , .lin:hover i
{
    color: rgb(6, 126, 238);
}
.pain:hover i , .yout:hover i
{
    color: rgb(238, 6, 6);
}

@media only screen and (min-width: 1550px){
    .footer{
        min-height: 0;
    }
    footer .shortcuts{
        width: 100%;
        margin-left: 9%;
    }
    .copyright{
        transform: translateY(35px);
        
    }
    footer .shortcuts h6{
        font-size: 20px;
     }
     footer .shortcuts a{
        font-size: 1rem;
     }
    .footer-links img {
        width: 32px;
        margin-right: 2px;
    }

    
}
@media only screen and (max-width: 1550px){
    .footer{
        min-height: 0;
    }
    footer .shortcuts{
        width: 100%;
        margin-left: 9%;
    }
    .copyright{
        transform: translateY(35px);
        
    }
    footer .shortcuts h6{
        font-size: 12px;
     }
     footer .shortcuts a{
        font-size: .7rem;
     }
    .footer-links img {
        width: 32px;
        margin-right: 2px;
    }

    
}
@media only screen and (max-width: 1440px){
    .footer{
        min-height: 0;
    }
    footer .shortcuts{
        width: 100%;
        margin-left: 9%;
    }
    .copyright{
        transform: translateY(35px);
        
    }
    footer .shortcuts h6{
        font-size: 12px;
     }
     footer .shortcuts a{
        font-size: .7rem;
     }
    .footer-links img {
        width: 32px;
        margin-right: 2px;
    }

    
}
@media only screen and (max-width: 1300px){
    .footer{
        min-height: 0;
    }
    footer .shortcuts{
        width: 100%;
        margin-left: 9%;
    }
    .copyright{
        transform: translateY(50px);
        
    }
    footer .shortcuts h6{
        font-size: 12px;
     }
     footer .shortcuts a{
        font-size: .7rem;
     }
    .footer-links img {
        width: 32px;
        margin-right: 2px;
    }

    
}
@media only screen and (max-width: 1200px){
    footer .shortcuts{
        width: 100%;
        margin-left: 9%;
    }
    footer .shortcuts h6{
        font-size: 12px;
     }
     footer .shortcuts a{
        font-size: .630rem;
     }
    .copyright{
        font-size: 12px;
        
    }
    .footer-links img {
        width: 32px;
        margin-right: 10px;
    }

    
}
@media only screen and (max-width: 1300px){
    footer .shortcuts{
        width: 100%;
        margin-left: 9%;
    }
    .copyright{
        
    }
    .footer-links img {
        width: 32px;
        margin-right: 2px;
    }

    
}

@media only screen and (max-width: 1024px){
    .footer {
       
        min-height: 400px;
       
    
    }
    footer .shortcuts{
        width: 100%;
        margin-left: 2%;
    }
    footer .shortcuts h6{
        font-size: 10px;
     }
     footer .shortcuts a{
        font-size: .5rem;
     }
    .copyright{
        transform: translateY(50px);
        font-size: 12px;
        
    }
    .footer-links img {
        width: 32px;
        margin-right: 2px;
    }

    
}

@media only screen and (max-width: 786px){
   .copyright{
       transform: translateY(0);
       flex-direction: column-reverse;
       text-align: center;
   }
   .footer-links i {
    font-size: 20px;
}
footer .shortcuts h6{
    font-size: 12px;
 }
 footer .shortcuts a{
    font-size: 1rem;
 }

}



@media only screen and (max-width : 480px){
    footer {
        min-height: 800px;
        background-position: bottom;
        background-size: contain;
    }
    footer .shortcuts{
        width: 100%;
        
    }
    
    .link-copyright {
        color: black;
        transition: ease .5s;
        
    }
   
    .link-copyright a{
        color: rgba(243, 133, 8, 0.959);
        transition: ease .5s;
    }
    .link-copyright a:hover {
        text-decoration: black;
        font-size: 9px;
    }
    .copyright{
        color: black;
        font-size: 11px;
        padding: 20px;
        margin-bottom: 20px;
    }
    
    .social i{
        margin-left:5px ;
        color: #f68800;
        font-size: 16px;
     }
    
}