<section class="bg-white mt-3 px-2 py-4">
    <div class="container">

        <div>

            <div class="buttons py-3">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                            aria-controls="pills-home" aria-selected="true">
                            <img src="assets/imgs/e1.png" class="img-fluid"/>
                            Itinerary</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profilee" role="tab"
                            aria-controls="pills-profile" aria-selected="false">
                           
                            Included</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contactt" role="tab"
                            aria-controls="pills-contact" aria-selected="false">
                   
                            Prices & Dates</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                            aria-controls="pills-profile" aria-selected="false">

                            Highlights</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                            aria-controls="pills-contact" aria-selected="false"> Travel Experiences</a>
                           
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pillss-contact" role="tab"
                            aria-controls="pills-contact" aria-selected="false">Accommodation</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">


                    <div class="splendor mb-4">
                        <div class="head mb-4">
                            <h3 class="font-weight-bold">{{guide.name}}</h3>
                        </div>
                        <p>{{num}} nights / {{guide.days}} days</p>
                        <p [innerHTML]="guide.overview"></p>

                        <div class="package-itinerary">
                            <div class="head mb-4">
                                <h3 class="font-weight-bold">Package Itinerary</h3>
                            </div>

                        </div>

                        <div class="package">
                            <div *ngFor='let day of guide.day_data' class="package-details">
                                <h3 class="position-relative">

                                    <span class="font-weight-bold">Day {{day.day_number}} :- {{day.day_title}}</span>
                                    <div class="number d-none d-xl-block">
                                        <p class="main-bg text-center d-flex align-items-center justify-content-center">

                                            <span
                                                class="d-flex align-items-center justify-content-center text-white m-auto">{{day.day_number}}</span>
                                        </p>
                                    </div>
                                </h3>
                                <p [innerHTML]="day.day_summary"></p>
                                <div class="offers d-flex">
                                    <div class="meal mr-2">
                                        <img src="assets/imgs/meal.svg" />
                                        <span>Meals : </span>
                                    </div>
                                    <div class="meal-details d-flex">
                                        <div class="detail">
                                            <img [src]="day.breakfast ?  imageTrue  :  imageFalse" />
                                            <span>breakfast</span>
                                        </div>
                                        <div class="detail ml-2">
                                            <img [src]="day.lunch ? imageTrue : imageFalse" />
                                            <span>Lunch</span>
                                        </div>
                                        <div class="detail ml-2">
                                            <img [src]="day.dinner ? imageTrue  : imageFalse" />
                                            <span>dinner</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="pills-profilee" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <app-package-included></app-package-included>
                </div>
                <div class="tab-pane fade" id="pills-contactt" role="tabpanel" aria-labelledby="pills-contact-tab">

                    <app-prices-dates></app-prices-dates>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <app-hightlightes></app-hightlightes>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <app-trav-exp></app-trav-exp>
                </div>
                <div class="tab-pane fade" id="pillss-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

                    <app-accomodation></app-accomodation>
                </div>
            </div>
        </div>






    </div>


</section>
<!-- <owl-carousel-o [options]="customOptions">
    <ng-template *ngFor='let page of relatedPages'  carouselSlide>
                   <div class="slide">
   <div class="blogs overflow-hidden">
                       <a  routerLink="/{{singleDestination[0].slug}}/{{content.slug}}" (click)="setSlug(content.slug)"  class="text-dark">
                           <div class="card main-card text-center">
                               <img [src]="content.thumb || image" class="img-fluid" alt=" {{content.thumb_alt}}">
                              
                               <div class="card-body card-details">
                                   <h5 class="card-title "> {{content.name || 'Travel Guide'}}  </h5>
                                   
                               </div>
                           </div>
                       </a>
                   </div>
   </div>
   </ng-template>
   </owl-carousel-o> -->


<section class="py-5 ">
    <h1>Related Packages</h1>

    <owl-carousel-o>
        <ng-template *ngFor='let guid of guide.related_packages' carouselSlide>
            <div class="slide">
                <div class="blogs overflow-hidden">
                    <a routerLink="/{{guide.slug}}" (click)="setSlug(guide.id)" class="text-dark">
                        <div class="card main-card text-center">
                            <img alt="{{guid.thumb_alt}}" [src]="guid.thumb " class="img-fluid ">
    
                            <div class="card-body card-details">
                                <h5 class="card-title "> {{guide.name}} </h5>
    
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</section>