<section id="Itinerary" class="bg-white mt-3 px-2 py-4">
    <div class="container">
        <div class="splendor mb-4">
            <div class="head mb-2">
                <h1 class=" h3 font-weight-bold">{{guide.name}}</h1>
            </div>
            <h6 class="mt-1">{{num}} {{"nights"|translate}} / {{guide.days }}{{" days" |translate}}</h6>
            <p [innerHTML]="guide.overview"></p>
        </div>

        <div class="d-flex flex-wrap m-2 text-muted">
            <span class="mt-2 font-weight-bold">{{"Tour Type"|translate}} : </span>


            <span class="tour ml-2 mt-2" *ngFor='let ggu of tour'> 
            <img src="../../../../../assets/imgs/dot.svg" class="dot">
             {{ ggu}}
             
             </span>
             

        </div>

        <div class="package-itinerary">
            <div class="head mb-4 mt-2">
                <h2 class=" h3 font-weight-bold">{{"Itinerary"|translate}} </h2>
            </div>
            <div class="package-details" class="package">
                <div *ngFor='let day of guide.day_data' class="package-details">
                    <h3 class="position-relative">
                        <div class="py-2">
                            <span class="font-weight-bold py-2">{{"Day"|translate}} {{day.day_number}} :- {{day.day_title}}</span>
                        </div>
                        <div class="number d-none d-xl-block">
                            <p class="main-bg text-center d-flex align-items-center justify-content-center">
                                <span
                                    class="d-flex align-items-center justify-content-center text-white m-auto">{{day.day_number}}</span>
                            </p>
                        </div>
                    </h3>
                    <p [innerHTML]="day.day_summary"></p>
                    <div class="offers d-flex">
                        <div class="meal mr-2 ml-2 py-2">
                            <img src="assets/imgs/meal.svg" />
                            <span>{{"Meals"|translate}} </span>
                        </div>
                        <div class="meal-details d-flex">
                            <div class="detail ml-2 py-2">
                                <img [src]="day.breakfast ?  imageTrue  : imageFalse " />
                                <span>{{"breakfast"|translate}}</span>
                            </div>
                            <div class="detail ml-2 py-2">
                                <img [src]="day.lunch ? imageTrue : imageFalse" />
                                <span>{{"Lunch"|translate}}</span>
                            </div>
                            <div class="detail ml-2 py-2">
                                <img [src]="day.dinner ? imageTrue  : imageFalse" />
                                <span>{{"dinner"|translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>