<section *ngIf="package" id="trav" class="bg-white mt-3 px-2 py-4">
    <div class="container">
        <div class="head mb-4">
            <h3 class="font-weight-bold">Package Travel Experiences</h3>
        </div>
        <div class="">
            <ul class="list-group p-0">
                <li  *ngFor='let e of ex.travel_experiences' class="list-group-item d-flex px-0 py-2">
                    <img src="assets/imgs/dot.svg" class="img-fluid">
                    <span [innerHTML]="e"></span>
                </li>

            </ul>
        </div>
    </div>
  </section>


  <section *ngIf="cruise" id="trav" class="bg-white mt-3 px-2 py-4">
    <div class="container">
        <div class="head mb-4">
            <h3 class="font-weight-bold">Package Travel Experiences</h3>
        </div>
        <div class="">
            <ul class="list-group p-0">
                <li *ngFor='let cruis of cruises?.travel_experiences'
                    class="list-group-item d-flex px-0 py-2">
                    <img src="assets/imgs/dot.svg" class="img-fluid">
                    <span [innerHTML]="cruis"></span>
                </li>
            </ul>
        </div>
    </div>
</section>
