<section class="alaadin-banner text-center">
    <mdb-carousel  [isControls]="true" class="carousel slide" [animation]="'fade'">
        <mdb-carousel-item *ngFor="let slider of sliderContainer">
            <div  class="view w-100">
                <img  [src]="slider.image.type?slider.image.url:''" class="img-fluid w-100" />
                 
            </div>
            <div class="carousel-caption">
                <div class="animated delay-1s">
                    <h3 class="h3-responsive">{{slider.title}}</h3>
                    <p>{{slider.small_text}}</p>
                    <div class="row">
                        <div class="col-12 col-md-3"></div>
                        <div class="col-12 col-md-6">
                            <div class="input-group">
                                <input type="search" class="form-control rounded" placeholder="Enter Destination Name"
                                    aria-label="Search" aria-describedby="search-addon" />
                                <button type="button" class="btn main-btn" ><i class="fas fa-search"></i> Search
                                    Now</button>
                            </div>
                        </div>
                        <div class="col-12 col-md-3"></div>
                    </div>
                </div>
            </div>
        </mdb-carousel-item>


    </mdb-carousel>
</section>