<section class="alaadin-banner text-center">

        <mdb-carousel  [isControls]="true" class="carousel slide" [animation]="'fade'">
            <mdb-carousel-item #imge *ngFor="let img of image|slice:1">
                <div class="private" >
                    <div id="image"  class="view w-100">
                        <img  [src]="img.img"  class="img-fluid w-100" />
                        
                    </div>
                </div>                              
                <div class="carousel-caption">
                    <div class="animated delay-1s">
                        <h1 class="h3-responsive">{{img.title}}</h1>
                        <p>{{img.small_text}}</p>
                        <div class="row">
                            <div class="col-12 col-md-3"></div>
                            <div class="col-12 col-md-6">
    
                            </div>
                            <div class="col-12 col-md-3"></div>
                        </div>
                    </div>
                </div>
            </mdb-carousel-item>           
        </mdb-carousel>
        
        <div class="private" *ngFor="let video of videos|slice:1" >
                        
          <div id="video" class="videos w-100">
              <video class="vid" autoplay [muted]="true"  loop   [src]="video.video" >
                  <source  [src]="video.video">
              </video>
          </div>
          <div class="layout">
            <div class="carousel-caption">
              <mdb-carousel  [isControls]="true" class="carousel slide" [animation]="'fade'">
                <mdb-carousel-item  class="slide-height"> 
                  <div class="animated delay-1s w-75 m-auto">
                    <img class="img-fluid mb-3" src="../../../assets/imgs/trustpilot.png" alt="" >
                    <h1 class="h3-responsive">{{video.title}}</h1>
                    <p>{{video.small_text}}</p>
                      </div>
                </mdb-carousel-item >
                <mdb-carousel-item >
                  <div class="animated delay-1s w-75 m-auto">
                    <img class="img-fluid" src="../../../assets/imgs/trustpilot.png" alt="" >
                    <h1 class="h3-responsive"> EGYPT TRAVEL EXPERTS </h1>
                    <p></p>
                      </div>
                </mdb-carousel-item >
              </mdb-carousel>
              
              </div>
          </div>
      </div>
</section>